OLD_PIPELINE/pipeline/PIPELINE_FOR_AIA_COMMISSION_CALCULATION.json
{
	"name": "PIPELINE_FOR_AIA_COMMISSION_CALCULATION",
	"properties": {
		"activities": [
			{
				"name": "UpdateStatusInProgress",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "UpdateAuditStatusInProgress",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[AIA_102].[AIA_CWKF_SP_UPDATE_COMMISSION_STATUS]",
					"storedProcedureParameters": {
						"Month": {
							"value": {
								"value": "@pipeline().parameters.Month",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Year": {
							"value": {
								"value": "@pipeline().parameters.Year",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Week": {
							"value": {
								"value": "@pipeline().parameters.Week",
								"type": "Expression"
							},
							"type": "String"
						},
						"Type": {
							"value": {
								"value": "@pipeline().parameters.CommissionType",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": "IN PROGRESS",
							"type": "String"
						},
						"AuditID": {
							"value": {
								"value": "@pipeline().parameters.AuditID",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServer_msluat",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ExecuteCommissionProcess",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "UpdateStatusInProgress",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[AIA_102].[AIA_CWKF_SP_COMMISSION_PROCESS_WRAPPER]",
					"storedProcedureParameters": {
						"Month": {
							"value": {
								"value": "@pipeline().parameters.Month",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Year": {
							"value": {
								"value": "@pipeline().parameters.Year",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Week": {
							"value": {
								"value": "@pipeline().parameters.Week",
								"type": "Expression"
							},
							"type": "String"
						},
						"Type": {
							"value": {
								"value": "@pipeline().parameters.CommissionType",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServer_msluat",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "UpdateStatusSuccess",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ExecuteCommissionProcess",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[AIA_102].[AIA_CWKF_SP_UPDATE_COMMISSION_STATUS]",
					"storedProcedureParameters": {
						"Month": {
							"value": {
								"value": "@pipeline().parameters.Month",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Year": {
							"value": {
								"value": "@pipeline().parameters.Year",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Week": {
							"value": {
								"value": "@pipeline().parameters.Week",
								"type": "Expression"
							},
							"type": "String"
						},
						"Type": {
							"value": {
								"value": "@pipeline().parameters.CommissionType",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": "COMPLETED",
							"type": "String"
						},
						"AuditID": {
							"value": {
								"value": "@pipeline().parameters.AuditID",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServer_msluat",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "UpdateStatusFailure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ExecuteCommissionProcess",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[AIA_102].[AIA_CWKF_SP_UPDATE_COMMISSION_STATUS]",
					"storedProcedureParameters": {
						"Month": {
							"value": {
								"value": "@pipeline().parameters.Month",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Year": {
							"value": {
								"value": "@pipeline().parameters.Year",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Week": {
							"value": {
								"value": "@pipeline().parameters.Week",
								"type": "Expression"
							},
							"type": "String"
						},
						"Type": {
							"value": {
								"value": "@pipeline().parameters.CommissionType",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": "FAILED",
							"type": "String"
						},
						"AuditID": {
							"value": {
								"value": "@pipeline().parameters.AuditID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('ExecuteCommissionProcess').error.message",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServer_msluat",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "UpdateAuditStatusInProgress",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[AIA_102].[SP_LOG_COMMISSION_WORKFLOW_ETL]",
					"storedProcedureParameters": {
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Period": {
							"value": {
								"value": "@concat(string(pipeline().parameters.Month), '/', string(pipeline().parameters.Year))",
								"type": "Expression"
							},
							"type": "String"
						},
						"CommissionType": {
							"value": {
								"value": "@pipeline().parameters.CommissionType",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": "IN PROGRESS",
							"type": "String"
						},
						"StartDateTime": {
							"value": {
								"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'Eastern Standard Time'), 'MM:dd:yyyy HH:mm:ss')",
								"type": "Expression"
							},
							"type": "String"
						},
						"Week": {
							"value": {
								"value": "@pipeline().parameters.Week",
								"type": "Expression"
							},
							"type": "String"
						},
						"AuditID": {
							"value": {
								"value": "@pipeline().parameters.AuditID",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServer_msluat",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "UpdateAuditStatusSuccess",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "UpdateStatusSuccess",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[AIA_102].[SP_LOG_COMMISSION_WORKFLOW_ETL]",
					"storedProcedureParameters": {
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": {
								"value": "COMPLETED",
								"type": "Expression"
							},
							"type": "String"
						},
						"EndDateTime": {
							"value": {
								"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'Eastern Standard Time'), 'MM:dd:yyyy HH:mm:ss')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServer_msluat",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "UpdateAuditStatusFailure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "UpdateStatusFailure",
						"dependencyConditions": [
							"Succeeded",
							"Failed"
						]
					},
					{
						"activity": "UpdateAuditStatusInProgress",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "UpdateStatusInProgress",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "ExecuteCommissionProcess",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "UpdateStatusSuccess",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "UpdateAuditStatusSuccess",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[AIA_102].[SP_LOG_COMMISSION_WORKFLOW_ETL]",
					"storedProcedureParameters": {
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": "FAILED",
							"type": "String"
						},
						"EndDateTime": {
							"value": {
								"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'Eastern Standard Time'), 'MM:dd:yyyy HH:mm:ss')",
								"type": "Expression"
							},
							"type": "String"
						},
						"Error": {
							"value": {
								"value": "@concat(\n  'UASIP: ', coalesce(activity('UpdateAuditStatusInProgress')?.error?.message, 'NA'),\n  ' | USIP: ', coalesce(activity('UpdateStatusInProgress')?.error?.message, 'NA'),\n  ' | ECP: ', coalesce(activity('ExecuteCommissionProcess')?.error?.message, 'NA'),\n  ' | USS: ', coalesce(activity('UpdateStatusSuccess')?.error?.message, 'NA'),\n  ' | USF: ', coalesce(activity('UpdateStatusFailure')?.error?.message, 'NA'),\n  ' | UASS: ', coalesce(activity('UpdateAuditStatusSuccess')?.error?.message, 'NA')\n)\n",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServer_msluat",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"Month": {
				"type": "int"
			},
			"Year": {
				"type": "int"
			},
			"Week": {
				"type": "string"
			},
			"CommissionType": {
				"type": "string"
			},
			"AuditID": {
				"type": "int"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-02-19T11:07:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}