DFMSLALLPRD/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DFMSLALLPRD"
		},
		"E2EIS_DEV_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'E2EIS_DEV'"
		},
		"E2EIS_PROD_HISTORY_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'E2EIS_PROD_HISTORY'"
		},
		"LS_SFTP_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SFTP'"
		},
		"LS_SQL_PROD_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQL_PROD'"
		},
		"SFTP_ETL_extract_file_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SFTP_ETL_extract_file'"
		},
		"Sftp1_connections_ALL_FEED_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Sftp1_connections_ALL_FEED'"
		},
		"Sftp_outgoing_file_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Sftp_outgoing_file'"
		},
		"SqlServere2eis_PROD_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SqlServere2eis_PROD'"
		},
		"e2eiS_UAT_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'e2eiS_UAT'"
		},
		"e2eis_APP_PROD_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'e2eis_APP_PROD'"
		},
		"E2EIS_DEV_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "dbserver-e2eis-prod.database.windows.net"
		},
		"E2EIS_DEV_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "E2EIS_DEV"
		},
		"E2EIS_DEV_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "msldev"
		},
		"E2EIS_PROD_HISTORY_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "dbserver-e2eis-prod.database.windows.net"
		},
		"E2EIS_PROD_HISTORY_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "e2eis_PROD_HISTORY"
		},
		"E2EIS_PROD_HISTORY_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Mslprod"
		},
		"LS_SFTP_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "sftpprd.msusportal.com"
		},
		"LS_SFTP_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sftpprdadmin"
		},
		"LS_SQL_PROD_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "dbserver-e2eis-prod.database.windows.net"
		},
		"LS_SQL_PROD_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "E2EIS_APP_PROD"
		},
		"LS_SQL_PROD_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Mslprod"
		},
		"SFTP_ETL_extract_file_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "sftpprd.msusportal.com"
		},
		"SFTP_ETL_extract_file_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adfsftp"
		},
		"Sftp1_connections_ALL_FEED_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "sftpprd.msusportal.com"
		},
		"Sftp1_connections_ALL_FEED_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sftpprdadmin"
		},
		"Sftp_outgoing_file_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "mendssftp.blob.core.windows.net"
		},
		"Sftp_outgoing_file_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "mendssftp.sftpadmin"
		},
		"SqlServere2eis_PROD_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "dbserver-e2eis-prod.database.windows.net"
		},
		"SqlServere2eis_PROD_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "E2EIS_PROD"
		},
		"SqlServere2eis_PROD_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "mslprod"
		},
		"e2eiS_UAT_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "dbserver-e2eis-prod.database.windows.net"
		},
		"e2eiS_UAT_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "e2eis_UAT"
		},
		"e2eiS_UAT_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "msluat"
		},
		"e2eis_APP_PROD_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "dbserver-e2eis-prod.database.windows.net"
		},
		"e2eis_APP_PROD_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "E2EIS_APP_PROD"
		},
		"e2eis_APP_PROD_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Mslprod"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/E2EIS_DEV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('E2EIS_DEV_properties_typeProperties_server')]",
					"database": "[parameters('E2EIS_DEV_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('E2EIS_DEV_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('E2EIS_DEV_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/E2EIS_PROD_HISTORY')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('E2EIS_PROD_HISTORY_properties_typeProperties_server')]",
					"database": "[parameters('E2EIS_PROD_HISTORY_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('E2EIS_PROD_HISTORY_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('E2EIS_PROD_HISTORY_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SFTP')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "used for ETL automation as source",
				"annotations": [],
				"type": "Sftp",
				"typeProperties": {
					"host": "[parameters('LS_SFTP_properties_typeProperties_host')]",
					"port": 22,
					"skipHostKeyValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('LS_SFTP_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SFTP_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL_PROD')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "sink connection for ETL automation with production database",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_SQL_PROD_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQL_PROD_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQL_PROD_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQL_PROD_password')]"
					},
					"integratedSecurity": "false"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SFTP_ETL_extract_file')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Sftp",
				"typeProperties": {
					"host": "[parameters('SFTP_ETL_extract_file_properties_typeProperties_host')]",
					"port": 22,
					"skipHostKeyValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('SFTP_ETL_extract_file_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SFTP_ETL_extract_file_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sftp1_connections_ALL_FEED')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Sftp",
				"typeProperties": {
					"host": "[parameters('Sftp1_connections_ALL_FEED_properties_typeProperties_host')]",
					"port": 22,
					"skipHostKeyValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('Sftp1_connections_ALL_FEED_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Sftp1_connections_ALL_FEED_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sftp_outgoing_file')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Sftp",
				"typeProperties": {
					"host": "[parameters('Sftp_outgoing_file_properties_typeProperties_host')]",
					"port": 22,
					"skipHostKeyValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('Sftp_outgoing_file_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Sftp_outgoing_file_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServere2eis_PROD')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('SqlServere2eis_PROD_properties_typeProperties_server')]",
					"database": "[parameters('SqlServere2eis_PROD_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('SqlServere2eis_PROD_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SqlServere2eis_PROD_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/e2eiS_UAT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('e2eiS_UAT_properties_typeProperties_server')]",
					"database": "[parameters('e2eiS_UAT_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('e2eiS_UAT_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('e2eiS_UAT_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/e2eis_APP_PROD')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('e2eis_APP_PROD_properties_typeProperties_server')]",
					"database": "[parameters('e2eis_APP_PROD_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('e2eis_APP_PROD_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('e2eis_APP_PROD_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ABI_COMMISSION_CALCULATION_APP_PROD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ABI_SP_PAYEE_RATE_DATA_TRANSFERS_STEP1",
						"description": "STEP 1",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[ABI_SP_PAYEE_RATE_DATA_TRANSFERS_STEP1]"
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ABI_SP_CONSOLIDATE_ALL_DATA_LOADS_STEP2",
						"description": "STEP 2",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ABI_SP_PAYEE_RATE_DATA_TRANSFERS_STEP1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[ABI_SP_CONSOLIDATE_ALL_DATA_LOADS_STEP2]",
							"storedProcedureParameters": {
								"Month": {
									"value": {
										"value": "@'07'",
										"type": "Expression"
									},
									"type": "String"
								},
								"Year": {
									"value": {
										"value": "@'2025'",
										"type": "Expression"
									},
									"type": "String"
								},
								"Week_Name": {
									"value": {
										"value": "@'Week1'",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ABI_SP_AGENT_COMMISSION_CALCULATION_STEP3",
						"description": "STEP 3",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ABI_SP_CONSOLIDATE_ALL_DATA_LOADS_STEP2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[ABI_SP_AGENT_COMMISSION_CALCULATION_STEP3]",
							"storedProcedureParameters": {
								"Month": {
									"value": {
										"value": "'07'",
										"type": "Expression"
									},
									"type": "String"
								},
								"Year": {
									"value": {
										"value": "'2025'",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ABI_SP_AGENT_GROUP_COMMISSION_CALCULATION_STEP4",
						"description": "STEP 4",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ABI_SP_AGENT_COMMISSION_CALCULATION_STEP3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[ABI_SP_AGENT_GROUP_COMMISSION_CALCULATION_STEP4]",
							"storedProcedureParameters": {
								"Month": {
									"value": {
										"value": "'07'",
										"type": "Expression"
									},
									"type": "String"
								},
								"Year": {
									"value": {
										"value": "'2025'",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ABI_SP_AGENT_OVERRIDE_COMMISSION_CALCULATION_STEP5",
						"description": "STEP 5",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ABI_SP_AGENT_GROUP_COMMISSION_CALCULATION_STEP4",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[ABI_SP_AGENT_OVERRIDE_COMMISSION_CALCULATION_STEP5]",
							"storedProcedureParameters": {
								"Month": {
									"value": {
										"value": "'07'",
										"type": "Expression"
									},
									"type": "String"
								},
								"Year": {
									"value": {
										"value": "'2025'",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ABI_SP_AGENT_MANUAL_ADJUSTMENT_CALCULATION_STEP6",
						"description": "STEP 6",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ABI_SP_AGENT_OVERRIDE_COMMISSION_CALCULATION_STEP5",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[ABI_SP_AGENT_MANUAL_ADJUSTMENT_CALCULATION_STEP6]",
							"storedProcedureParameters": {
								"Month": {
									"value": {
										"value": "'07'",
										"type": "Expression"
									},
									"type": "String"
								},
								"Year": {
									"value": {
										"value": "'2025'",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ABI_SP_COMMISSION_ALL_SALES_REPORT_STEP7",
						"description": "STEP 7",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ABI_SP_AGENT_MANUAL_ADJUSTMENT_CALCULATION_STEP6",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[ABI_SP_COMMISSION_ALL_SALES_REPORT_STEP7]",
							"storedProcedureParameters": {
								"Month": {
									"value": {
										"value": "'07'",
										"type": "Expression"
									},
									"type": "String"
								},
								"Year": {
									"value": {
										"value": "'2025'",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ABI_SP_ALL_COMMISSIONS_SALES_DETAIL_SUMMARY_STEP8",
						"description": "STEP 8",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ABI_SP_COMMISSION_ALL_SALES_REPORT_STEP7",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[ABI_SP_ALL_COMMISSIONS_SALES_DETAIL_SUMMARY_STEP8]",
							"storedProcedureParameters": {
								"Month": {
									"value": {
										"value": "'06'",
										"type": "Expression"
									},
									"type": "String"
								},
								"Year": {
									"value": {
										"value": "'2025'",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ABI_SP_AGENT_COMMISSION_STATEMENT_DATA_PREP_STEP9",
						"description": "STEP 9",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ABI_SP_ALL_COMMISSIONS_SALES_DETAIL_SUMMARY_STEP8",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[ABI_SP_AGENT_COMMISSION_STATEMENT_DATA_PREP_STEP9]",
							"storedProcedureParameters": {
								"Month": {
									"value": {
										"value": "'07'",
										"type": "Expression"
									},
									"type": "String"
								},
								"Year": {
									"value": {
										"value": "'2025'",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-01-10T13:17:14Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/e2eis_APP_PROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIPELINE_FOR_ABI_BOB_GENERATION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "UpdateStatusInProgress",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[ABI_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "IN PROGRESS",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ExecuteBOBProcess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusInProgress",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@if(equals(pipeline().parameters.State, 'OOS'), '[ABI_101].[ABI_SP_BOB_PROCESS_OOS]', if(equals(pipeline().parameters.State, 'FL'), '[ABI_101].[ABI_SP_BOB_PROCESS_FL]', '[ABI_101].[ABI_SP_BOB_PROCESS_MEDICARE]'))",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"PreviousPeriodName": {
									"value": {
										"value": "@pipeline().parameters.PreviousPeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"IsRegeneration": {
									"value": {
										"value": "@pipeline().parameters.IsRegeneration",
										"type": "Expression"
									},
									"type": "Boolean"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExecuteBOBProcess",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[ABI_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "COMPLETED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExecuteBOBProcess",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[ABI_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "FAILED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"PeriodName": {
						"type": "string"
					},
					"PreviousPeriodName": {
						"type": "string"
					},
					"State": {
						"type": "string"
					},
					"IsRegeneration": {
						"type": "bool",
						"defaultValue": false
					},
					"AuditID": {
						"type": "int",
						"defaultValue": 0
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-07-14T09:27:25Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/e2eis_APP_PROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIPELINE_FOR_ABI_COMMISSION_CALCULATION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "UpdateStatusInProgress",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateAuditStatusInProgress",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[ABI_CWKF_SP_UPDATE_COMMISSION_STATUS]",
							"storedProcedureParameters": {
								"Month": {
									"value": {
										"value": "@pipeline().parameters.Month",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Year": {
									"value": {
										"value": "@pipeline().parameters.Year",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Week": {
									"value": {
										"value": "@pipeline().parameters.Week",
										"type": "Expression"
									},
									"type": "String"
								},
								"Type": {
									"value": {
										"value": "@pipeline().parameters.CommissionType",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "IN PROGRESS",
									"type": "String"
								},
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ExecuteCommissionProcess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusInProgress",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[ABI_CWKF_SP_COMMISSION_PROCESS_WRAPPER]",
							"storedProcedureParameters": {
								"Month": {
									"value": {
										"value": "@pipeline().parameters.Month",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Year": {
									"value": {
										"value": "@pipeline().parameters.Year",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Week": {
									"value": {
										"value": "@pipeline().parameters.Week",
										"type": "Expression"
									},
									"type": "String"
								},
								"Type": {
									"value": {
										"value": "@pipeline().parameters.CommissionType",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExecuteCommissionProcess",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[ABI_CWKF_SP_UPDATE_COMMISSION_STATUS]",
							"storedProcedureParameters": {
								"Month": {
									"value": {
										"value": "@pipeline().parameters.Month",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Year": {
									"value": {
										"value": "@pipeline().parameters.Year",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Week": {
									"value": {
										"value": "@pipeline().parameters.Week",
										"type": "Expression"
									},
									"type": "String"
								},
								"Type": {
									"value": {
										"value": "@pipeline().parameters.CommissionType",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "COMPLETED",
									"type": "String"
								},
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExecuteCommissionProcess",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[ABI_CWKF_SP_UPDATE_COMMISSION_STATUS]",
							"storedProcedureParameters": {
								"Month": {
									"value": {
										"value": "@pipeline().parameters.Month",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Year": {
									"value": {
										"value": "@pipeline().parameters.Year",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Week": {
									"value": {
										"value": "@pipeline().parameters.Week",
										"type": "Expression"
									},
									"type": "String"
								},
								"Type": {
									"value": {
										"value": "@pipeline().parameters.CommissionType",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "FAILED",
									"type": "String"
								},
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"ErrorMessage": {
									"value": {
										"value": "@activity('ExecuteCommissionProcess').error.message",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateAuditStatusInProgress",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[SP_LOG_COMMISSION_WORKFLOW_ETL]",
							"storedProcedureParameters": {
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Period": {
									"value": {
										"value": "@concat(string(pipeline().parameters.Month), '/', string(pipeline().parameters.Year))",
										"type": "Expression"
									},
									"type": "String"
								},
								"CommissionType": {
									"value": {
										"value": "@pipeline().parameters.CommissionType",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "IN PROGRESS",
									"type": "String"
								},
								"StartDateTime": {
									"value": {
										"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'Eastern Standard Time'), 'MM:dd:yyyy HH:mm:ss')",
										"type": "Expression"
									},
									"type": "String"
								},
								"Week": {
									"value": {
										"value": "@pipeline().parameters.Week",
										"type": "Expression"
									},
									"type": "String"
								},
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateAuditStatusSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusSuccess",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[SP_LOG_COMMISSION_WORKFLOW_ETL]",
							"storedProcedureParameters": {
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": {
										"value": "COMPLETED",
										"type": "Expression"
									},
									"type": "String"
								},
								"EndDateTime": {
									"value": {
										"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'Eastern Standard Time'), 'MM:dd:yyyy HH:mm:ss')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateAuditStatusFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusFailure",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							},
							{
								"activity": "UpdateAuditStatusInProgress",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "UpdateStatusInProgress",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "ExecuteCommissionProcess",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "UpdateStatusSuccess",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "UpdateAuditStatusSuccess",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[SP_LOG_COMMISSION_WORKFLOW_ETL]",
							"storedProcedureParameters": {
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "FAILED",
									"type": "String"
								},
								"EndDateTime": {
									"value": {
										"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'Eastern Standard Time'), 'MM:dd:yyyy HH:mm:ss')",
										"type": "Expression"
									},
									"type": "String"
								},
								"Error": {
									"value": {
										"value": "@concat(\n  'UASIP: ', coalesce(activity('UpdateAuditStatusInProgress')?.error?.message, 'NA'),\n  ' | USIP: ', coalesce(activity('UpdateStatusInProgress')?.error?.message, 'NA'),\n  ' | ECP: ', coalesce(activity('ExecuteCommissionProcess')?.error?.message, 'NA'),\n  ' | USS: ', coalesce(activity('UpdateStatusSuccess')?.error?.message, 'NA'),\n  ' | USF: ', coalesce(activity('UpdateStatusFailure')?.error?.message, 'NA'),\n  ' | UASS: ', coalesce(activity('UpdateAuditStatusSuccess')?.error?.message, 'NA')\n)\n",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Month": {
						"type": "int"
					},
					"Year": {
						"type": "int"
					},
					"Week": {
						"type": "string"
					},
					"CommissionType": {
						"type": "string"
					},
					"AuditID": {
						"type": "int"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-06-29T12:36:29Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/e2eis_APP_PROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIPELINE_FOR_ALL_AGENCY_KPI_DASHBOARD_APP_PROD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AIA_SP_WEEKLY_DOMO_KPI_BOB_REFRESH_PRD",
						"description": "Weekly Run store procedure for AIA kpi dasboard data refresh",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "ABI_SP_KPI_REFRESH_RUN_ALL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AIA_102].[AIA_SP_WEEKLY_DOMO_KPI_BOB_REFRESH]"
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "AIA_SP_KPI_DATA_POPULATE",
						"description": "Weekly Run store procedure for AIA kpi dasboard data refresh",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "AIA_SP_WEEKLY_DOMO_KPI_BOB_REFRESH_PRD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[AIA_102].AIA_SP_KPI_DATA_POPULATE"
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "AIA_SP_KPI_DATA_POPULATE_WEEKLY",
						"description": "Weekly Run store procedure for AIA kpi dasboard data refresh",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "AIA_SP_KPI_DATA_POPULATE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[AIA_102].AIA_SP_KPI_DATA_POPULATE_WEEKLY"
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SIM_SP_KPI_REFRESH_RUN_ALL",
						"description": "after BOB publish Run For dashboard refresh SP",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "AIA_SP_KPI_DATA_POPULATE_MONTHLY_NEWDS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "SIM_103.SIM_SP_KPI_REFRESH_RUN_ALL"
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ABI_SP_KPI_REFRESH_RUN_ALL",
						"description": "ABI dashboard refresh step 1",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[ABI_SP_KPI_REFRESH_RUN_ALL]"
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "AIA_SP_KPI_DATA_POPULATE_WEEKLY_NEWDS",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "AIA_SP_KPI_DATA_POPULATE_WEEKLY",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[AIA_102].AIA_SP_KPI_DATA_POPULATE_WEEKLY_NEWDS"
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "AIA_SP_KPI_DATA_POPULATE_MONTHLY_NEWDS",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "AIA_SP_KPI_DATA_POPULATE_WEEKLY_NEWDS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[AIA_102].AIA_SP_KPI_DATA_POPULATE_MONTHLY_NEWDS"
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-07-10T16:49:27Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/e2eis_APP_PROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIPELINE_FOR_ALL_AGENCY_KPI_DASHBOARD_PROD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AIA_SP_WEEKLY_DOMO_KPI_BOB_REFRESH_PRD",
						"description": "Weekly Run store procedure for AIA kpi dasboard data refresh",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "ABI_SP_KPI_ACTIVE_ENROLLMENT_BYCARRIER",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AIA_102].[AIA_SP_WEEKLY_DOMO_KPI_BOB_REFRESH]"
						},
						"linkedServiceName": {
							"referenceName": "SqlServere2eis_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "AIA_SP_WEEKLY_DOMO_KPI_BOB_REFRESH_1_PRD",
						"description": "Weekly Run store procedure for AIA kpi dasboard data refresh",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "AIA_SP_WEEKLY_DOMO_KPI_BOB_REFRESH_PRD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AIA_102].[AIA_SP_WEEKLY_DOMO_KPI_BOB_REFRESH_1]"
						},
						"linkedServiceName": {
							"referenceName": "SqlServere2eis_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "AIA_SP_WEEKLY_DOMO_KPI_BOB_REFRESH_2_PRD",
						"description": "Weekly Run store procedure for AIA kpi dasboard data refresh",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "AIA_SP_WEEKLY_DOMO_KPI_BOB_REFRESH_1_PRD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AIA_102].[AIA_SP_WEEKLY_DOMO_KPI_BOB_REFRESH_2]"
						},
						"linkedServiceName": {
							"referenceName": "SqlServere2eis_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SIM_SP_KPI_DATA_POPULATE_PRD",
						"description": "STEP 4 DASBOARD REFRESH Weekly Run store procedure for SIM kpi dasboard data refresh",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "AIA_SP_WEEKLY_DOMO_KPI_BOB_REFRESH_2_PRD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "SIM_103.SIM_SP_KPI_DATA_POPULATE"
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SIM_SP_KPI_DATA_POPULATE_WEEKLY_PRD",
						"description": "STEP 5 DASBOARD REFRESH Weekly Run store procedure for SIM kpi dasboard data refresh",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "SIM_SP_KPI_DATA_POPULATE_PRD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "SIM_103.SIM_SP_KPI_DATA_POPULATE_WEEKLY"
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SIM_SP_KPI_DATA_POPULATE_MONTHLY_NEWDS",
						"description": "STEP 6 DASBOARD DATA REFRESH",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "SIM_SP_KPI_DATA_POPULATE_WEEKLY_PRD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "SIM_103.SIM_SP_KPI_DATA_POPULATE_MONTHLY_NEWDS"
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SIM_SP_KPI_DATA_POPULATE_WEEKLY_NEWDS",
						"description": "STEP 7 DASBOARD DATA REFRESH",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "SIM_SP_KPI_DATA_POPULATE_MONTHLY_NEWDS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "SIM_103.SIM_SP_KPI_DATA_POPULATE_WEEKLY_NEWDS"
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SIM_SP_KPI_DATA_POPULATE_MONTHLYATTRITION_PRD",
						"description": "Run after dashboard refresh SP completed",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "SIM_SP_KPI_DATA_POPULATE_WEEKLY_NEWDS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_KPI_DATA_POPULATE_MONTHLYATTRITION_DNU]"
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ABI_SP_KPI_DATA_POPULATE",
						"description": "ABI dashboard refresh step 1",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "ABI_101.ABI_SP_KPI_DATA_POPULATE"
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ABI_SP_KPI_DATA_POPULATE_WEEKLY_PRD",
						"description": "ABI dashboard refresh step 2",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "ABI_SP_KPI_DATA_POPULATE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "ABI_101.ABI_SP_KPI_DATA_POPULATE_WEEKLY",
							"storedProcedureParameters": {
								"Agency_Type": {
									"value": {
										"value": "@'MURRAY INSURANCE AGENCY INC'",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ABI_SP_KPI_DATA_POPULATE_MONTHLY_NEWDS_PRD",
						"description": "ABI dashboard refresh step 3",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "ABI_SP_KPI_DATA_POPULATE_WEEKLY_PRD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "ABI_101.ABI_SP_KPI_DATA_POPULATE_WEEKLY",
							"storedProcedureParameters": {
								"Agency_Type": {
									"value": {
										"value": "@'A AND B FINANCIAL SERVICES'",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ABI_SP_KPI_DATA_POPULATE_WEEKLY_NEWDS_PRD",
						"description": "ABI dashboard refresh step 4",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "ABI_SP_KPI_DATA_POPULATE_MONTHLY_NEWDS_PRD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "ABI_101.ABI_SP_KPI_DATA_POPULATE_MONTHLY_NEWDS"
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SIM_SP_KPI_DATA_POPULATE_MONTHLYATTRITION_HISTORY",
						"description": "Run after dashboard refresh SP completed",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "SIM_SP_KPI_DATA_POPULATE_MONTHLYATTRITION_PRD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_KPI_ACTIVE_ENROLLMENT_BYCARRIER]"
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ABI_SP_KPI_DATA_POPULATE_WEEKLY_NEWDS",
						"description": "ABI dashboard refresh step 5",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "ABI_SP_KPI_DATA_POPULATE_WEEKLY_NEWDS_PRD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "ABI_101.ABI_SP_KPI_DATA_POPULATE_WEEKLY_NEWDS"
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ABI_SP_KPI_DATA_POPULATE_MONTHLY_ATTRITION",
						"description": "ABI dashboard refresh step 6",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "ABI_SP_KPI_DATA_POPULATE_WEEKLY_NEWDS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "ABI_101.ABI_SP_KPI_DATA_POPULATE_MONTHLY_ATTRITION"
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ABI_SP_KPI_ACTIVE_ENROLLMENT_BYCARRIER",
						"description": "ABI dashboard refresh step 7",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "ABI_SP_KPI_DATA_POPULATE_MONTHLY_ATTRITION",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "ABI_101.ABI_SP_KPI_ACTIVE_ENROLLMENT_BYCARRIER"
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-01-06T18:03:20Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServere2eis_PROD')]",
				"[concat(variables('factoryId'), '/linkedServices/e2eis_APP_PROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIPELINE_FOR_SIM_BOB_GENERATION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "UpdateStatusInProgress",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "IN PROGRESS",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ExecuteBOBProcess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusInProgress",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@if(equals(pipeline().parameters.State, 'OOS'), '[SIM_103].[SIM_SP_BOB_PROCESS_OOS]', if(equals(pipeline().parameters.State, 'FL'), '[SIM_103].[SIM_SP_BOB_PROCESS_FL]', '[SIM_103].[SIM_SP_BOB_PROCESS_MEDICARE]'))",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"PreviousPeriodName": {
									"value": {
										"value": "@pipeline().parameters.PreviousPeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"IsRegeneration": {
									"value": {
										"value": "@pipeline().parameters.IsRegeneration",
										"type": "Expression"
									},
									"type": "Boolean"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExecuteBOBProcess",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "COMPLETED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExecuteBOBProcess",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "FAILED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"PeriodName": {
						"type": "string"
					},
					"PreviousPeriodName": {
						"type": "string"
					},
					"State": {
						"type": "string"
					},
					"IsRegeneration": {
						"type": "bool",
						"defaultValue": false
					},
					"AuditID": {
						"type": "int",
						"defaultValue": 0
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-12T11:08:34Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/e2eis_APP_PROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIPELINE_FOR_SIM_FL_BOB_GENERATION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "UpdateStatusInProgress",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "IN PROGRESS",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ExecuteBobProcess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateAuditWithRunID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@if(equals(pipeline().parameters.State, 'OOS'), '[SIM_103].[SIM_SP_BOB_PROCESS_OOS]', '[SIM_103].[SIM_SP_BOB_PROCESS_FL]')",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"PeriodName ": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"PreviousPeriodName ": {
									"value": {
										"value": "@pipeline().parameters.PreviousPeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"IsRegeneration ": {
									"value": {
										"value": "@pipeline().parameters.IsRegeneration",
										"type": "Expression"
									},
									"type": "Boolean"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExecuteBobProcess",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "COMPLETED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExecuteBobProcess",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "FAILED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateAuditWithRunID",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusInProgress",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_BOB_AUDIT]",
							"storedProcedureParameters": {
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "IN PROGRESS",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateAuditSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusSuccess",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_BOB_AUDIT]",
							"storedProcedureParameters": {
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"DateTime_Completed": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Error_Message": {
									"value": "The Audit Captured with No Errors",
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "COMPLETED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateAuditFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusFailure",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_BOB_AUDIT]",
							"storedProcedureParameters": {
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"DateTime_Completed": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Error_Message": {
									"value": "An Error Occurred or The BOB Generation Failed  ",
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "FAILED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"PeriodName": {
						"type": "string"
					},
					"PreviousPeriodName": {
						"type": "string"
					},
					"State": {
						"type": "string"
					},
					"IsRegeneration": {
						"type": "bool",
						"defaultValue": false
					},
					"AuditID": {
						"type": "int"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-09-07T12:20:39Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/e2eis_APP_PROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIPELINE_FOR_SIM_OOS_BOB_GENERATION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "UpdateStatusInProgress",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "IN PROGRESS",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ExecuteBobProcess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateAuditWithRunID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@if(equals(pipeline().parameters.State, 'OOS'), '[SIM_103].[SIM_SP_BOB_PROCESS_OOS]', '[SIM_103].[SIM_SP_BOB_PROCESS_FL]')",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"PeriodName ": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"PreviousPeriodName ": {
									"value": {
										"value": "@pipeline().parameters.PreviousPeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"IsRegeneration ": {
									"value": {
										"value": "@pipeline().parameters.IsRegeneration",
										"type": "Expression"
									},
									"type": "Boolean"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExecuteBobProcess",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "COMPLETED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExecuteBobProcess",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "FAILED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateAuditWithRunID",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusInProgress",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_BOB_AUDIT]",
							"storedProcedureParameters": {
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "IN PROGRESS",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateAuditSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusSuccess",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_BOB_AUDIT]",
							"storedProcedureParameters": {
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"DateTime_Completed": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Error_Message": {
									"value": "The Audit Captured with No Errors",
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "COMPLETED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateAuditFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusFailure",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_BOB_AUDIT]",
							"storedProcedureParameters": {
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"DateTime_Completed": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Error_Message": {
									"value": "An Error Occurred or The BOB Generation Failed  ",
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "FAILED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"PeriodName": {
						"type": "string"
					},
					"PreviousPeriodName": {
						"type": "string"
					},
					"State": {
						"type": "string"
					},
					"IsRegeneration": {
						"type": "bool",
						"defaultValue": false
					},
					"AuditID": {
						"type": "int"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-09-01T21:26:44Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/e2eis_APP_PROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ABI_65_Ineligible_F04_FEED_UAT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Sftp1_connections_ALL_FEED",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"fileName": "ABI_65_Ineligible_F04_FEED_UAT.txt",
						"folderPath": "/MSL_Cloud_Uat/FromAgency/ABI"
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "AGENCY_CODE\tAGENCY_NAME\tAGENT_CODE\tAGENT_LAST\tAGENT_FIRST\tMEMBER_COUNT\tPOLICY_ACCOUNT_STATUS\tFFM_REG_STATUS\tIS_AGENT_ACTIVE\tIS_AGENT_REGISTERED\tFB_UID\tMEMBER_CONTRACT_ID\tSUBSCRIBER_LAST\tSUBSCRIBER_FIRST\tSUBSCRIBER_MIDDLE\tCOMP_TYPE\tACCOUNTING_DATE\tCOMPENSATION_DATE\tORIGINAL_EFFECTIVE_DATE\tBENEFIT_EFFECTIVE_DATE\tCANCEL_DATE\tPRODUCT_ID\tPRODUCT_TYPE\tPRODUCT_TIER_METAL_LEVEL\tCOUNTY_NAME\tBONUS_COUNTY_INDICATOR\tAPP_ID\tEXCHANGE_IND\tCOVERAGE_FROM_DATE\tCOVERAGE_TO_DATE",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Sftp1_connections_ALL_FEED')]"
			]
		}
	]
}