DFMSLALLPRD/linkedTemplates/ArmTemplate_38.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DFMSLALLPRD"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SIM_UHC_Inactive_Weekly_Feed_APP_PROD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Sftp1_connections_ALL_FEED",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"fileName": "SIM_UHC_Inactive_Weekly_Feed_APP_PROD.txt",
						"folderPath": "/MSL_Cloud_App_Prd/FromAgency/SIM"
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "AGENT_ID\tAGENT_EMAIL\tAGENT_ID_STATUS\tAGENT_NPN\tAGENT_NAME\tMEMBER_FIRST_NAME\tMEMBER_ADDRESS_1\tMEMBER_LAST_NAME\tMEMBER_ADDRESS_2\tDATE_OF_BIRTH\tMEMBER_CITY\tMEMBER_EMAIL\tMEMBER_ZIP\tMEMBER_STATE\tMEMBER_PHONE\tMEMBER_COUNTY\tMEMBER_NUMBER\tPOLICY_EFFECTIVE_DATE\tAGENT_OF_RECORD\tCONTRACT\tPBP\tSEGMENT_ID\tAPPLICATION_NUMBER\tPOLICY_TERM_DATE\tPRODUCT\tTERM_REASON_CODE\tINDIVIDUAL_ID\tHOUSEHOLD_ID\tMBI_NUMBER\tSECONDARY_PHONE_NUM\tPLAN_STATUS\tPLAN_NAME\tSECONDARY_ADDRESS_LINE_1\tSECONDARY_ADDRESS_LINE_2\tSECONDARY_ADDRESS_MEMBER_CITY\tSECONDARY_ADDRESS_MEMBER_STATE\tSECONDARY_ADDRESS_MEMBER_ZIP\tSECONDARY_ADDRESS_MEMBER_COUNTRY\tIFP_PLAN_TYPE\tIFP_GRGR_ID\tIFP_RENEWAL\tIFP_WRITTEN_LANGUAGE_PREFERENCE\tIFP_SPOKEN_LANGUAGE_PREFERENCE\tIFP_FFM_APP_ID\tNMA_NAME_80\tNMA_WID_STATUS_80\tNMA_NPN_80\tNMA_NAME_70\tNMA_WID_STATUS_70\tNMA_NPN_70\tNMA_NAME_60\tNMA_WID_STATUS_60\tFMO_WID_STATUS_50\tFMO_NAME_50\tMGA_NAME_40\tFMO_NPN_50\tMGA_NPN_40\tMGA_WID_STATUS_40\tGA_NAME_30\tGA_NPN_30\tGA_WID_STATUS_30\tAGENT_WID_STATUS_20\tAGENT_NAME_20\tAGENT_NPN_20\tAGENT_WID_20\tSOLICITOR_WID_STATUS_10\tSOLICITOR_NAME_10\tSOLICITOR_NPN_10\tSOLICITOR_WID_10\tIFP_SUBSCRIBER_ICHRA_QSEHRA_STATUS",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SIM_UHC_PRE_ENROLLMENT_WEEKLY_DETAILS_APP_PROD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "e2eis_APP_PROD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "E2EIS_SEQ_NUMBER",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "AGENCY_IDENTIFIER",
						"type": "varchar"
					},
					{
						"name": "AGENCY_NAME",
						"type": "varchar"
					},
					{
						"name": "AGENT_ID",
						"type": "varchar"
					},
					{
						"name": "AGENT_ID_STATUS",
						"type": "varchar"
					},
					{
						"name": "AGENT_NAME",
						"type": "varchar"
					},
					{
						"name": "PLAN_LEVEL",
						"type": "varchar"
					},
					{
						"name": "PLAN_NBR",
						"type": "varchar"
					},
					{
						"name": "PLAN_NAME",
						"type": "varchar"
					},
					{
						"name": "APP_STATE",
						"type": "varchar"
					},
					{
						"name": "RECEIVED_DATE",
						"type": "varchar"
					},
					{
						"name": "EFFECTIVE_DATE",
						"type": "varchar"
					},
					{
						"name": "MEM_FIRST_NAME",
						"type": "varchar"
					},
					{
						"name": "MEM_LAST_NAME",
						"type": "varchar"
					},
					{
						"name": "MEMBER_DOB",
						"type": "varchar"
					},
					{
						"name": "APP_STATUS",
						"type": "varchar"
					},
					{
						"name": "FILE_RECORD_BIRTH_DATE",
						"type": "varchar"
					},
					{
						"name": "AGENCY_ID",
						"type": "nvarchar"
					},
					{
						"name": "RECORD_LOAD_DATE",
						"type": "date"
					},
					{
						"name": "RECORD_LOADED_BY",
						"type": "char"
					},
					{
						"name": "RECORD_DATA_SOURCE",
						"type": "char"
					},
					{
						"name": "RECORD_FLAG_STATUS",
						"type": "char"
					}
				],
				"typeProperties": {
					"schema": "SIM_103",
					"table": "SIM_UHC_PRE_ENROLLMENT_WEEKLY_DETAILS"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SIM_UHC_PRE_ENROLLMENT_WEEKLY_DETAILS_HISTORY_APP_PROD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "e2eis_APP_PROD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "E2EIS_SEQ_NUMBER",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "AGENCY_IDENTIFIER",
						"type": "varchar"
					},
					{
						"name": "AGENCY_NAME",
						"type": "varchar"
					},
					{
						"name": "AGENT_ID",
						"type": "varchar"
					},
					{
						"name": "AGENT_ID_STATUS",
						"type": "varchar"
					},
					{
						"name": "AGENT_NAME",
						"type": "varchar"
					},
					{
						"name": "PLAN_LEVEL",
						"type": "varchar"
					},
					{
						"name": "PLAN_NBR",
						"type": "varchar"
					},
					{
						"name": "PLAN_NAME",
						"type": "varchar"
					},
					{
						"name": "APP_STATE",
						"type": "varchar"
					},
					{
						"name": "RECEIVED_DATE",
						"type": "varchar"
					},
					{
						"name": "EFFECTIVE_DATE",
						"type": "varchar"
					},
					{
						"name": "MEM_FIRST_NAME",
						"type": "varchar"
					},
					{
						"name": "MEM_LAST_NAME",
						"type": "varchar"
					},
					{
						"name": "MEMBER_DOB",
						"type": "varchar"
					},
					{
						"name": "APP_STATUS",
						"type": "varchar"
					},
					{
						"name": "FILE_RECORD_BIRTH_DATE",
						"type": "varchar"
					},
					{
						"name": "AGENCY_ID",
						"type": "nvarchar"
					},
					{
						"name": "RECORD_LOAD_DATE",
						"type": "date"
					},
					{
						"name": "RECORD_LOADED_BY",
						"type": "char"
					},
					{
						"name": "RECORD_DATA_SOURCE",
						"type": "char"
					},
					{
						"name": "RECORD_FLAG_STATUS",
						"type": "char"
					}
				],
				"typeProperties": {
					"schema": "SIM_103",
					"table": "SIM_UHC_PRE_ENROLLMENT_WEEKLY_DETAILS_HISTORY"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SIM_UHC_PRE_ENROLLMENT_WEEKLY_DETAILS_HISTORY_PROD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServere2eis_PROD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "E2EIS_SEQ_NUMBER",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "AGENCY_IDENTIFIER",
						"type": "varchar"
					},
					{
						"name": "AGENCY_NAME",
						"type": "varchar"
					},
					{
						"name": "AGENT_ID",
						"type": "varchar"
					},
					{
						"name": "AGENT_ID_STATUS",
						"type": "varchar"
					},
					{
						"name": "AGENT_NAME",
						"type": "varchar"
					},
					{
						"name": "PLAN_LEVEL",
						"type": "varchar"
					},
					{
						"name": "PLAN_NBR",
						"type": "varchar"
					},
					{
						"name": "PLAN_NAME",
						"type": "varchar"
					},
					{
						"name": "APP_STATE",
						"type": "varchar"
					},
					{
						"name": "RECEIVED_DATE",
						"type": "varchar"
					},
					{
						"name": "EFFECTIVE_DATE",
						"type": "varchar"
					},
					{
						"name": "MEM_FIRST_NAME",
						"type": "varchar"
					},
					{
						"name": "MEM_LAST_NAME",
						"type": "varchar"
					},
					{
						"name": "MEMBER_DOB",
						"type": "varchar"
					},
					{
						"name": "APP_STATUS",
						"type": "varchar"
					},
					{
						"name": "FILE_RECORD_BIRTH_DATE",
						"type": "varchar"
					},
					{
						"name": "AGENCY_ID",
						"type": "nvarchar"
					},
					{
						"name": "RECORD_LOAD_DATE",
						"type": "date"
					},
					{
						"name": "RECORD_LOADED_BY",
						"type": "char"
					},
					{
						"name": "RECORD_DATA_SOURCE",
						"type": "char"
					},
					{
						"name": "RECORD_FLAG_STATUS",
						"type": "char"
					}
				],
				"typeProperties": {
					"schema": "SIM_103",
					"table": "SIM_UHC_PRE_ENROLLMENT_WEEKLY_DETAILS_HISTORY"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SIM_UHC_PRE_ENROLLMENT_WEEKLY_DETAILS_PRD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServere2eis_PROD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "E2EIS_SEQ_NUMBER",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "AGENCY_IDENTIFIER",
						"type": "varchar"
					},
					{
						"name": "AGENCY_NAME",
						"type": "varchar"
					},
					{
						"name": "AGENT_ID",
						"type": "varchar"
					},
					{
						"name": "AGENT_ID_STATUS",
						"type": "varchar"
					},
					{
						"name": "AGENT_NAME",
						"type": "varchar"
					},
					{
						"name": "PLAN_LEVEL",
						"type": "varchar"
					},
					{
						"name": "PLAN_NBR",
						"type": "varchar"
					},
					{
						"name": "PLAN_NAME",
						"type": "varchar"
					},
					{
						"name": "APP_STATE",
						"type": "varchar"
					},
					{
						"name": "RECEIVED_DATE",
						"type": "varchar"
					},
					{
						"name": "EFFECTIVE_DATE",
						"type": "varchar"
					},
					{
						"name": "MEM_FIRST_NAME",
						"type": "varchar"
					},
					{
						"name": "MEM_LAST_NAME",
						"type": "varchar"
					},
					{
						"name": "MEMBER_DOB",
						"type": "varchar"
					},
					{
						"name": "APP_STATUS",
						"type": "varchar"
					},
					{
						"name": "FILE_RECORD_BIRTH_DATE",
						"type": "varchar"
					},
					{
						"name": "AGENCY_ID",
						"type": "nvarchar"
					},
					{
						"name": "RECORD_LOAD_DATE",
						"type": "date"
					},
					{
						"name": "RECORD_LOADED_BY",
						"type": "char"
					},
					{
						"name": "RECORD_DATA_SOURCE",
						"type": "char"
					},
					{
						"name": "RECORD_FLAG_STATUS",
						"type": "char"
					}
				],
				"typeProperties": {
					"schema": "SIM_103",
					"table": "SIM_UHC_PRE_ENROLLMENT_WEEKLY_DETAILS"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SIM_UHC_PRE_ENROLLMENT_WEEKLY_FEED_PRD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Sftp1_connections_ALL_FEED",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"fileName": "SIM_UHC_PRE_ENROLLMENT_WEEKLY_FEED_PRD.txt",
						"folderPath": "/MSL_Cloud_Prd/FromAgency/SIM"
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Agency ID\tAgency Name\tAgent ID\tAgent ID Status\tAgent Name\tPlan Level\tPlan Nbr\tPlan Name\tApp State\tReceived Date\tEffective Date\tMem First Name\tMem Last Name\tMember DOB\tApp Status\tFILE_RECORD_BIRTH_DATE",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SIM_UHC_Weekly_Feed_PRD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Sftp1_connections_ALL_FEED",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"fileName": "SIM_UHC_Weekly_Feed_PRD.txt",
						"folderPath": "/MSL_Cloud_Prd/FromAgency/SIM"
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "AGENT_ID\tAGENT_ID_STATUS\tAGENT_NAME\tAGENT_EMAIL\tAGENT_NPN\tMEMBER_FIRST_NAME\tMEMBER_LAST_NAME\tDATE_OF_BIRTH\tMEMBER_EMAIL\tMEMBER_PHONE\tMEMBER_ADDRESS_1\tMEMBER_ADDRESS_2\tMEMBER_CITY\tMEMBER_STATE\tMEMBER_ZIP\tMEMBER_STATUS\tMEMBER_COUNTY\tMEMBER_NUMBER\tPOLICY_EFFECTIVE_DATE\tAGENT_OF_RECORD\tCONTRACT\tPBP\tSEGMENT_ID\tAPPLICATION_NUMBER\tPOLICY_TERM_DATE\tPRODUCT\tTERM_REASON_CODE\tINDIVIDUAL_ID\tHOUSEHOLD_ID\tMEMBER_NUMBER_1\tMBI_NUMBER\tSECONDARY_PHONE_NUM\tPLAN_STATUS\tPLAN_NAME\tIFP_PLAN_TYPE\tIFP_GRGR_ID\tIFP_RENEWAL\tSECONDARY_ADDRESS_LINE1\tSECONDARY_ADDRESS_LINE_2\tSECONDARY_ADDRESS_MEMBER_CITY\tSECONDARY_ADDRESS_MEMBER_STATE\tSECONDARY_ADDRESS_MEMBER_ZIP\tSECONDARY_ADDRESS_MEMBER_COUNTY\tIFP_FFM_APP_ID\tNMA_NAME80\tNMA_WID_STATUS_80\tNMA_NPN_80\tNMA_NAME_70\tNMA_WID_STATUS70\tNMA_NPN_70\tNMA_NAME_60\tNMA_WID_STATUS_60\tNMA_NPN_60\tFMO_NAME_50\tFMO_WID_STATUS_50\tFMO_NPN_50\tMGA_NAME_40\tMGA_WID_STATUS_40\tMGA_NPN_40\tGA_NAME_30\tGA_WID_STATUS_30\tGA_NPN_30\tAGENT_NAME_20\tAGENT_WID_STATUS_20\tAGENT_WID_20\tAGENT_NPN_20\tSOLICITOR_NAME_10\tSOLICITOR_WID_STATUS_10\tSOLICITOR_WID_10\tSOLICITOR_NPN_10",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SIM_UNITED_HEALTH_CARE_POLICY_DETAILS_APP_PROD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "e2eis_APP_PROD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "E2EIS_SEQ_NUMBER",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "AGENT_ID",
						"type": "varchar"
					},
					{
						"name": "AGENT_ID_STATUS",
						"type": "varchar"
					},
					{
						"name": "AGENT_NAME",
						"type": "varchar"
					},
					{
						"name": "AGENT_EMAIL",
						"type": "varchar"
					},
					{
						"name": "AGENT_NPN",
						"type": "varchar"
					},
					{
						"name": "MEMBER_FIRST_NAME",
						"type": "varchar"
					},
					{
						"name": "MEMBER_LAST_NAME",
						"type": "varchar"
					},
					{
						"name": "DATE_OF_BIRTH",
						"type": "varchar"
					},
					{
						"name": "MEMBER_EMAIL",
						"type": "varchar"
					},
					{
						"name": "MEMBER_PHONE",
						"type": "varchar"
					},
					{
						"name": "MEMBER_ADDRESS_1",
						"type": "varchar"
					},
					{
						"name": "MEMBER_ADDRESS_2",
						"type": "varchar"
					},
					{
						"name": "MEMBER_CITY",
						"type": "varchar"
					},
					{
						"name": "MEMBER_STATE",
						"type": "varchar"
					},
					{
						"name": "MEMBER_ZIP",
						"type": "varchar"
					},
					{
						"name": "MEMBER_STATUS",
						"type": "varchar"
					},
					{
						"name": "MEMBER_COUNTY",
						"type": "varchar"
					},
					{
						"name": "MEMBER_NUMBER",
						"type": "varchar"
					},
					{
						"name": "POLICY_EFFECTIVE_DATE",
						"type": "varchar"
					},
					{
						"name": "AGENT_OF_RECORD",
						"type": "varchar"
					},
					{
						"name": "CONTRACT",
						"type": "varchar"
					},
					{
						"name": "PBP",
						"type": "varchar"
					},
					{
						"name": "SEGMENT_ID",
						"type": "varchar"
					},
					{
						"name": "APPLICATION_NUMBER",
						"type": "varchar"
					},
					{
						"name": "POLICY_TERM_DATE",
						"type": "varchar"
					},
					{
						"name": "PRODUCT",
						"type": "varchar"
					},
					{
						"name": "TERM_REASON_CODE",
						"type": "varchar"
					},
					{
						"name": "INDIVIDUAL_ID",
						"type": "varchar"
					},
					{
						"name": "HOUSEHOLD_ID",
						"type": "varchar"
					},
					{
						"name": "MEMBER_NUMBER_1",
						"type": "varchar"
					},
					{
						"name": "MBI_NUMBER",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_PHONE_NUM",
						"type": "varchar"
					},
					{
						"name": "PLAN_STATUS",
						"type": "varchar"
					},
					{
						"name": "PLAN_NAME",
						"type": "varchar"
					},
					{
						"name": "IFP_PLAN_TYPE",
						"type": "varchar"
					},
					{
						"name": "IFP_GRGR_ID",
						"type": "varchar"
					},
					{
						"name": "IFP_RENEWAL",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_LINE1",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_LINE_2",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_MEMBER_CITY",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_MEMBER_STATE",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_MEMBER_ZIP",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_MEMBER_COUNTY",
						"type": "varchar"
					},
					{
						"name": "IFP_FFM_APP_ID",
						"type": "varchar"
					},
					{
						"name": "NMA_NAME80",
						"type": "varchar"
					},
					{
						"name": "NMA_WID_STATUS_80",
						"type": "varchar"
					},
					{
						"name": "NMA_NPN_80",
						"type": "varchar"
					},
					{
						"name": "NMA_NAME_70",
						"type": "varchar"
					},
					{
						"name": "NMA_WID_STATUS70",
						"type": "varchar"
					},
					{
						"name": "NMA_NPN_70",
						"type": "varchar"
					},
					{
						"name": "NMA_NAME_60",
						"type": "varchar"
					},
					{
						"name": "NMA_WID_STATUS_60",
						"type": "varchar"
					},
					{
						"name": "NMA_NPN_60",
						"type": "varchar"
					},
					{
						"name": "FMO_NAME_50",
						"type": "varchar"
					},
					{
						"name": "FMO_WID_STATUS_50",
						"type": "varchar"
					},
					{
						"name": "FMO_NPN_50",
						"type": "varchar"
					},
					{
						"name": "MGA_NAME_40",
						"type": "varchar"
					},
					{
						"name": "MGA_WID_STATUS_40",
						"type": "varchar"
					},
					{
						"name": "MGA_NPN_40",
						"type": "varchar"
					},
					{
						"name": "GA_NAME_30",
						"type": "varchar"
					},
					{
						"name": "GA_WID_STATUS_30",
						"type": "varchar"
					},
					{
						"name": "GA_NPN_30",
						"type": "varchar"
					},
					{
						"name": "AGENT_NAME_20",
						"type": "varchar"
					},
					{
						"name": "AGENT_WID_STATUS_20",
						"type": "varchar"
					},
					{
						"name": "AGENT_WID_20",
						"type": "varchar"
					},
					{
						"name": "AGENT_NPN_20",
						"type": "varchar"
					},
					{
						"name": "SOLICITOR_NAME_10",
						"type": "varchar"
					},
					{
						"name": "SOLICITOR_WID_STATUS_10",
						"type": "varchar"
					},
					{
						"name": "SOLICITOR_WID_10",
						"type": "varchar"
					},
					{
						"name": "SOLICITOR_NPN_10",
						"type": "varchar"
					},
					{
						"name": "AGENCY_ID",
						"type": "nvarchar"
					},
					{
						"name": "RECORD_LOAD_DATE",
						"type": "date"
					},
					{
						"name": "RECORD_LOADED_BY",
						"type": "char"
					},
					{
						"name": "RECORD_DATA_SOURCE",
						"type": "char"
					},
					{
						"name": "RECORD_FLAG_STATUS",
						"type": "char"
					},
					{
						"name": "FILE_RECORD_BIRTH_DATE",
						"type": "varchar"
					},
					{
						"name": "IFP_SUBSCRIBER_ICHRA_QSEHRA_STATUS",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "SIM_103",
					"table": "SIM_UNITED_HEALTH_CARE_POLICY_DETAILS"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SIM_UNITED_HEALTH_CARE_POLICY_DETAILS_HISTORY_APP_PROD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "e2eis_APP_PROD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "E2EIS_SEQ_NUMBER",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "AGENT_ID",
						"type": "varchar"
					},
					{
						"name": "AGENT_ID_STATUS",
						"type": "varchar"
					},
					{
						"name": "AGENT_NAME",
						"type": "varchar"
					},
					{
						"name": "AGENT_EMAIL",
						"type": "varchar"
					},
					{
						"name": "AGENT_NPN",
						"type": "varchar"
					},
					{
						"name": "MEMBER_FIRST_NAME",
						"type": "varchar"
					},
					{
						"name": "MEMBER_LAST_NAME",
						"type": "varchar"
					},
					{
						"name": "DATE_OF_BIRTH",
						"type": "varchar"
					},
					{
						"name": "MEMBER_EMAIL",
						"type": "varchar"
					},
					{
						"name": "MEMBER_PHONE",
						"type": "varchar"
					},
					{
						"name": "MEMBER_ADDRESS_1",
						"type": "varchar"
					},
					{
						"name": "MEMBER_ADDRESS_2",
						"type": "varchar"
					},
					{
						"name": "MEMBER_CITY",
						"type": "varchar"
					},
					{
						"name": "MEMBER_STATE",
						"type": "varchar"
					},
					{
						"name": "MEMBER_ZIP",
						"type": "varchar"
					},
					{
						"name": "MEMBER_STATUS",
						"type": "varchar"
					},
					{
						"name": "MEMBER_COUNTY",
						"type": "varchar"
					},
					{
						"name": "MEMBER_NUMBER",
						"type": "varchar"
					},
					{
						"name": "POLICY_EFFECTIVE_DATE",
						"type": "varchar"
					},
					{
						"name": "AGENT_OF_RECORD",
						"type": "varchar"
					},
					{
						"name": "CONTRACT",
						"type": "varchar"
					},
					{
						"name": "PBP",
						"type": "varchar"
					},
					{
						"name": "SEGMENT_ID",
						"type": "varchar"
					},
					{
						"name": "APPLICATION_NUMBER",
						"type": "varchar"
					},
					{
						"name": "POLICY_TERM_DATE",
						"type": "varchar"
					},
					{
						"name": "PRODUCT",
						"type": "varchar"
					},
					{
						"name": "TERM_REASON_CODE",
						"type": "varchar"
					},
					{
						"name": "INDIVIDUAL_ID",
						"type": "varchar"
					},
					{
						"name": "HOUSEHOLD_ID",
						"type": "varchar"
					},
					{
						"name": "MEMBER_NUMBER_1",
						"type": "varchar"
					},
					{
						"name": "MBI_NUMBER",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_PHONE_NUM",
						"type": "varchar"
					},
					{
						"name": "PLAN_STATUS",
						"type": "varchar"
					},
					{
						"name": "PLAN_NAME",
						"type": "varchar"
					},
					{
						"name": "IFP_PLAN_TYPE",
						"type": "varchar"
					},
					{
						"name": "IFP_GRGR_ID",
						"type": "varchar"
					},
					{
						"name": "IFP_RENEWAL",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_LINE1",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_LINE_2",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_MEMBER_CITY",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_MEMBER_STATE",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_MEMBER_ZIP",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_MEMBER_COUNTY",
						"type": "varchar"
					},
					{
						"name": "IFP_FFM_APP_ID",
						"type": "varchar"
					},
					{
						"name": "NMA_NAME80",
						"type": "varchar"
					},
					{
						"name": "NMA_WID_STATUS_80",
						"type": "varchar"
					},
					{
						"name": "NMA_NPN_80",
						"type": "varchar"
					},
					{
						"name": "NMA_NAME_70",
						"type": "varchar"
					},
					{
						"name": "NMA_WID_STATUS70",
						"type": "varchar"
					},
					{
						"name": "NMA_NPN_70",
						"type": "varchar"
					},
					{
						"name": "NMA_NAME_60",
						"type": "varchar"
					},
					{
						"name": "NMA_WID_STATUS_60",
						"type": "varchar"
					},
					{
						"name": "NMA_NPN_60",
						"type": "varchar"
					},
					{
						"name": "FMO_NAME_50",
						"type": "varchar"
					},
					{
						"name": "FMO_WID_STATUS_50",
						"type": "varchar"
					},
					{
						"name": "FMO_NPN_50",
						"type": "varchar"
					},
					{
						"name": "MGA_NAME_40",
						"type": "varchar"
					},
					{
						"name": "MGA_WID_STATUS_40",
						"type": "varchar"
					},
					{
						"name": "MGA_NPN_40",
						"type": "varchar"
					},
					{
						"name": "GA_NAME_30",
						"type": "varchar"
					},
					{
						"name": "GA_WID_STATUS_30",
						"type": "varchar"
					},
					{
						"name": "GA_NPN_30",
						"type": "varchar"
					},
					{
						"name": "AGENT_NAME_20",
						"type": "varchar"
					},
					{
						"name": "AGENT_WID_STATUS_20",
						"type": "varchar"
					},
					{
						"name": "AGENT_WID_20",
						"type": "varchar"
					},
					{
						"name": "AGENT_NPN_20",
						"type": "varchar"
					},
					{
						"name": "SOLICITOR_NAME_10",
						"type": "varchar"
					},
					{
						"name": "SOLICITOR_WID_STATUS_10",
						"type": "varchar"
					},
					{
						"name": "SOLICITOR_WID_10",
						"type": "varchar"
					},
					{
						"name": "SOLICITOR_NPN_10",
						"type": "varchar"
					},
					{
						"name": "AGENCY_ID",
						"type": "nvarchar"
					},
					{
						"name": "RECORD_LOAD_DATE",
						"type": "date"
					},
					{
						"name": "RECORD_LOADED_BY",
						"type": "char"
					},
					{
						"name": "RECORD_DATA_SOURCE",
						"type": "char"
					},
					{
						"name": "RECORD_FLAG_STATUS",
						"type": "char"
					},
					{
						"name": "FILE_RECORD_BIRTH_DATE",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "SIM_103",
					"table": "SIM_UNITED_HEALTH_CARE_POLICY_DETAILS_HISTORY"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SIM_UNITED_HEALTH_CARE_POLICY_DETAILS_HISTORY_PRD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServere2eis_PROD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "E2EIS_SEQ_NUMBER",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "AGENT_ID",
						"type": "varchar"
					},
					{
						"name": "AGENT_ID_STATUS",
						"type": "varchar"
					},
					{
						"name": "AGENT_NAME",
						"type": "varchar"
					},
					{
						"name": "AGENT_EMAIL",
						"type": "varchar"
					},
					{
						"name": "AGENT_NPN",
						"type": "varchar"
					},
					{
						"name": "MEMBER_FIRST_NAME",
						"type": "varchar"
					},
					{
						"name": "MEMBER_LAST_NAME",
						"type": "varchar"
					},
					{
						"name": "DATE_OF_BIRTH",
						"type": "varchar"
					},
					{
						"name": "MEMBER_EMAIL",
						"type": "varchar"
					},
					{
						"name": "MEMBER_PHONE",
						"type": "varchar"
					},
					{
						"name": "MEMBER_ADDRESS_1",
						"type": "varchar"
					},
					{
						"name": "MEMBER_ADDRESS_2",
						"type": "varchar"
					},
					{
						"name": "MEMBER_CITY",
						"type": "varchar"
					},
					{
						"name": "MEMBER_STATE",
						"type": "varchar"
					},
					{
						"name": "MEMBER_ZIP",
						"type": "varchar"
					},
					{
						"name": "MEMBER_STATUS",
						"type": "varchar"
					},
					{
						"name": "MEMBER_COUNTY",
						"type": "varchar"
					},
					{
						"name": "MEMBER_NUMBER",
						"type": "varchar"
					},
					{
						"name": "POLICY_EFFECTIVE_DATE",
						"type": "varchar"
					},
					{
						"name": "AGENT_OF_RECORD",
						"type": "varchar"
					},
					{
						"name": "CONTRACT",
						"type": "varchar"
					},
					{
						"name": "PBP",
						"type": "varchar"
					},
					{
						"name": "SEGMENT_ID",
						"type": "varchar"
					},
					{
						"name": "APPLICATION_NUMBER",
						"type": "varchar"
					},
					{
						"name": "POLICY_TERM_DATE",
						"type": "varchar"
					},
					{
						"name": "PRODUCT",
						"type": "varchar"
					},
					{
						"name": "TERM_REASON_CODE",
						"type": "varchar"
					},
					{
						"name": "INDIVIDUAL_ID",
						"type": "varchar"
					},
					{
						"name": "HOUSEHOLD_ID",
						"type": "varchar"
					},
					{
						"name": "MEMBER_NUMBER_1",
						"type": "varchar"
					},
					{
						"name": "MBI_NUMBER",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_PHONE_NUM",
						"type": "varchar"
					},
					{
						"name": "PLAN_STATUS",
						"type": "varchar"
					},
					{
						"name": "PLAN_NAME",
						"type": "varchar"
					},
					{
						"name": "IFP_PLAN_TYPE",
						"type": "varchar"
					},
					{
						"name": "IFP_GRGR_ID",
						"type": "varchar"
					},
					{
						"name": "IFP_RENEWAL",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_LINE1",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_LINE_2",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_MEMBER_CITY",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_MEMBER_STATE",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_MEMBER_ZIP",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_MEMBER_COUNTY",
						"type": "varchar"
					},
					{
						"name": "IFP_FFM_APP_ID",
						"type": "varchar"
					},
					{
						"name": "NMA_NAME80",
						"type": "varchar"
					},
					{
						"name": "NMA_WID_STATUS_80",
						"type": "varchar"
					},
					{
						"name": "NMA_NPN_80",
						"type": "varchar"
					},
					{
						"name": "NMA_NAME_70",
						"type": "varchar"
					},
					{
						"name": "NMA_WID_STATUS70",
						"type": "varchar"
					},
					{
						"name": "NMA_NPN_70",
						"type": "varchar"
					},
					{
						"name": "NMA_NAME_60",
						"type": "varchar"
					},
					{
						"name": "NMA_WID_STATUS_60",
						"type": "varchar"
					},
					{
						"name": "NMA_NPN_60",
						"type": "varchar"
					},
					{
						"name": "FMO_NAME_50",
						"type": "varchar"
					},
					{
						"name": "FMO_WID_STATUS_50",
						"type": "varchar"
					},
					{
						"name": "FMO_NPN_50",
						"type": "varchar"
					},
					{
						"name": "MGA_NAME_40",
						"type": "varchar"
					},
					{
						"name": "MGA_WID_STATUS_40",
						"type": "varchar"
					},
					{
						"name": "MGA_NPN_40",
						"type": "varchar"
					},
					{
						"name": "GA_NAME_30",
						"type": "varchar"
					},
					{
						"name": "GA_WID_STATUS_30",
						"type": "varchar"
					},
					{
						"name": "GA_NPN_30",
						"type": "varchar"
					},
					{
						"name": "AGENT_NAME_20",
						"type": "varchar"
					},
					{
						"name": "AGENT_WID_STATUS_20",
						"type": "varchar"
					},
					{
						"name": "AGENT_WID_20",
						"type": "varchar"
					},
					{
						"name": "AGENT_NPN_20",
						"type": "varchar"
					},
					{
						"name": "SOLICITOR_NAME_10",
						"type": "varchar"
					},
					{
						"name": "SOLICITOR_WID_STATUS_10",
						"type": "varchar"
					},
					{
						"name": "SOLICITOR_WID_10",
						"type": "varchar"
					},
					{
						"name": "SOLICITOR_NPN_10",
						"type": "varchar"
					},
					{
						"name": "AGENCY_ID",
						"type": "nvarchar"
					},
					{
						"name": "RECORD_LOAD_DATE",
						"type": "date"
					},
					{
						"name": "RECORD_LOADED_BY",
						"type": "char"
					},
					{
						"name": "RECORD_DATA_SOURCE",
						"type": "char"
					},
					{
						"name": "RECORD_FLAG_STATUS",
						"type": "char"
					},
					{
						"name": "FILE_RECORD_BIRTH_DATE",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "SIM_103",
					"table": "SIM_UNITED_HEALTH_CARE_POLICY_DETAILS_HISTORY"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SIM_UNITED_HEALTH_CARE_POLICY_DETAILS_PRD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServere2eis_PROD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "E2EIS_SEQ_NUMBER",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "AGENT_ID",
						"type": "varchar"
					},
					{
						"name": "AGENT_ID_STATUS",
						"type": "varchar"
					},
					{
						"name": "AGENT_NAME",
						"type": "varchar"
					},
					{
						"name": "AGENT_EMAIL",
						"type": "varchar"
					},
					{
						"name": "AGENT_NPN",
						"type": "varchar"
					},
					{
						"name": "MEMBER_FIRST_NAME",
						"type": "varchar"
					},
					{
						"name": "MEMBER_LAST_NAME",
						"type": "varchar"
					},
					{
						"name": "DATE_OF_BIRTH",
						"type": "varchar"
					},
					{
						"name": "MEMBER_EMAIL",
						"type": "varchar"
					},
					{
						"name": "MEMBER_PHONE",
						"type": "varchar"
					},
					{
						"name": "MEMBER_ADDRESS_1",
						"type": "varchar"
					},
					{
						"name": "MEMBER_ADDRESS_2",
						"type": "varchar"
					},
					{
						"name": "MEMBER_CITY",
						"type": "varchar"
					},
					{
						"name": "MEMBER_STATE",
						"type": "varchar"
					},
					{
						"name": "MEMBER_ZIP",
						"type": "varchar"
					},
					{
						"name": "MEMBER_STATUS",
						"type": "varchar"
					},
					{
						"name": "MEMBER_COUNTY",
						"type": "varchar"
					},
					{
						"name": "MEMBER_NUMBER",
						"type": "varchar"
					},
					{
						"name": "POLICY_EFFECTIVE_DATE",
						"type": "varchar"
					},
					{
						"name": "AGENT_OF_RECORD",
						"type": "varchar"
					},
					{
						"name": "CONTRACT",
						"type": "varchar"
					},
					{
						"name": "PBP",
						"type": "varchar"
					},
					{
						"name": "SEGMENT_ID",
						"type": "varchar"
					},
					{
						"name": "APPLICATION_NUMBER",
						"type": "varchar"
					},
					{
						"name": "POLICY_TERM_DATE",
						"type": "varchar"
					},
					{
						"name": "PRODUCT",
						"type": "varchar"
					},
					{
						"name": "TERM_REASON_CODE",
						"type": "varchar"
					},
					{
						"name": "INDIVIDUAL_ID",
						"type": "varchar"
					},
					{
						"name": "HOUSEHOLD_ID",
						"type": "varchar"
					},
					{
						"name": "MEMBER_NUMBER_1",
						"type": "varchar"
					},
					{
						"name": "MBI_NUMBER",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_PHONE_NUM",
						"type": "varchar"
					},
					{
						"name": "PLAN_STATUS",
						"type": "varchar"
					},
					{
						"name": "PLAN_NAME",
						"type": "varchar"
					},
					{
						"name": "IFP_PLAN_TYPE",
						"type": "varchar"
					},
					{
						"name": "IFP_GRGR_ID",
						"type": "varchar"
					},
					{
						"name": "IFP_RENEWAL",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_LINE1",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_LINE_2",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_MEMBER_CITY",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_MEMBER_STATE",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_MEMBER_ZIP",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_MEMBER_COUNTY",
						"type": "varchar"
					},
					{
						"name": "IFP_FFM_APP_ID",
						"type": "varchar"
					},
					{
						"name": "NMA_NAME80",
						"type": "varchar"
					},
					{
						"name": "NMA_WID_STATUS_80",
						"type": "varchar"
					},
					{
						"name": "NMA_NPN_80",
						"type": "varchar"
					},
					{
						"name": "NMA_NAME_70",
						"type": "varchar"
					},
					{
						"name": "NMA_WID_STATUS70",
						"type": "varchar"
					},
					{
						"name": "NMA_NPN_70",
						"type": "varchar"
					},
					{
						"name": "NMA_NAME_60",
						"type": "varchar"
					},
					{
						"name": "NMA_WID_STATUS_60",
						"type": "varchar"
					},
					{
						"name": "NMA_NPN_60",
						"type": "varchar"
					},
					{
						"name": "FMO_NAME_50",
						"type": "varchar"
					},
					{
						"name": "FMO_WID_STATUS_50",
						"type": "varchar"
					},
					{
						"name": "FMO_NPN_50",
						"type": "varchar"
					},
					{
						"name": "MGA_NAME_40",
						"type": "varchar"
					},
					{
						"name": "MGA_WID_STATUS_40",
						"type": "varchar"
					},
					{
						"name": "MGA_NPN_40",
						"type": "varchar"
					},
					{
						"name": "GA_NAME_30",
						"type": "varchar"
					},
					{
						"name": "GA_WID_STATUS_30",
						"type": "varchar"
					},
					{
						"name": "GA_NPN_30",
						"type": "varchar"
					},
					{
						"name": "AGENT_NAME_20",
						"type": "varchar"
					},
					{
						"name": "AGENT_WID_STATUS_20",
						"type": "varchar"
					},
					{
						"name": "AGENT_WID_20",
						"type": "varchar"
					},
					{
						"name": "AGENT_NPN_20",
						"type": "varchar"
					},
					{
						"name": "SOLICITOR_NAME_10",
						"type": "varchar"
					},
					{
						"name": "SOLICITOR_WID_STATUS_10",
						"type": "varchar"
					},
					{
						"name": "SOLICITOR_WID_10",
						"type": "varchar"
					},
					{
						"name": "SOLICITOR_NPN_10",
						"type": "varchar"
					},
					{
						"name": "AGENCY_ID",
						"type": "nvarchar"
					},
					{
						"name": "RECORD_LOAD_DATE",
						"type": "date"
					},
					{
						"name": "RECORD_LOADED_BY",
						"type": "char"
					},
					{
						"name": "RECORD_DATA_SOURCE",
						"type": "char"
					},
					{
						"name": "RECORD_FLAG_STATUS",
						"type": "char"
					}
				],
				"typeProperties": {
					"schema": "SIM_103",
					"table": "SIM_UNITED_HEALTH_CARE_POLICY_DETAILS"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SIM_VW_BOB_OOS_PUBLISH_APP_PROD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "e2eis_APP_PROD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "E2EIS_SEQ_NUMBER",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "CARRIER",
						"type": "varchar"
					},
					{
						"name": "OWNING_AGENT_OF_RECORD",
						"type": "varchar"
					},
					{
						"name": "ASSIGNED_AGENT_NUMBER",
						"type": "varchar"
					},
					{
						"name": "BROKER_START_DATE",
						"type": "varchar"
					},
					{
						"name": "BROKER_END_DATE",
						"type": "varchar"
					},
					{
						"name": "PRODUCT_TYPE",
						"type": "varchar"
					},
					{
						"name": "PRODUCT_DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "POLICY_STATUS",
						"type": "varchar"
					},
					{
						"name": "POLICY_ID",
						"type": "varchar"
					},
					{
						"name": "GROUP_NAME",
						"type": "varchar"
					},
					{
						"name": "MEMBER_COUNT",
						"type": "varchar"
					},
					{
						"name": "On/Off_Exchange",
						"type": "varchar"
					},
					{
						"name": "EXCHANGE_INDICATOR",
						"type": "varchar"
					},
					{
						"name": "EXCHANGE_SUBSCRIBER_ID",
						"type": "varchar"
					},
					{
						"name": "COVERAGE_TYPE",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_ORIGINAL_EFFECTIVE_DATE",
						"type": "varchar"
					},
					{
						"name": "COVERAGE_START_DATE",
						"type": "varchar"
					},
					{
						"name": "COVERAGE_END_DATE",
						"type": "varchar"
					},
					{
						"name": "PAID_THROUGH_DATE",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_FIRST_NAME",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_MIDDLE_NAME",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_LAST_NAME",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_FULL_NAME",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_DOB",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_EMAIL",
						"type": "varchar"
					},
					{
						"name": "ADDRESS",
						"type": "varchar"
					},
					{
						"name": "ADDRESS_2",
						"type": "varchar"
					},
					{
						"name": "ZIP_CODE",
						"type": "varchar"
					},
					{
						"name": "CITY",
						"type": "varchar"
					},
					{
						"name": "STATE",
						"type": "varchar"
					},
					{
						"name": "COUNTY",
						"type": "varchar"
					},
					{
						"name": "APP_SUBMIT_DATE",
						"type": "varchar"
					},
					{
						"name": "MEMBER_PHONE_NUMBER_1",
						"type": "varchar"
					},
					{
						"name": "MEMBER_PHONE_NUMBER_2",
						"type": "varchar"
					},
					{
						"name": "COMPENSATION_TYPE",
						"type": "varchar"
					},
					{
						"name": "COMPENSATION_PERIOD",
						"type": "varchar"
					},
					{
						"name": "COMPENSATION_AMOUNT",
						"type": "varchar"
					},
					{
						"name": "PAYEE_NAME",
						"type": "varchar"
					},
					{
						"name": "MAIN_UPLINE_AGENT",
						"type": "varchar"
					},
					{
						"name": "GROUP_TEAM_SALES",
						"type": "varchar"
					},
					{
						"name": "TRANSITION_DATE",
						"type": "varchar"
					},
					{
						"name": "ASSIGNED_AGENT_NAME",
						"type": "varchar"
					},
					{
						"name": "FFM_APP_ID",
						"type": "varchar"
					},
					{
						"name": "ACTIVITY_FLAG",
						"type": "varchar"
					},
					{
						"name": "POLICY_ADDED_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_REMOVED_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_CANCELLED_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_REACTIVATION_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_LAST_RECEIVED_DATE",
						"type": "date"
					},
					{
						"name": "PERIOD_NAME",
						"type": "varchar"
					},
					{
						"name": "PERIOD_DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "PERIOD_START_DATE",
						"type": "date"
					},
					{
						"name": "PERIOD_END_DATE",
						"type": "date"
					},
					{
						"name": "BILL_STATUS",
						"type": "varchar"
					},
					{
						"name": "ELIGIBLE_FOR_COMMISSION",
						"type": "varchar"
					},
					{
						"name": "Adds_Member_Count",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Cancels_Member_Count",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Original_Policy_Status",
						"type": "varchar"
					},
					{
						"name": "MEMBER_RESPONSIBILITY",
						"type": "varchar"
					},
					{
						"name": "Accountingdate",
						"type": "date"
					},
					{
						"name": "Annual_Compensation_type",
						"type": "varchar"
					},
					{
						"name": "AGENCY_SUBSCRIBER_ORIG_EFFDATE",
						"type": "date"
					},
					{
						"name": "Ending_Active_Member_Flag",
						"type": "varchar"
					},
					{
						"name": "REMOVALS_CONSIDER_FORCAL",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "SIM_103",
					"table": "SIM_VW_BOB_OOS_PUBLISH"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SIM_VW_BOB_OOS_PUBLISH_PRD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServere2eis_PROD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "E2EIS_SEQ_NUMBER",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "CARRIER",
						"type": "varchar"
					},
					{
						"name": "OWNING_AGENT_OF_RECORD",
						"type": "varchar"
					},
					{
						"name": "ASSIGNED_AGENT_NUMBER",
						"type": "varchar"
					},
					{
						"name": "BROKER_START_DATE",
						"type": "varchar"
					},
					{
						"name": "BROKER_END_DATE",
						"type": "varchar"
					},
					{
						"name": "PRODUCT_TYPE",
						"type": "varchar"
					},
					{
						"name": "PRODUCT_DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "POLICY_STATUS",
						"type": "varchar"
					},
					{
						"name": "POLICY_ID",
						"type": "varchar"
					},
					{
						"name": "GROUP_NAME",
						"type": "varchar"
					},
					{
						"name": "MEMBER_COUNT",
						"type": "varchar"
					},
					{
						"name": "On/Off_Exchange",
						"type": "varchar"
					},
					{
						"name": "EXCHANGE_INDICATOR",
						"type": "varchar"
					},
					{
						"name": "EXCHANGE_SUBSCRIBER_ID",
						"type": "varchar"
					},
					{
						"name": "COVERAGE_TYPE",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_ORIGINAL_EFFECTIVE_DATE",
						"type": "varchar"
					},
					{
						"name": "COVERAGE_START_DATE",
						"type": "varchar"
					},
					{
						"name": "COVERAGE_END_DATE",
						"type": "varchar"
					},
					{
						"name": "PAID_THROUGH_DATE",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_FIRST_NAME",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_MIDDLE_NAME",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_LAST_NAME",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_FULL_NAME",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_DOB",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_EMAIL",
						"type": "varchar"
					},
					{
						"name": "ADDRESS",
						"type": "varchar"
					},
					{
						"name": "ADDRESS_2",
						"type": "varchar"
					},
					{
						"name": "ZIP_CODE",
						"type": "varchar"
					},
					{
						"name": "CITY",
						"type": "varchar"
					},
					{
						"name": "STATE",
						"type": "varchar"
					},
					{
						"name": "COUNTY",
						"type": "varchar"
					},
					{
						"name": "APP_SUBMIT_DATE",
						"type": "varchar"
					},
					{
						"name": "MEMBER_PHONE_NUMBER_1",
						"type": "varchar"
					},
					{
						"name": "MEMBER_PHONE_NUMBER_2",
						"type": "varchar"
					},
					{
						"name": "COMPENSATION_TYPE",
						"type": "varchar"
					},
					{
						"name": "COMPENSATION_PERIOD",
						"type": "varchar"
					},
					{
						"name": "COMPENSATION_AMOUNT",
						"type": "varchar"
					},
					{
						"name": "PAYEE_NAME",
						"type": "varchar"
					},
					{
						"name": "MAIN_UPLINE_AGENT",
						"type": "varchar"
					},
					{
						"name": "GROUP_TEAM_SALES",
						"type": "varchar"
					},
					{
						"name": "TRANSITION_DATE",
						"type": "varchar"
					},
					{
						"name": "ASSIGNED_AGENT_NAME",
						"type": "varchar"
					},
					{
						"name": "FFM_APP_ID",
						"type": "varchar"
					},
					{
						"name": "ACTIVITY_FLAG",
						"type": "varchar"
					},
					{
						"name": "POLICY_ADDED_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_REMOVED_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_CANCELLED_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_REACTIVATION_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_LAST_RECEIVED_DATE",
						"type": "date"
					},
					{
						"name": "PERIOD_NAME",
						"type": "varchar"
					},
					{
						"name": "PERIOD_DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "PERIOD_START_DATE",
						"type": "date"
					},
					{
						"name": "PERIOD_END_DATE",
						"type": "date"
					},
					{
						"name": "BILL_STATUS",
						"type": "varchar"
					},
					{
						"name": "ELIGIBLE_FOR_COMMISSION",
						"type": "varchar"
					},
					{
						"name": "Adds_Member_Count",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Cancels_Member_Count",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Original_Policy_Status",
						"type": "varchar"
					},
					{
						"name": "MEMBER_RESPONSIBILITY",
						"type": "varchar"
					},
					{
						"name": "Accountingdate",
						"type": "date"
					},
					{
						"name": "Annual_Compensation_type",
						"type": "varchar"
					},
					{
						"name": "AGENCY_SUBSCRIBER_ORIG_EFFDATE",
						"type": "date"
					},
					{
						"name": "Ending_Active_Member_Flag",
						"type": "varchar"
					},
					{
						"name": "REMOVALS_CONSIDER_FORCAL",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "SIM_103",
					"table": "SIM_VW_BOB_OOS_PUBLISH"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SIM_VW_BOB_OOS_PUBLISH_UAT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "e2eiS_UAT",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "E2EIS_SEQ_NUMBER",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "CARRIER",
						"type": "varchar"
					},
					{
						"name": "OWNING_AGENT_OF_RECORD",
						"type": "varchar"
					},
					{
						"name": "ASSIGNED_AGENT_NUMBER",
						"type": "varchar"
					},
					{
						"name": "BROKER_START_DATE",
						"type": "varchar"
					},
					{
						"name": "BROKER_END_DATE",
						"type": "varchar"
					},
					{
						"name": "PRODUCT_TYPE",
						"type": "varchar"
					},
					{
						"name": "PRODUCT_DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "POLICY_STATUS",
						"type": "varchar"
					},
					{
						"name": "POLICY_ID",
						"type": "varchar"
					},
					{
						"name": "GROUP_NAME",
						"type": "varchar"
					},
					{
						"name": "MEMBER_COUNT",
						"type": "varchar"
					},
					{
						"name": "On/Off_Exchange",
						"type": "varchar"
					},
					{
						"name": "EXCHANGE_INDICATOR",
						"type": "varchar"
					},
					{
						"name": "EXCHANGE_SUBSCRIBER_ID",
						"type": "varchar"
					},
					{
						"name": "COVERAGE_TYPE",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_ORIGINAL_EFFECTIVE_DATE",
						"type": "varchar"
					},
					{
						"name": "COVERAGE_START_DATE",
						"type": "varchar"
					},
					{
						"name": "COVERAGE_END_DATE",
						"type": "varchar"
					},
					{
						"name": "PAID_THROUGH_DATE",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_FIRST_NAME",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_MIDDLE_NAME",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_LAST_NAME",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_FULL_NAME",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_DOB",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_EMAIL",
						"type": "varchar"
					},
					{
						"name": "ADDRESS",
						"type": "varchar"
					},
					{
						"name": "ADDRESS_2",
						"type": "varchar"
					},
					{
						"name": "ZIP_CODE",
						"type": "varchar"
					},
					{
						"name": "CITY",
						"type": "varchar"
					},
					{
						"name": "STATE",
						"type": "varchar"
					},
					{
						"name": "COUNTY",
						"type": "varchar"
					},
					{
						"name": "APP_SUBMIT_DATE",
						"type": "varchar"
					},
					{
						"name": "MEMBER_PHONE_NUMBER_1",
						"type": "varchar"
					},
					{
						"name": "MEMBER_PHONE_NUMBER_2",
						"type": "varchar"
					},
					{
						"name": "COMPENSATION_TYPE",
						"type": "varchar"
					},
					{
						"name": "COMPENSATION_PERIOD",
						"type": "varchar"
					},
					{
						"name": "COMPENSATION_AMOUNT",
						"type": "varchar"
					},
					{
						"name": "PAYEE_NAME",
						"type": "varchar"
					},
					{
						"name": "MAIN_UPLINE_AGENT",
						"type": "varchar"
					},
					{
						"name": "GROUP_TEAM_SALES",
						"type": "varchar"
					},
					{
						"name": "TRANSITION_DATE",
						"type": "varchar"
					},
					{
						"name": "ASSIGNED_AGENT_NAME",
						"type": "varchar"
					},
					{
						"name": "FFM_APP_ID",
						"type": "varchar"
					},
					{
						"name": "ACTIVITY_FLAG",
						"type": "varchar"
					},
					{
						"name": "POLICY_ADDED_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_REMOVED_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_CANCELLED_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_REACTIVATION_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_LAST_RECEIVED_DATE",
						"type": "date"
					},
					{
						"name": "PERIOD_NAME",
						"type": "varchar"
					},
					{
						"name": "PERIOD_DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "PERIOD_START_DATE",
						"type": "date"
					},
					{
						"name": "PERIOD_END_DATE",
						"type": "date"
					},
					{
						"name": "BILL_STATUS",
						"type": "varchar"
					},
					{
						"name": "ELIGIBLE_FOR_COMMISSION",
						"type": "varchar"
					},
					{
						"name": "Adds_Member_Count",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Cancels_Member_Count",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Original_Policy_Status",
						"type": "varchar"
					},
					{
						"name": "MEMBER_RESPONSIBILITY",
						"type": "varchar"
					},
					{
						"name": "Accountingdate",
						"type": "date"
					},
					{
						"name": "Annual_Compensation_type",
						"type": "varchar"
					},
					{
						"name": "AGENCY_SUBSCRIBER_ORIG_EFFDATE",
						"type": "date"
					},
					{
						"name": "Ending_Active_Member_Flag",
						"type": "varchar"
					},
					{
						"name": "REMOVALS_CONSIDER_FORCAL",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "SIM_103",
					"table": "SIM_VW_BOB_OOS_PUBLISH"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SIM_VW_BOB_PUBLISH_FB_APP_PROD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "e2eis_APP_PROD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "E2EIS_SEQ_NUMBER",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "CARRIER",
						"type": "varchar"
					},
					{
						"name": "AGENCY_NAME",
						"type": "varchar"
					},
					{
						"name": "AGENCY_IDENTIFIER",
						"type": "varchar"
					},
					{
						"name": "ASSIGNED_AGENT_NUMBER",
						"type": "varchar"
					},
					{
						"name": "AGENT_NPN",
						"type": "varchar"
					},
					{
						"name": "ASSIGNED_AGENT_NAME",
						"type": "varchar"
					},
					{
						"name": "PLAN_NAME",
						"type": "varchar"
					},
					{
						"name": "PRODUCT",
						"type": "varchar"
					},
					{
						"name": "Policy_id",
						"type": "varchar"
					},
					{
						"name": "MEMBER_COUNT",
						"type": "varchar"
					},
					{
						"name": "MEMBER_RELATIOSHIP",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_FIRST_NAME",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_LAST_NAME",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_DOB",
						"type": "varchar"
					},
					{
						"name": "COUNTY",
						"type": "varchar"
					},
					{
						"name": "EXCHANGE_INDICATOR",
						"type": "varchar"
					},
					{
						"name": "PRIMARY_MEMBER_ID",
						"type": "varchar"
					},
					{
						"name": "PRODUCT_TYPE",
						"type": "varchar"
					},
					{
						"name": "ZIP_CODE",
						"type": "varchar"
					},
					{
						"name": "COVERAGE_START_DATE",
						"type": "varchar"
					},
					{
						"name": "COVERAGE_END_DATE",
						"type": "varchar"
					},
					{
						"name": "BROKER_START_DATE",
						"type": "varchar"
					},
					{
						"name": "BROKER_END_DATE",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_ORIGINAL_EFFECTIVE_DATE",
						"type": "varchar"
					},
					{
						"name": "POLICY_STATUS",
						"type": "varchar"
					},
					{
						"name": "MEMBER_PHONE_NUMBER_1",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_EMAIL",
						"type": "varchar"
					},
					{
						"name": "ACTIVITY_FLAG",
						"type": "varchar"
					},
					{
						"name": "POLICY_RANK",
						"type": "varchar"
					},
					{
						"name": "POLICY_ADDED_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_RETENTION_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_REMOVED_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_CANCELLED_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_LAST_RECEIVED_DATE",
						"type": "date"
					},
					{
						"name": "PERIOD_NAME",
						"type": "varchar"
					},
					{
						"name": "PERIOD_DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "PERIOD_START_DATE",
						"type": "date"
					},
					{
						"name": "PERIOD_END_DATE",
						"type": "date"
					},
					{
						"name": "BILL_STATUS",
						"type": "varchar"
					},
					{
						"name": "Original_Policy_Status",
						"type": "varchar"
					},
					{
						"name": "Policy_Reactivation_date",
						"type": "date"
					},
					{
						"name": "Adds_member_Count",
						"type": "decimal",
						"precision": 14,
						"scale": 3
					},
					{
						"name": "Cancels_Member_Count",
						"type": "decimal",
						"precision": 14,
						"scale": 3
					},
					{
						"name": "MEMBER_RESPONSIBILITY",
						"type": "varchar"
					},
					{
						"name": "ACCOUNTINGDATE",
						"type": "date"
					},
					{
						"name": "Annual_Compensation_type",
						"type": "varchar"
					},
					{
						"name": "AGENCY_SUBSCRIBER_ORIG_EFFDATE",
						"type": "date"
					},
					{
						"name": "Ending_Active_Member_Flag",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "SIM_103",
					"table": "SIM_VW_BOB_PUBLISH_FB"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SIM_VW_BOB_PUBLISH_FB_PRD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServere2eis_PROD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "E2EIS_SEQ_NUMBER",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "CARRIER",
						"type": "varchar"
					},
					{
						"name": "AGENCY_NAME",
						"type": "varchar"
					},
					{
						"name": "AGENCY_IDENTIFIER",
						"type": "varchar"
					},
					{
						"name": "ASSIGNED_AGENT_NUMBER",
						"type": "varchar"
					},
					{
						"name": "AGENT_NPN",
						"type": "varchar"
					},
					{
						"name": "ASSIGNED_AGENT_NAME",
						"type": "varchar"
					},
					{
						"name": "PLAN_NAME",
						"type": "varchar"
					},
					{
						"name": "PRODUCT",
						"type": "varchar"
					},
					{
						"name": "Policy_id",
						"type": "varchar"
					},
					{
						"name": "MEMBER_COUNT",
						"type": "varchar"
					},
					{
						"name": "MEMBER_RELATIOSHIP",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_FIRST_NAME",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_LAST_NAME",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_DOB",
						"type": "varchar"
					},
					{
						"name": "COUNTY",
						"type": "varchar"
					},
					{
						"name": "EXCHANGE_INDICATOR",
						"type": "varchar"
					},
					{
						"name": "PRIMARY_MEMBER_ID",
						"type": "varchar"
					},
					{
						"name": "PRODUCT_TYPE",
						"type": "varchar"
					},
					{
						"name": "ZIP_CODE",
						"type": "varchar"
					},
					{
						"name": "COVERAGE_START_DATE",
						"type": "varchar"
					},
					{
						"name": "COVERAGE_END_DATE",
						"type": "varchar"
					},
					{
						"name": "BROKER_START_DATE",
						"type": "varchar"
					},
					{
						"name": "BROKER_END_DATE",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_ORIGINAL_EFFECTIVE_DATE",
						"type": "varchar"
					},
					{
						"name": "POLICY_STATUS",
						"type": "varchar"
					},
					{
						"name": "MEMBER_PHONE_NUMBER_1",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_EMAIL",
						"type": "varchar"
					},
					{
						"name": "ACTIVITY_FLAG",
						"type": "varchar"
					},
					{
						"name": "POLICY_RANK",
						"type": "varchar"
					},
					{
						"name": "POLICY_ADDED_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_RETENTION_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_REMOVED_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_CANCELLED_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_LAST_RECEIVED_DATE",
						"type": "date"
					},
					{
						"name": "PERIOD_NAME",
						"type": "varchar"
					},
					{
						"name": "PERIOD_DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "PERIOD_START_DATE",
						"type": "date"
					},
					{
						"name": "PERIOD_END_DATE",
						"type": "date"
					},
					{
						"name": "BILL_STATUS",
						"type": "varchar"
					},
					{
						"name": "Original_Policy_Status",
						"type": "varchar"
					},
					{
						"name": "Policy_Reactivation_date",
						"type": "date"
					},
					{
						"name": "Adds_member_Count",
						"type": "decimal",
						"precision": 14,
						"scale": 3
					},
					{
						"name": "Cancels_Member_Count",
						"type": "decimal",
						"precision": 14,
						"scale": 3
					},
					{
						"name": "MEMBER_RESPONSIBILITY",
						"type": "varchar"
					},
					{
						"name": "ACCOUNTINGDATE",
						"type": "date"
					},
					{
						"name": "Annual_Compensation_type",
						"type": "varchar"
					},
					{
						"name": "AGENCY_SUBSCRIBER_ORIG_EFFDATE",
						"type": "date"
					},
					{
						"name": "Ending_Active_Member_Flag",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "SIM_103",
					"table": "SIM_VW_BOB_PUBLISH_FB"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SftpDelimitedParam')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SFTP",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_folderPath": {
						"type": "string"
					},
					"p_fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"fileName": {
							"value": "@dataset().p_fileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().p_folderPath",
							"type": "Expression"
						}
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlTableParam')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQL_PROD",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_schema": {
						"type": "string"
					},
					"p_table": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().p_schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().p_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/new_mapping_sim')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Sftp1_connections_ALL_FEED",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"fileName": "new_mapping_sim.txt",
						"folderPath": "/MSL_Cloud_Prd/FromAgency/SIM"
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "E2E_SEQ_NO\tFILE_NAME\tFILE_FREQUENCY\tFILE_ENABLED\tETL_PROCESS_NAME\tTABLE_NAME\tSCHEMA_TABLE",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AUTOMATED_PIPELINE_FOR_ALL_SIM_WEEKLY_DATA_FEEDS_DOTNET')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEachProcesses",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "DELETE_BY_FILERECORDBIRTHDATE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.processControls",
								"type": "Expression"
							},
							"batchCount": 5,
							"activities": [
								{
									"name": "IfEnabled",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@item().Enabled",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Copy",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "SftpReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false,
															"disableChunking": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "SftpDelimitedParam",
														"type": "DatasetReference",
														"parameters": {
															"p_folderPath": {
																"value": "@item().FolderPath",
																"type": "Expression"
															},
															"p_fileName": {
																"value": "@item().FileName",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "SqlTableParam",
														"type": "DatasetReference",
														"parameters": {
															"p_schema": {
																"value": "@item().TargetSchema",
																"type": "Expression"
															},
															"p_table": {
																"value": "@item().TargetTable",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "SP_MarkSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEachProcesses",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_ETL_AUDIT_UPDATE_BY_PIPELINE]",
							"storedProcedureParameters": {
								"PipelineRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									}
								},
								"Status": {
									"value": "Succeeded",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_MarkFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEachProcesses",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "DELETE_BY_FILERECORDBIRTHDATE",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_ETL_AUDIT_UPDATE_BY_PIPELINE]",
							"storedProcedureParameters": {
								"PipelineRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									}
								},
								"Status": {
									"value": "Failed",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DELETE_BY_FILERECORDBIRTHDATE",
						"description": "This procedure will delete the records based on the input in the FileRecordBirthDate for each table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.1:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_ETL_DELETE_BY_FILERECORDBIRTHDATE]",
							"storedProcedureParameters": {
								"FileRecordBirthDate": {
									"value": {
										"value": "@pipeline().parameters.fileRecordBirthDate",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					}
				],
				"concurrency": 5,
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"processControls": {
						"type": "array"
					},
					"fileRecordBirthDate": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-09-08T11:05:57Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SftpDelimitedParam')]",
				"[concat(variables('factoryId'), '/datasets/SqlTableParam')]"
			]
		}
	]
}