DFMSLALLPRD/linkedTemplates/ArmTemplate_35.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DFMSLALLPRD"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SIM_UHC_PRE_ENROLLMENT_WEEKLY_DETAILS_APP_PROD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "e2eis_APP_PROD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "E2EIS_SEQ_NUMBER",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "AGENCY_IDENTIFIER",
						"type": "varchar"
					},
					{
						"name": "AGENCY_NAME",
						"type": "varchar"
					},
					{
						"name": "AGENT_ID",
						"type": "varchar"
					},
					{
						"name": "AGENT_ID_STATUS",
						"type": "varchar"
					},
					{
						"name": "AGENT_NAME",
						"type": "varchar"
					},
					{
						"name": "PLAN_LEVEL",
						"type": "varchar"
					},
					{
						"name": "PLAN_NBR",
						"type": "varchar"
					},
					{
						"name": "PLAN_NAME",
						"type": "varchar"
					},
					{
						"name": "APP_STATE",
						"type": "varchar"
					},
					{
						"name": "RECEIVED_DATE",
						"type": "varchar"
					},
					{
						"name": "EFFECTIVE_DATE",
						"type": "varchar"
					},
					{
						"name": "MEM_FIRST_NAME",
						"type": "varchar"
					},
					{
						"name": "MEM_LAST_NAME",
						"type": "varchar"
					},
					{
						"name": "MEMBER_DOB",
						"type": "varchar"
					},
					{
						"name": "APP_STATUS",
						"type": "varchar"
					},
					{
						"name": "FILE_RECORD_BIRTH_DATE",
						"type": "varchar"
					},
					{
						"name": "AGENCY_ID",
						"type": "nvarchar"
					},
					{
						"name": "RECORD_LOAD_DATE",
						"type": "date"
					},
					{
						"name": "RECORD_LOADED_BY",
						"type": "char"
					},
					{
						"name": "RECORD_DATA_SOURCE",
						"type": "char"
					},
					{
						"name": "RECORD_FLAG_STATUS",
						"type": "char"
					}
				],
				"typeProperties": {
					"schema": "SIM_103",
					"table": "SIM_UHC_PRE_ENROLLMENT_WEEKLY_DETAILS"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SIM_UHC_PRE_ENROLLMENT_WEEKLY_DETAILS_HISTORY_APP_PROD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "e2eis_APP_PROD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "E2EIS_SEQ_NUMBER",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "AGENCY_IDENTIFIER",
						"type": "varchar"
					},
					{
						"name": "AGENCY_NAME",
						"type": "varchar"
					},
					{
						"name": "AGENT_ID",
						"type": "varchar"
					},
					{
						"name": "AGENT_ID_STATUS",
						"type": "varchar"
					},
					{
						"name": "AGENT_NAME",
						"type": "varchar"
					},
					{
						"name": "PLAN_LEVEL",
						"type": "varchar"
					},
					{
						"name": "PLAN_NBR",
						"type": "varchar"
					},
					{
						"name": "PLAN_NAME",
						"type": "varchar"
					},
					{
						"name": "APP_STATE",
						"type": "varchar"
					},
					{
						"name": "RECEIVED_DATE",
						"type": "varchar"
					},
					{
						"name": "EFFECTIVE_DATE",
						"type": "varchar"
					},
					{
						"name": "MEM_FIRST_NAME",
						"type": "varchar"
					},
					{
						"name": "MEM_LAST_NAME",
						"type": "varchar"
					},
					{
						"name": "MEMBER_DOB",
						"type": "varchar"
					},
					{
						"name": "APP_STATUS",
						"type": "varchar"
					},
					{
						"name": "FILE_RECORD_BIRTH_DATE",
						"type": "varchar"
					},
					{
						"name": "AGENCY_ID",
						"type": "nvarchar"
					},
					{
						"name": "RECORD_LOAD_DATE",
						"type": "date"
					},
					{
						"name": "RECORD_LOADED_BY",
						"type": "char"
					},
					{
						"name": "RECORD_DATA_SOURCE",
						"type": "char"
					},
					{
						"name": "RECORD_FLAG_STATUS",
						"type": "char"
					}
				],
				"typeProperties": {
					"schema": "SIM_103",
					"table": "SIM_UHC_PRE_ENROLLMENT_WEEKLY_DETAILS_HISTORY"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SIM_UHC_PRE_ENROLLMENT_WEEKLY_DETAILS_HISTORY_PRD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServere2eis_PROD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "E2EIS_SEQ_NUMBER",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "AGENCY_IDENTIFIER",
						"type": "varchar"
					},
					{
						"name": "AGENCY_NAME",
						"type": "varchar"
					},
					{
						"name": "AGENT_ID",
						"type": "varchar"
					},
					{
						"name": "AGENT_ID_STATUS",
						"type": "varchar"
					},
					{
						"name": "AGENT_NAME",
						"type": "varchar"
					},
					{
						"name": "PLAN_LEVEL",
						"type": "varchar"
					},
					{
						"name": "PLAN_NBR",
						"type": "varchar"
					},
					{
						"name": "PLAN_NAME",
						"type": "varchar"
					},
					{
						"name": "APP_STATE",
						"type": "varchar"
					},
					{
						"name": "RECEIVED_DATE",
						"type": "varchar"
					},
					{
						"name": "EFFECTIVE_DATE",
						"type": "varchar"
					},
					{
						"name": "MEM_FIRST_NAME",
						"type": "varchar"
					},
					{
						"name": "MEM_LAST_NAME",
						"type": "varchar"
					},
					{
						"name": "MEMBER_DOB",
						"type": "varchar"
					},
					{
						"name": "APP_STATUS",
						"type": "varchar"
					},
					{
						"name": "FILE_RECORD_BIRTH_DATE",
						"type": "varchar"
					},
					{
						"name": "AGENCY_ID",
						"type": "nvarchar"
					},
					{
						"name": "RECORD_LOAD_DATE",
						"type": "date"
					},
					{
						"name": "RECORD_LOADED_BY",
						"type": "char"
					},
					{
						"name": "RECORD_DATA_SOURCE",
						"type": "char"
					},
					{
						"name": "RECORD_FLAG_STATUS",
						"type": "char"
					}
				],
				"typeProperties": {
					"schema": "SIM_103",
					"table": "SIM_UHC_PRE_ENROLLMENT_WEEKLY_DETAILS_HISTORY"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SIM_UHC_PRE_ENROLLMENT_WEEKLY_DETAILS_PRD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServere2eis_PROD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "E2EIS_SEQ_NUMBER",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "AGENCY_IDENTIFIER",
						"type": "varchar"
					},
					{
						"name": "AGENCY_NAME",
						"type": "varchar"
					},
					{
						"name": "AGENT_ID",
						"type": "varchar"
					},
					{
						"name": "AGENT_ID_STATUS",
						"type": "varchar"
					},
					{
						"name": "AGENT_NAME",
						"type": "varchar"
					},
					{
						"name": "PLAN_LEVEL",
						"type": "varchar"
					},
					{
						"name": "PLAN_NBR",
						"type": "varchar"
					},
					{
						"name": "PLAN_NAME",
						"type": "varchar"
					},
					{
						"name": "APP_STATE",
						"type": "varchar"
					},
					{
						"name": "RECEIVED_DATE",
						"type": "varchar"
					},
					{
						"name": "EFFECTIVE_DATE",
						"type": "varchar"
					},
					{
						"name": "MEM_FIRST_NAME",
						"type": "varchar"
					},
					{
						"name": "MEM_LAST_NAME",
						"type": "varchar"
					},
					{
						"name": "MEMBER_DOB",
						"type": "varchar"
					},
					{
						"name": "APP_STATUS",
						"type": "varchar"
					},
					{
						"name": "FILE_RECORD_BIRTH_DATE",
						"type": "varchar"
					},
					{
						"name": "AGENCY_ID",
						"type": "nvarchar"
					},
					{
						"name": "RECORD_LOAD_DATE",
						"type": "date"
					},
					{
						"name": "RECORD_LOADED_BY",
						"type": "char"
					},
					{
						"name": "RECORD_DATA_SOURCE",
						"type": "char"
					},
					{
						"name": "RECORD_FLAG_STATUS",
						"type": "char"
					}
				],
				"typeProperties": {
					"schema": "SIM_103",
					"table": "SIM_UHC_PRE_ENROLLMENT_WEEKLY_DETAILS"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SIM_UHC_PRE_ENROLLMENT_WEEKLY_FEED_PRD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Sftp1_connections_ALL_FEED",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"fileName": "SIM_UHC_PRE_ENROLLMENT_WEEKLY_FEED_PRD.txt",
						"folderPath": "/MSL_Cloud_Prd/FromAgency/SIM"
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Agency ID\tAgency Name\tAgent ID\tAgent ID Status\tAgent Name\tPlan Level\tPlan Nbr\tPlan Name\tApp State\tReceived Date\tEffective Date\tMem First Name\tMem Last Name\tMember DOB\tApp Status\tFILE_RECORD_BIRTH_DATE",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SIM_UHC_Weekly_Feed_PRD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Sftp1_connections_ALL_FEED",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"fileName": "SIM_UHC_Weekly_Feed_PRD.txt",
						"folderPath": "/MSL_Cloud_Prd/FromAgency/SIM"
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "AGENT_ID\tAGENT_ID_STATUS\tAGENT_NAME\tAGENT_EMAIL\tAGENT_NPN\tMEMBER_FIRST_NAME\tMEMBER_LAST_NAME\tDATE_OF_BIRTH\tMEMBER_EMAIL\tMEMBER_PHONE\tMEMBER_ADDRESS_1\tMEMBER_ADDRESS_2\tMEMBER_CITY\tMEMBER_STATE\tMEMBER_ZIP\tMEMBER_STATUS\tMEMBER_COUNTY\tMEMBER_NUMBER\tPOLICY_EFFECTIVE_DATE\tAGENT_OF_RECORD\tCONTRACT\tPBP\tSEGMENT_ID\tAPPLICATION_NUMBER\tPOLICY_TERM_DATE\tPRODUCT\tTERM_REASON_CODE\tINDIVIDUAL_ID\tHOUSEHOLD_ID\tMEMBER_NUMBER_1\tMBI_NUMBER\tSECONDARY_PHONE_NUM\tPLAN_STATUS\tPLAN_NAME\tIFP_PLAN_TYPE\tIFP_GRGR_ID\tIFP_RENEWAL\tSECONDARY_ADDRESS_LINE1\tSECONDARY_ADDRESS_LINE_2\tSECONDARY_ADDRESS_MEMBER_CITY\tSECONDARY_ADDRESS_MEMBER_STATE\tSECONDARY_ADDRESS_MEMBER_ZIP\tSECONDARY_ADDRESS_MEMBER_COUNTY\tIFP_FFM_APP_ID\tNMA_NAME80\tNMA_WID_STATUS_80\tNMA_NPN_80\tNMA_NAME_70\tNMA_WID_STATUS70\tNMA_NPN_70\tNMA_NAME_60\tNMA_WID_STATUS_60\tNMA_NPN_60\tFMO_NAME_50\tFMO_WID_STATUS_50\tFMO_NPN_50\tMGA_NAME_40\tMGA_WID_STATUS_40\tMGA_NPN_40\tGA_NAME_30\tGA_WID_STATUS_30\tGA_NPN_30\tAGENT_NAME_20\tAGENT_WID_STATUS_20\tAGENT_WID_20\tAGENT_NPN_20\tSOLICITOR_NAME_10\tSOLICITOR_WID_STATUS_10\tSOLICITOR_WID_10\tSOLICITOR_NPN_10",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SIM_UNITED_HEALTH_CARE_POLICY_DETAILS_APP_PROD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "e2eis_APP_PROD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "E2EIS_SEQ_NUMBER",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "AGENT_ID",
						"type": "varchar"
					},
					{
						"name": "AGENT_ID_STATUS",
						"type": "varchar"
					},
					{
						"name": "AGENT_NAME",
						"type": "varchar"
					},
					{
						"name": "AGENT_EMAIL",
						"type": "varchar"
					},
					{
						"name": "AGENT_NPN",
						"type": "varchar"
					},
					{
						"name": "MEMBER_FIRST_NAME",
						"type": "varchar"
					},
					{
						"name": "MEMBER_LAST_NAME",
						"type": "varchar"
					},
					{
						"name": "DATE_OF_BIRTH",
						"type": "varchar"
					},
					{
						"name": "MEMBER_EMAIL",
						"type": "varchar"
					},
					{
						"name": "MEMBER_PHONE",
						"type": "varchar"
					},
					{
						"name": "MEMBER_ADDRESS_1",
						"type": "varchar"
					},
					{
						"name": "MEMBER_ADDRESS_2",
						"type": "varchar"
					},
					{
						"name": "MEMBER_CITY",
						"type": "varchar"
					},
					{
						"name": "MEMBER_STATE",
						"type": "varchar"
					},
					{
						"name": "MEMBER_ZIP",
						"type": "varchar"
					},
					{
						"name": "MEMBER_STATUS",
						"type": "varchar"
					},
					{
						"name": "MEMBER_COUNTY",
						"type": "varchar"
					},
					{
						"name": "MEMBER_NUMBER",
						"type": "varchar"
					},
					{
						"name": "POLICY_EFFECTIVE_DATE",
						"type": "varchar"
					},
					{
						"name": "AGENT_OF_RECORD",
						"type": "varchar"
					},
					{
						"name": "CONTRACT",
						"type": "varchar"
					},
					{
						"name": "PBP",
						"type": "varchar"
					},
					{
						"name": "SEGMENT_ID",
						"type": "varchar"
					},
					{
						"name": "APPLICATION_NUMBER",
						"type": "varchar"
					},
					{
						"name": "POLICY_TERM_DATE",
						"type": "varchar"
					},
					{
						"name": "PRODUCT",
						"type": "varchar"
					},
					{
						"name": "TERM_REASON_CODE",
						"type": "varchar"
					},
					{
						"name": "INDIVIDUAL_ID",
						"type": "varchar"
					},
					{
						"name": "HOUSEHOLD_ID",
						"type": "varchar"
					},
					{
						"name": "MEMBER_NUMBER_1",
						"type": "varchar"
					},
					{
						"name": "MBI_NUMBER",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_PHONE_NUM",
						"type": "varchar"
					},
					{
						"name": "PLAN_STATUS",
						"type": "varchar"
					},
					{
						"name": "PLAN_NAME",
						"type": "varchar"
					},
					{
						"name": "IFP_PLAN_TYPE",
						"type": "varchar"
					},
					{
						"name": "IFP_GRGR_ID",
						"type": "varchar"
					},
					{
						"name": "IFP_RENEWAL",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_LINE1",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_LINE_2",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_MEMBER_CITY",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_MEMBER_STATE",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_MEMBER_ZIP",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_MEMBER_COUNTY",
						"type": "varchar"
					},
					{
						"name": "IFP_FFM_APP_ID",
						"type": "varchar"
					},
					{
						"name": "NMA_NAME80",
						"type": "varchar"
					},
					{
						"name": "NMA_WID_STATUS_80",
						"type": "varchar"
					},
					{
						"name": "NMA_NPN_80",
						"type": "varchar"
					},
					{
						"name": "NMA_NAME_70",
						"type": "varchar"
					},
					{
						"name": "NMA_WID_STATUS70",
						"type": "varchar"
					},
					{
						"name": "NMA_NPN_70",
						"type": "varchar"
					},
					{
						"name": "NMA_NAME_60",
						"type": "varchar"
					},
					{
						"name": "NMA_WID_STATUS_60",
						"type": "varchar"
					},
					{
						"name": "NMA_NPN_60",
						"type": "varchar"
					},
					{
						"name": "FMO_NAME_50",
						"type": "varchar"
					},
					{
						"name": "FMO_WID_STATUS_50",
						"type": "varchar"
					},
					{
						"name": "FMO_NPN_50",
						"type": "varchar"
					},
					{
						"name": "MGA_NAME_40",
						"type": "varchar"
					},
					{
						"name": "MGA_WID_STATUS_40",
						"type": "varchar"
					},
					{
						"name": "MGA_NPN_40",
						"type": "varchar"
					},
					{
						"name": "GA_NAME_30",
						"type": "varchar"
					},
					{
						"name": "GA_WID_STATUS_30",
						"type": "varchar"
					},
					{
						"name": "GA_NPN_30",
						"type": "varchar"
					},
					{
						"name": "AGENT_NAME_20",
						"type": "varchar"
					},
					{
						"name": "AGENT_WID_STATUS_20",
						"type": "varchar"
					},
					{
						"name": "AGENT_WID_20",
						"type": "varchar"
					},
					{
						"name": "AGENT_NPN_20",
						"type": "varchar"
					},
					{
						"name": "SOLICITOR_NAME_10",
						"type": "varchar"
					},
					{
						"name": "SOLICITOR_WID_STATUS_10",
						"type": "varchar"
					},
					{
						"name": "SOLICITOR_WID_10",
						"type": "varchar"
					},
					{
						"name": "SOLICITOR_NPN_10",
						"type": "varchar"
					},
					{
						"name": "AGENCY_ID",
						"type": "nvarchar"
					},
					{
						"name": "RECORD_LOAD_DATE",
						"type": "date"
					},
					{
						"name": "RECORD_LOADED_BY",
						"type": "char"
					},
					{
						"name": "RECORD_DATA_SOURCE",
						"type": "char"
					},
					{
						"name": "RECORD_FLAG_STATUS",
						"type": "char"
					},
					{
						"name": "FILE_RECORD_BIRTH_DATE",
						"type": "varchar"
					},
					{
						"name": "IFP_SUBSCRIBER_ICHRA_QSEHRA_STATUS",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "SIM_103",
					"table": "SIM_UNITED_HEALTH_CARE_POLICY_DETAILS"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SIM_UNITED_HEALTH_CARE_POLICY_DETAILS_HISTORY_APP_PROD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "e2eis_APP_PROD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "E2EIS_SEQ_NUMBER",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "AGENT_ID",
						"type": "varchar"
					},
					{
						"name": "AGENT_ID_STATUS",
						"type": "varchar"
					},
					{
						"name": "AGENT_NAME",
						"type": "varchar"
					},
					{
						"name": "AGENT_EMAIL",
						"type": "varchar"
					},
					{
						"name": "AGENT_NPN",
						"type": "varchar"
					},
					{
						"name": "MEMBER_FIRST_NAME",
						"type": "varchar"
					},
					{
						"name": "MEMBER_LAST_NAME",
						"type": "varchar"
					},
					{
						"name": "DATE_OF_BIRTH",
						"type": "varchar"
					},
					{
						"name": "MEMBER_EMAIL",
						"type": "varchar"
					},
					{
						"name": "MEMBER_PHONE",
						"type": "varchar"
					},
					{
						"name": "MEMBER_ADDRESS_1",
						"type": "varchar"
					},
					{
						"name": "MEMBER_ADDRESS_2",
						"type": "varchar"
					},
					{
						"name": "MEMBER_CITY",
						"type": "varchar"
					},
					{
						"name": "MEMBER_STATE",
						"type": "varchar"
					},
					{
						"name": "MEMBER_ZIP",
						"type": "varchar"
					},
					{
						"name": "MEMBER_STATUS",
						"type": "varchar"
					},
					{
						"name": "MEMBER_COUNTY",
						"type": "varchar"
					},
					{
						"name": "MEMBER_NUMBER",
						"type": "varchar"
					},
					{
						"name": "POLICY_EFFECTIVE_DATE",
						"type": "varchar"
					},
					{
						"name": "AGENT_OF_RECORD",
						"type": "varchar"
					},
					{
						"name": "CONTRACT",
						"type": "varchar"
					},
					{
						"name": "PBP",
						"type": "varchar"
					},
					{
						"name": "SEGMENT_ID",
						"type": "varchar"
					},
					{
						"name": "APPLICATION_NUMBER",
						"type": "varchar"
					},
					{
						"name": "POLICY_TERM_DATE",
						"type": "varchar"
					},
					{
						"name": "PRODUCT",
						"type": "varchar"
					},
					{
						"name": "TERM_REASON_CODE",
						"type": "varchar"
					},
					{
						"name": "INDIVIDUAL_ID",
						"type": "varchar"
					},
					{
						"name": "HOUSEHOLD_ID",
						"type": "varchar"
					},
					{
						"name": "MEMBER_NUMBER_1",
						"type": "varchar"
					},
					{
						"name": "MBI_NUMBER",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_PHONE_NUM",
						"type": "varchar"
					},
					{
						"name": "PLAN_STATUS",
						"type": "varchar"
					},
					{
						"name": "PLAN_NAME",
						"type": "varchar"
					},
					{
						"name": "IFP_PLAN_TYPE",
						"type": "varchar"
					},
					{
						"name": "IFP_GRGR_ID",
						"type": "varchar"
					},
					{
						"name": "IFP_RENEWAL",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_LINE1",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_LINE_2",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_MEMBER_CITY",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_MEMBER_STATE",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_MEMBER_ZIP",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_MEMBER_COUNTY",
						"type": "varchar"
					},
					{
						"name": "IFP_FFM_APP_ID",
						"type": "varchar"
					},
					{
						"name": "NMA_NAME80",
						"type": "varchar"
					},
					{
						"name": "NMA_WID_STATUS_80",
						"type": "varchar"
					},
					{
						"name": "NMA_NPN_80",
						"type": "varchar"
					},
					{
						"name": "NMA_NAME_70",
						"type": "varchar"
					},
					{
						"name": "NMA_WID_STATUS70",
						"type": "varchar"
					},
					{
						"name": "NMA_NPN_70",
						"type": "varchar"
					},
					{
						"name": "NMA_NAME_60",
						"type": "varchar"
					},
					{
						"name": "NMA_WID_STATUS_60",
						"type": "varchar"
					},
					{
						"name": "NMA_NPN_60",
						"type": "varchar"
					},
					{
						"name": "FMO_NAME_50",
						"type": "varchar"
					},
					{
						"name": "FMO_WID_STATUS_50",
						"type": "varchar"
					},
					{
						"name": "FMO_NPN_50",
						"type": "varchar"
					},
					{
						"name": "MGA_NAME_40",
						"type": "varchar"
					},
					{
						"name": "MGA_WID_STATUS_40",
						"type": "varchar"
					},
					{
						"name": "MGA_NPN_40",
						"type": "varchar"
					},
					{
						"name": "GA_NAME_30",
						"type": "varchar"
					},
					{
						"name": "GA_WID_STATUS_30",
						"type": "varchar"
					},
					{
						"name": "GA_NPN_30",
						"type": "varchar"
					},
					{
						"name": "AGENT_NAME_20",
						"type": "varchar"
					},
					{
						"name": "AGENT_WID_STATUS_20",
						"type": "varchar"
					},
					{
						"name": "AGENT_WID_20",
						"type": "varchar"
					},
					{
						"name": "AGENT_NPN_20",
						"type": "varchar"
					},
					{
						"name": "SOLICITOR_NAME_10",
						"type": "varchar"
					},
					{
						"name": "SOLICITOR_WID_STATUS_10",
						"type": "varchar"
					},
					{
						"name": "SOLICITOR_WID_10",
						"type": "varchar"
					},
					{
						"name": "SOLICITOR_NPN_10",
						"type": "varchar"
					},
					{
						"name": "AGENCY_ID",
						"type": "nvarchar"
					},
					{
						"name": "RECORD_LOAD_DATE",
						"type": "date"
					},
					{
						"name": "RECORD_LOADED_BY",
						"type": "char"
					},
					{
						"name": "RECORD_DATA_SOURCE",
						"type": "char"
					},
					{
						"name": "RECORD_FLAG_STATUS",
						"type": "char"
					},
					{
						"name": "FILE_RECORD_BIRTH_DATE",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "SIM_103",
					"table": "SIM_UNITED_HEALTH_CARE_POLICY_DETAILS_HISTORY"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SIM_UNITED_HEALTH_CARE_POLICY_DETAILS_HISTORY_PRD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServere2eis_PROD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "E2EIS_SEQ_NUMBER",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "AGENT_ID",
						"type": "varchar"
					},
					{
						"name": "AGENT_ID_STATUS",
						"type": "varchar"
					},
					{
						"name": "AGENT_NAME",
						"type": "varchar"
					},
					{
						"name": "AGENT_EMAIL",
						"type": "varchar"
					},
					{
						"name": "AGENT_NPN",
						"type": "varchar"
					},
					{
						"name": "MEMBER_FIRST_NAME",
						"type": "varchar"
					},
					{
						"name": "MEMBER_LAST_NAME",
						"type": "varchar"
					},
					{
						"name": "DATE_OF_BIRTH",
						"type": "varchar"
					},
					{
						"name": "MEMBER_EMAIL",
						"type": "varchar"
					},
					{
						"name": "MEMBER_PHONE",
						"type": "varchar"
					},
					{
						"name": "MEMBER_ADDRESS_1",
						"type": "varchar"
					},
					{
						"name": "MEMBER_ADDRESS_2",
						"type": "varchar"
					},
					{
						"name": "MEMBER_CITY",
						"type": "varchar"
					},
					{
						"name": "MEMBER_STATE",
						"type": "varchar"
					},
					{
						"name": "MEMBER_ZIP",
						"type": "varchar"
					},
					{
						"name": "MEMBER_STATUS",
						"type": "varchar"
					},
					{
						"name": "MEMBER_COUNTY",
						"type": "varchar"
					},
					{
						"name": "MEMBER_NUMBER",
						"type": "varchar"
					},
					{
						"name": "POLICY_EFFECTIVE_DATE",
						"type": "varchar"
					},
					{
						"name": "AGENT_OF_RECORD",
						"type": "varchar"
					},
					{
						"name": "CONTRACT",
						"type": "varchar"
					},
					{
						"name": "PBP",
						"type": "varchar"
					},
					{
						"name": "SEGMENT_ID",
						"type": "varchar"
					},
					{
						"name": "APPLICATION_NUMBER",
						"type": "varchar"
					},
					{
						"name": "POLICY_TERM_DATE",
						"type": "varchar"
					},
					{
						"name": "PRODUCT",
						"type": "varchar"
					},
					{
						"name": "TERM_REASON_CODE",
						"type": "varchar"
					},
					{
						"name": "INDIVIDUAL_ID",
						"type": "varchar"
					},
					{
						"name": "HOUSEHOLD_ID",
						"type": "varchar"
					},
					{
						"name": "MEMBER_NUMBER_1",
						"type": "varchar"
					},
					{
						"name": "MBI_NUMBER",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_PHONE_NUM",
						"type": "varchar"
					},
					{
						"name": "PLAN_STATUS",
						"type": "varchar"
					},
					{
						"name": "PLAN_NAME",
						"type": "varchar"
					},
					{
						"name": "IFP_PLAN_TYPE",
						"type": "varchar"
					},
					{
						"name": "IFP_GRGR_ID",
						"type": "varchar"
					},
					{
						"name": "IFP_RENEWAL",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_LINE1",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_LINE_2",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_MEMBER_CITY",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_MEMBER_STATE",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_MEMBER_ZIP",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_MEMBER_COUNTY",
						"type": "varchar"
					},
					{
						"name": "IFP_FFM_APP_ID",
						"type": "varchar"
					},
					{
						"name": "NMA_NAME80",
						"type": "varchar"
					},
					{
						"name": "NMA_WID_STATUS_80",
						"type": "varchar"
					},
					{
						"name": "NMA_NPN_80",
						"type": "varchar"
					},
					{
						"name": "NMA_NAME_70",
						"type": "varchar"
					},
					{
						"name": "NMA_WID_STATUS70",
						"type": "varchar"
					},
					{
						"name": "NMA_NPN_70",
						"type": "varchar"
					},
					{
						"name": "NMA_NAME_60",
						"type": "varchar"
					},
					{
						"name": "NMA_WID_STATUS_60",
						"type": "varchar"
					},
					{
						"name": "NMA_NPN_60",
						"type": "varchar"
					},
					{
						"name": "FMO_NAME_50",
						"type": "varchar"
					},
					{
						"name": "FMO_WID_STATUS_50",
						"type": "varchar"
					},
					{
						"name": "FMO_NPN_50",
						"type": "varchar"
					},
					{
						"name": "MGA_NAME_40",
						"type": "varchar"
					},
					{
						"name": "MGA_WID_STATUS_40",
						"type": "varchar"
					},
					{
						"name": "MGA_NPN_40",
						"type": "varchar"
					},
					{
						"name": "GA_NAME_30",
						"type": "varchar"
					},
					{
						"name": "GA_WID_STATUS_30",
						"type": "varchar"
					},
					{
						"name": "GA_NPN_30",
						"type": "varchar"
					},
					{
						"name": "AGENT_NAME_20",
						"type": "varchar"
					},
					{
						"name": "AGENT_WID_STATUS_20",
						"type": "varchar"
					},
					{
						"name": "AGENT_WID_20",
						"type": "varchar"
					},
					{
						"name": "AGENT_NPN_20",
						"type": "varchar"
					},
					{
						"name": "SOLICITOR_NAME_10",
						"type": "varchar"
					},
					{
						"name": "SOLICITOR_WID_STATUS_10",
						"type": "varchar"
					},
					{
						"name": "SOLICITOR_WID_10",
						"type": "varchar"
					},
					{
						"name": "SOLICITOR_NPN_10",
						"type": "varchar"
					},
					{
						"name": "AGENCY_ID",
						"type": "nvarchar"
					},
					{
						"name": "RECORD_LOAD_DATE",
						"type": "date"
					},
					{
						"name": "RECORD_LOADED_BY",
						"type": "char"
					},
					{
						"name": "RECORD_DATA_SOURCE",
						"type": "char"
					},
					{
						"name": "RECORD_FLAG_STATUS",
						"type": "char"
					},
					{
						"name": "FILE_RECORD_BIRTH_DATE",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "SIM_103",
					"table": "SIM_UNITED_HEALTH_CARE_POLICY_DETAILS_HISTORY"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SIM_UNITED_HEALTH_CARE_POLICY_DETAILS_PRD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServere2eis_PROD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "E2EIS_SEQ_NUMBER",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "AGENT_ID",
						"type": "varchar"
					},
					{
						"name": "AGENT_ID_STATUS",
						"type": "varchar"
					},
					{
						"name": "AGENT_NAME",
						"type": "varchar"
					},
					{
						"name": "AGENT_EMAIL",
						"type": "varchar"
					},
					{
						"name": "AGENT_NPN",
						"type": "varchar"
					},
					{
						"name": "MEMBER_FIRST_NAME",
						"type": "varchar"
					},
					{
						"name": "MEMBER_LAST_NAME",
						"type": "varchar"
					},
					{
						"name": "DATE_OF_BIRTH",
						"type": "varchar"
					},
					{
						"name": "MEMBER_EMAIL",
						"type": "varchar"
					},
					{
						"name": "MEMBER_PHONE",
						"type": "varchar"
					},
					{
						"name": "MEMBER_ADDRESS_1",
						"type": "varchar"
					},
					{
						"name": "MEMBER_ADDRESS_2",
						"type": "varchar"
					},
					{
						"name": "MEMBER_CITY",
						"type": "varchar"
					},
					{
						"name": "MEMBER_STATE",
						"type": "varchar"
					},
					{
						"name": "MEMBER_ZIP",
						"type": "varchar"
					},
					{
						"name": "MEMBER_STATUS",
						"type": "varchar"
					},
					{
						"name": "MEMBER_COUNTY",
						"type": "varchar"
					},
					{
						"name": "MEMBER_NUMBER",
						"type": "varchar"
					},
					{
						"name": "POLICY_EFFECTIVE_DATE",
						"type": "varchar"
					},
					{
						"name": "AGENT_OF_RECORD",
						"type": "varchar"
					},
					{
						"name": "CONTRACT",
						"type": "varchar"
					},
					{
						"name": "PBP",
						"type": "varchar"
					},
					{
						"name": "SEGMENT_ID",
						"type": "varchar"
					},
					{
						"name": "APPLICATION_NUMBER",
						"type": "varchar"
					},
					{
						"name": "POLICY_TERM_DATE",
						"type": "varchar"
					},
					{
						"name": "PRODUCT",
						"type": "varchar"
					},
					{
						"name": "TERM_REASON_CODE",
						"type": "varchar"
					},
					{
						"name": "INDIVIDUAL_ID",
						"type": "varchar"
					},
					{
						"name": "HOUSEHOLD_ID",
						"type": "varchar"
					},
					{
						"name": "MEMBER_NUMBER_1",
						"type": "varchar"
					},
					{
						"name": "MBI_NUMBER",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_PHONE_NUM",
						"type": "varchar"
					},
					{
						"name": "PLAN_STATUS",
						"type": "varchar"
					},
					{
						"name": "PLAN_NAME",
						"type": "varchar"
					},
					{
						"name": "IFP_PLAN_TYPE",
						"type": "varchar"
					},
					{
						"name": "IFP_GRGR_ID",
						"type": "varchar"
					},
					{
						"name": "IFP_RENEWAL",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_LINE1",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_LINE_2",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_MEMBER_CITY",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_MEMBER_STATE",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_MEMBER_ZIP",
						"type": "varchar"
					},
					{
						"name": "SECONDARY_ADDRESS_MEMBER_COUNTY",
						"type": "varchar"
					},
					{
						"name": "IFP_FFM_APP_ID",
						"type": "varchar"
					},
					{
						"name": "NMA_NAME80",
						"type": "varchar"
					},
					{
						"name": "NMA_WID_STATUS_80",
						"type": "varchar"
					},
					{
						"name": "NMA_NPN_80",
						"type": "varchar"
					},
					{
						"name": "NMA_NAME_70",
						"type": "varchar"
					},
					{
						"name": "NMA_WID_STATUS70",
						"type": "varchar"
					},
					{
						"name": "NMA_NPN_70",
						"type": "varchar"
					},
					{
						"name": "NMA_NAME_60",
						"type": "varchar"
					},
					{
						"name": "NMA_WID_STATUS_60",
						"type": "varchar"
					},
					{
						"name": "NMA_NPN_60",
						"type": "varchar"
					},
					{
						"name": "FMO_NAME_50",
						"type": "varchar"
					},
					{
						"name": "FMO_WID_STATUS_50",
						"type": "varchar"
					},
					{
						"name": "FMO_NPN_50",
						"type": "varchar"
					},
					{
						"name": "MGA_NAME_40",
						"type": "varchar"
					},
					{
						"name": "MGA_WID_STATUS_40",
						"type": "varchar"
					},
					{
						"name": "MGA_NPN_40",
						"type": "varchar"
					},
					{
						"name": "GA_NAME_30",
						"type": "varchar"
					},
					{
						"name": "GA_WID_STATUS_30",
						"type": "varchar"
					},
					{
						"name": "GA_NPN_30",
						"type": "varchar"
					},
					{
						"name": "AGENT_NAME_20",
						"type": "varchar"
					},
					{
						"name": "AGENT_WID_STATUS_20",
						"type": "varchar"
					},
					{
						"name": "AGENT_WID_20",
						"type": "varchar"
					},
					{
						"name": "AGENT_NPN_20",
						"type": "varchar"
					},
					{
						"name": "SOLICITOR_NAME_10",
						"type": "varchar"
					},
					{
						"name": "SOLICITOR_WID_STATUS_10",
						"type": "varchar"
					},
					{
						"name": "SOLICITOR_WID_10",
						"type": "varchar"
					},
					{
						"name": "SOLICITOR_NPN_10",
						"type": "varchar"
					},
					{
						"name": "AGENCY_ID",
						"type": "nvarchar"
					},
					{
						"name": "RECORD_LOAD_DATE",
						"type": "date"
					},
					{
						"name": "RECORD_LOADED_BY",
						"type": "char"
					},
					{
						"name": "RECORD_DATA_SOURCE",
						"type": "char"
					},
					{
						"name": "RECORD_FLAG_STATUS",
						"type": "char"
					}
				],
				"typeProperties": {
					"schema": "SIM_103",
					"table": "SIM_UNITED_HEALTH_CARE_POLICY_DETAILS"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SIM_VW_BOB_OOS_PUBLISH_APP_PROD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "e2eis_APP_PROD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "E2EIS_SEQ_NUMBER",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "CARRIER",
						"type": "varchar"
					},
					{
						"name": "OWNING_AGENT_OF_RECORD",
						"type": "varchar"
					},
					{
						"name": "ASSIGNED_AGENT_NUMBER",
						"type": "varchar"
					},
					{
						"name": "BROKER_START_DATE",
						"type": "varchar"
					},
					{
						"name": "BROKER_END_DATE",
						"type": "varchar"
					},
					{
						"name": "PRODUCT_TYPE",
						"type": "varchar"
					},
					{
						"name": "PRODUCT_DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "POLICY_STATUS",
						"type": "varchar"
					},
					{
						"name": "POLICY_ID",
						"type": "varchar"
					},
					{
						"name": "GROUP_NAME",
						"type": "varchar"
					},
					{
						"name": "MEMBER_COUNT",
						"type": "varchar"
					},
					{
						"name": "On/Off_Exchange",
						"type": "varchar"
					},
					{
						"name": "EXCHANGE_INDICATOR",
						"type": "varchar"
					},
					{
						"name": "EXCHANGE_SUBSCRIBER_ID",
						"type": "varchar"
					},
					{
						"name": "COVERAGE_TYPE",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_ORIGINAL_EFFECTIVE_DATE",
						"type": "varchar"
					},
					{
						"name": "COVERAGE_START_DATE",
						"type": "varchar"
					},
					{
						"name": "COVERAGE_END_DATE",
						"type": "varchar"
					},
					{
						"name": "PAID_THROUGH_DATE",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_FIRST_NAME",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_MIDDLE_NAME",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_LAST_NAME",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_FULL_NAME",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_DOB",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_EMAIL",
						"type": "varchar"
					},
					{
						"name": "ADDRESS",
						"type": "varchar"
					},
					{
						"name": "ADDRESS_2",
						"type": "varchar"
					},
					{
						"name": "ZIP_CODE",
						"type": "varchar"
					},
					{
						"name": "CITY",
						"type": "varchar"
					},
					{
						"name": "STATE",
						"type": "varchar"
					},
					{
						"name": "COUNTY",
						"type": "varchar"
					},
					{
						"name": "APP_SUBMIT_DATE",
						"type": "varchar"
					},
					{
						"name": "MEMBER_PHONE_NUMBER_1",
						"type": "varchar"
					},
					{
						"name": "MEMBER_PHONE_NUMBER_2",
						"type": "varchar"
					},
					{
						"name": "COMPENSATION_TYPE",
						"type": "varchar"
					},
					{
						"name": "COMPENSATION_PERIOD",
						"type": "varchar"
					},
					{
						"name": "COMPENSATION_AMOUNT",
						"type": "varchar"
					},
					{
						"name": "PAYEE_NAME",
						"type": "varchar"
					},
					{
						"name": "MAIN_UPLINE_AGENT",
						"type": "varchar"
					},
					{
						"name": "GROUP_TEAM_SALES",
						"type": "varchar"
					},
					{
						"name": "TRANSITION_DATE",
						"type": "varchar"
					},
					{
						"name": "ASSIGNED_AGENT_NAME",
						"type": "varchar"
					},
					{
						"name": "FFM_APP_ID",
						"type": "varchar"
					},
					{
						"name": "ACTIVITY_FLAG",
						"type": "varchar"
					},
					{
						"name": "POLICY_ADDED_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_REMOVED_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_CANCELLED_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_REACTIVATION_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_LAST_RECEIVED_DATE",
						"type": "date"
					},
					{
						"name": "PERIOD_NAME",
						"type": "varchar"
					},
					{
						"name": "PERIOD_DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "PERIOD_START_DATE",
						"type": "date"
					},
					{
						"name": "PERIOD_END_DATE",
						"type": "date"
					},
					{
						"name": "BILL_STATUS",
						"type": "varchar"
					},
					{
						"name": "ELIGIBLE_FOR_COMMISSION",
						"type": "varchar"
					},
					{
						"name": "Adds_Member_Count",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Cancels_Member_Count",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Original_Policy_Status",
						"type": "varchar"
					},
					{
						"name": "MEMBER_RESPONSIBILITY",
						"type": "varchar"
					},
					{
						"name": "Accountingdate",
						"type": "date"
					},
					{
						"name": "Annual_Compensation_type",
						"type": "varchar"
					},
					{
						"name": "AGENCY_SUBSCRIBER_ORIG_EFFDATE",
						"type": "date"
					},
					{
						"name": "Ending_Active_Member_Flag",
						"type": "varchar"
					},
					{
						"name": "REMOVALS_CONSIDER_FORCAL",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "SIM_103",
					"table": "SIM_VW_BOB_OOS_PUBLISH"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SIM_VW_BOB_OOS_PUBLISH_PRD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServere2eis_PROD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "E2EIS_SEQ_NUMBER",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "CARRIER",
						"type": "varchar"
					},
					{
						"name": "OWNING_AGENT_OF_RECORD",
						"type": "varchar"
					},
					{
						"name": "ASSIGNED_AGENT_NUMBER",
						"type": "varchar"
					},
					{
						"name": "BROKER_START_DATE",
						"type": "varchar"
					},
					{
						"name": "BROKER_END_DATE",
						"type": "varchar"
					},
					{
						"name": "PRODUCT_TYPE",
						"type": "varchar"
					},
					{
						"name": "PRODUCT_DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "POLICY_STATUS",
						"type": "varchar"
					},
					{
						"name": "POLICY_ID",
						"type": "varchar"
					},
					{
						"name": "GROUP_NAME",
						"type": "varchar"
					},
					{
						"name": "MEMBER_COUNT",
						"type": "varchar"
					},
					{
						"name": "On/Off_Exchange",
						"type": "varchar"
					},
					{
						"name": "EXCHANGE_INDICATOR",
						"type": "varchar"
					},
					{
						"name": "EXCHANGE_SUBSCRIBER_ID",
						"type": "varchar"
					},
					{
						"name": "COVERAGE_TYPE",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_ORIGINAL_EFFECTIVE_DATE",
						"type": "varchar"
					},
					{
						"name": "COVERAGE_START_DATE",
						"type": "varchar"
					},
					{
						"name": "COVERAGE_END_DATE",
						"type": "varchar"
					},
					{
						"name": "PAID_THROUGH_DATE",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_FIRST_NAME",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_MIDDLE_NAME",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_LAST_NAME",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_FULL_NAME",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_DOB",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_EMAIL",
						"type": "varchar"
					},
					{
						"name": "ADDRESS",
						"type": "varchar"
					},
					{
						"name": "ADDRESS_2",
						"type": "varchar"
					},
					{
						"name": "ZIP_CODE",
						"type": "varchar"
					},
					{
						"name": "CITY",
						"type": "varchar"
					},
					{
						"name": "STATE",
						"type": "varchar"
					},
					{
						"name": "COUNTY",
						"type": "varchar"
					},
					{
						"name": "APP_SUBMIT_DATE",
						"type": "varchar"
					},
					{
						"name": "MEMBER_PHONE_NUMBER_1",
						"type": "varchar"
					},
					{
						"name": "MEMBER_PHONE_NUMBER_2",
						"type": "varchar"
					},
					{
						"name": "COMPENSATION_TYPE",
						"type": "varchar"
					},
					{
						"name": "COMPENSATION_PERIOD",
						"type": "varchar"
					},
					{
						"name": "COMPENSATION_AMOUNT",
						"type": "varchar"
					},
					{
						"name": "PAYEE_NAME",
						"type": "varchar"
					},
					{
						"name": "MAIN_UPLINE_AGENT",
						"type": "varchar"
					},
					{
						"name": "GROUP_TEAM_SALES",
						"type": "varchar"
					},
					{
						"name": "TRANSITION_DATE",
						"type": "varchar"
					},
					{
						"name": "ASSIGNED_AGENT_NAME",
						"type": "varchar"
					},
					{
						"name": "FFM_APP_ID",
						"type": "varchar"
					},
					{
						"name": "ACTIVITY_FLAG",
						"type": "varchar"
					},
					{
						"name": "POLICY_ADDED_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_REMOVED_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_CANCELLED_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_REACTIVATION_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_LAST_RECEIVED_DATE",
						"type": "date"
					},
					{
						"name": "PERIOD_NAME",
						"type": "varchar"
					},
					{
						"name": "PERIOD_DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "PERIOD_START_DATE",
						"type": "date"
					},
					{
						"name": "PERIOD_END_DATE",
						"type": "date"
					},
					{
						"name": "BILL_STATUS",
						"type": "varchar"
					},
					{
						"name": "ELIGIBLE_FOR_COMMISSION",
						"type": "varchar"
					},
					{
						"name": "Adds_Member_Count",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Cancels_Member_Count",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Original_Policy_Status",
						"type": "varchar"
					},
					{
						"name": "MEMBER_RESPONSIBILITY",
						"type": "varchar"
					},
					{
						"name": "Accountingdate",
						"type": "date"
					},
					{
						"name": "Annual_Compensation_type",
						"type": "varchar"
					},
					{
						"name": "AGENCY_SUBSCRIBER_ORIG_EFFDATE",
						"type": "date"
					},
					{
						"name": "Ending_Active_Member_Flag",
						"type": "varchar"
					},
					{
						"name": "REMOVALS_CONSIDER_FORCAL",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "SIM_103",
					"table": "SIM_VW_BOB_OOS_PUBLISH"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SIM_VW_BOB_OOS_PUBLISH_UAT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "e2eiS_UAT",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "E2EIS_SEQ_NUMBER",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "CARRIER",
						"type": "varchar"
					},
					{
						"name": "OWNING_AGENT_OF_RECORD",
						"type": "varchar"
					},
					{
						"name": "ASSIGNED_AGENT_NUMBER",
						"type": "varchar"
					},
					{
						"name": "BROKER_START_DATE",
						"type": "varchar"
					},
					{
						"name": "BROKER_END_DATE",
						"type": "varchar"
					},
					{
						"name": "PRODUCT_TYPE",
						"type": "varchar"
					},
					{
						"name": "PRODUCT_DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "POLICY_STATUS",
						"type": "varchar"
					},
					{
						"name": "POLICY_ID",
						"type": "varchar"
					},
					{
						"name": "GROUP_NAME",
						"type": "varchar"
					},
					{
						"name": "MEMBER_COUNT",
						"type": "varchar"
					},
					{
						"name": "On/Off_Exchange",
						"type": "varchar"
					},
					{
						"name": "EXCHANGE_INDICATOR",
						"type": "varchar"
					},
					{
						"name": "EXCHANGE_SUBSCRIBER_ID",
						"type": "varchar"
					},
					{
						"name": "COVERAGE_TYPE",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_ORIGINAL_EFFECTIVE_DATE",
						"type": "varchar"
					},
					{
						"name": "COVERAGE_START_DATE",
						"type": "varchar"
					},
					{
						"name": "COVERAGE_END_DATE",
						"type": "varchar"
					},
					{
						"name": "PAID_THROUGH_DATE",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_FIRST_NAME",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_MIDDLE_NAME",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_LAST_NAME",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_FULL_NAME",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_DOB",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_EMAIL",
						"type": "varchar"
					},
					{
						"name": "ADDRESS",
						"type": "varchar"
					},
					{
						"name": "ADDRESS_2",
						"type": "varchar"
					},
					{
						"name": "ZIP_CODE",
						"type": "varchar"
					},
					{
						"name": "CITY",
						"type": "varchar"
					},
					{
						"name": "STATE",
						"type": "varchar"
					},
					{
						"name": "COUNTY",
						"type": "varchar"
					},
					{
						"name": "APP_SUBMIT_DATE",
						"type": "varchar"
					},
					{
						"name": "MEMBER_PHONE_NUMBER_1",
						"type": "varchar"
					},
					{
						"name": "MEMBER_PHONE_NUMBER_2",
						"type": "varchar"
					},
					{
						"name": "COMPENSATION_TYPE",
						"type": "varchar"
					},
					{
						"name": "COMPENSATION_PERIOD",
						"type": "varchar"
					},
					{
						"name": "COMPENSATION_AMOUNT",
						"type": "varchar"
					},
					{
						"name": "PAYEE_NAME",
						"type": "varchar"
					},
					{
						"name": "MAIN_UPLINE_AGENT",
						"type": "varchar"
					},
					{
						"name": "GROUP_TEAM_SALES",
						"type": "varchar"
					},
					{
						"name": "TRANSITION_DATE",
						"type": "varchar"
					},
					{
						"name": "ASSIGNED_AGENT_NAME",
						"type": "varchar"
					},
					{
						"name": "FFM_APP_ID",
						"type": "varchar"
					},
					{
						"name": "ACTIVITY_FLAG",
						"type": "varchar"
					},
					{
						"name": "POLICY_ADDED_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_REMOVED_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_CANCELLED_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_REACTIVATION_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_LAST_RECEIVED_DATE",
						"type": "date"
					},
					{
						"name": "PERIOD_NAME",
						"type": "varchar"
					},
					{
						"name": "PERIOD_DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "PERIOD_START_DATE",
						"type": "date"
					},
					{
						"name": "PERIOD_END_DATE",
						"type": "date"
					},
					{
						"name": "BILL_STATUS",
						"type": "varchar"
					},
					{
						"name": "ELIGIBLE_FOR_COMMISSION",
						"type": "varchar"
					},
					{
						"name": "Adds_Member_Count",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Cancels_Member_Count",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Original_Policy_Status",
						"type": "varchar"
					},
					{
						"name": "MEMBER_RESPONSIBILITY",
						"type": "varchar"
					},
					{
						"name": "Accountingdate",
						"type": "date"
					},
					{
						"name": "Annual_Compensation_type",
						"type": "varchar"
					},
					{
						"name": "AGENCY_SUBSCRIBER_ORIG_EFFDATE",
						"type": "date"
					},
					{
						"name": "Ending_Active_Member_Flag",
						"type": "varchar"
					},
					{
						"name": "REMOVALS_CONSIDER_FORCAL",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "SIM_103",
					"table": "SIM_VW_BOB_OOS_PUBLISH"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SIM_VW_BOB_PUBLISH_FB_APP_PROD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "e2eis_APP_PROD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "E2EIS_SEQ_NUMBER",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "CARRIER",
						"type": "varchar"
					},
					{
						"name": "AGENCY_NAME",
						"type": "varchar"
					},
					{
						"name": "AGENCY_IDENTIFIER",
						"type": "varchar"
					},
					{
						"name": "ASSIGNED_AGENT_NUMBER",
						"type": "varchar"
					},
					{
						"name": "AGENT_NPN",
						"type": "varchar"
					},
					{
						"name": "ASSIGNED_AGENT_NAME",
						"type": "varchar"
					},
					{
						"name": "PLAN_NAME",
						"type": "varchar"
					},
					{
						"name": "PRODUCT",
						"type": "varchar"
					},
					{
						"name": "Policy_id",
						"type": "varchar"
					},
					{
						"name": "MEMBER_COUNT",
						"type": "varchar"
					},
					{
						"name": "MEMBER_RELATIOSHIP",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_FIRST_NAME",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_LAST_NAME",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_DOB",
						"type": "varchar"
					},
					{
						"name": "COUNTY",
						"type": "varchar"
					},
					{
						"name": "EXCHANGE_INDICATOR",
						"type": "varchar"
					},
					{
						"name": "PRIMARY_MEMBER_ID",
						"type": "varchar"
					},
					{
						"name": "PRODUCT_TYPE",
						"type": "varchar"
					},
					{
						"name": "ZIP_CODE",
						"type": "varchar"
					},
					{
						"name": "COVERAGE_START_DATE",
						"type": "varchar"
					},
					{
						"name": "COVERAGE_END_DATE",
						"type": "varchar"
					},
					{
						"name": "BROKER_START_DATE",
						"type": "varchar"
					},
					{
						"name": "BROKER_END_DATE",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_ORIGINAL_EFFECTIVE_DATE",
						"type": "varchar"
					},
					{
						"name": "POLICY_STATUS",
						"type": "varchar"
					},
					{
						"name": "MEMBER_PHONE_NUMBER_1",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_EMAIL",
						"type": "varchar"
					},
					{
						"name": "ACTIVITY_FLAG",
						"type": "varchar"
					},
					{
						"name": "POLICY_RANK",
						"type": "varchar"
					},
					{
						"name": "POLICY_ADDED_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_RETENTION_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_REMOVED_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_CANCELLED_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_LAST_RECEIVED_DATE",
						"type": "date"
					},
					{
						"name": "PERIOD_NAME",
						"type": "varchar"
					},
					{
						"name": "PERIOD_DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "PERIOD_START_DATE",
						"type": "date"
					},
					{
						"name": "PERIOD_END_DATE",
						"type": "date"
					},
					{
						"name": "BILL_STATUS",
						"type": "varchar"
					},
					{
						"name": "Original_Policy_Status",
						"type": "varchar"
					},
					{
						"name": "Policy_Reactivation_date",
						"type": "date"
					},
					{
						"name": "Adds_member_Count",
						"type": "decimal",
						"precision": 14,
						"scale": 3
					},
					{
						"name": "Cancels_Member_Count",
						"type": "decimal",
						"precision": 14,
						"scale": 3
					},
					{
						"name": "MEMBER_RESPONSIBILITY",
						"type": "varchar"
					},
					{
						"name": "ACCOUNTINGDATE",
						"type": "date"
					},
					{
						"name": "Annual_Compensation_type",
						"type": "varchar"
					},
					{
						"name": "AGENCY_SUBSCRIBER_ORIG_EFFDATE",
						"type": "date"
					},
					{
						"name": "Ending_Active_Member_Flag",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "SIM_103",
					"table": "SIM_VW_BOB_PUBLISH_FB"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SIM_VW_BOB_PUBLISH_FB_PRD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServere2eis_PROD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "E2EIS_SEQ_NUMBER",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "CARRIER",
						"type": "varchar"
					},
					{
						"name": "AGENCY_NAME",
						"type": "varchar"
					},
					{
						"name": "AGENCY_IDENTIFIER",
						"type": "varchar"
					},
					{
						"name": "ASSIGNED_AGENT_NUMBER",
						"type": "varchar"
					},
					{
						"name": "AGENT_NPN",
						"type": "varchar"
					},
					{
						"name": "ASSIGNED_AGENT_NAME",
						"type": "varchar"
					},
					{
						"name": "PLAN_NAME",
						"type": "varchar"
					},
					{
						"name": "PRODUCT",
						"type": "varchar"
					},
					{
						"name": "Policy_id",
						"type": "varchar"
					},
					{
						"name": "MEMBER_COUNT",
						"type": "varchar"
					},
					{
						"name": "MEMBER_RELATIOSHIP",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_FIRST_NAME",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_LAST_NAME",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_DOB",
						"type": "varchar"
					},
					{
						"name": "COUNTY",
						"type": "varchar"
					},
					{
						"name": "EXCHANGE_INDICATOR",
						"type": "varchar"
					},
					{
						"name": "PRIMARY_MEMBER_ID",
						"type": "varchar"
					},
					{
						"name": "PRODUCT_TYPE",
						"type": "varchar"
					},
					{
						"name": "ZIP_CODE",
						"type": "varchar"
					},
					{
						"name": "COVERAGE_START_DATE",
						"type": "varchar"
					},
					{
						"name": "COVERAGE_END_DATE",
						"type": "varchar"
					},
					{
						"name": "BROKER_START_DATE",
						"type": "varchar"
					},
					{
						"name": "BROKER_END_DATE",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_ORIGINAL_EFFECTIVE_DATE",
						"type": "varchar"
					},
					{
						"name": "POLICY_STATUS",
						"type": "varchar"
					},
					{
						"name": "MEMBER_PHONE_NUMBER_1",
						"type": "varchar"
					},
					{
						"name": "SUBSCRIBER_EMAIL",
						"type": "varchar"
					},
					{
						"name": "ACTIVITY_FLAG",
						"type": "varchar"
					},
					{
						"name": "POLICY_RANK",
						"type": "varchar"
					},
					{
						"name": "POLICY_ADDED_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_RETENTION_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_REMOVED_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_CANCELLED_DATE",
						"type": "date"
					},
					{
						"name": "POLICY_LAST_RECEIVED_DATE",
						"type": "date"
					},
					{
						"name": "PERIOD_NAME",
						"type": "varchar"
					},
					{
						"name": "PERIOD_DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "PERIOD_START_DATE",
						"type": "date"
					},
					{
						"name": "PERIOD_END_DATE",
						"type": "date"
					},
					{
						"name": "BILL_STATUS",
						"type": "varchar"
					},
					{
						"name": "Original_Policy_Status",
						"type": "varchar"
					},
					{
						"name": "Policy_Reactivation_date",
						"type": "date"
					},
					{
						"name": "Adds_member_Count",
						"type": "decimal",
						"precision": 14,
						"scale": 3
					},
					{
						"name": "Cancels_Member_Count",
						"type": "decimal",
						"precision": 14,
						"scale": 3
					},
					{
						"name": "MEMBER_RESPONSIBILITY",
						"type": "varchar"
					},
					{
						"name": "ACCOUNTINGDATE",
						"type": "date"
					},
					{
						"name": "Annual_Compensation_type",
						"type": "varchar"
					},
					{
						"name": "AGENCY_SUBSCRIBER_ORIG_EFFDATE",
						"type": "date"
					},
					{
						"name": "Ending_Active_Member_Flag",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "SIM_103",
					"table": "SIM_VW_BOB_PUBLISH_FB"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SftpDelimitedParam')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SFTP",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_folderPath": {
						"type": "string"
					},
					"p_fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"fileName": {
							"value": "@dataset().p_fileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().p_folderPath",
							"type": "Expression"
						}
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlTableParam')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQL_PROD",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_schema": {
						"type": "string"
					},
					"p_table": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().p_schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().p_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/new_mapping_sim')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Sftp1_connections_ALL_FEED",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"fileName": "new_mapping_sim.txt",
						"folderPath": "/MSL_Cloud_Prd/FromAgency/SIM"
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "E2E_SEQ_NO\tFILE_NAME\tFILE_FREQUENCY\tFILE_ENABLED\tETL_PROCESS_NAME\tTABLE_NAME\tSCHEMA_TABLE",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AUTOMATED_PIPELINE_FOR_ALL_SIM_WEEKLY_DATA_FEEDS_DOTNET')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEachProcesses",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "DELETE_BY_FILERECORDBIRTHDATE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.processControls",
								"type": "Expression"
							},
							"batchCount": 5,
							"activities": [
								{
									"name": "IfEnabled",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@item().Enabled",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Copy",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "SftpReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false,
															"disableChunking": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "SftpDelimitedParam",
														"type": "DatasetReference",
														"parameters": {
															"p_folderPath": {
																"value": "@item().FolderPath",
																"type": "Expression"
															},
															"p_fileName": {
																"value": "@item().FileName",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "SqlTableParam",
														"type": "DatasetReference",
														"parameters": {
															"p_schema": {
																"value": "@item().TargetSchema",
																"type": "Expression"
															},
															"p_table": {
																"value": "@item().TargetTable",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "SP_MarkSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEachProcesses",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_ETL_AUDIT_UPDATE_BY_PIPELINE]",
							"storedProcedureParameters": {
								"PipelineRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									}
								},
								"Status": {
									"value": "Succeeded",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_MarkFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEachProcesses",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "DELETE_BY_FILERECORDBIRTHDATE",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_ETL_AUDIT_UPDATE_BY_PIPELINE]",
							"storedProcedureParameters": {
								"PipelineRunId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									}
								},
								"Status": {
									"value": "Failed",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DELETE_BY_FILERECORDBIRTHDATE",
						"description": "This procedure will delete the records based on the input in the FileRecordBirthDate for each table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.1:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_ETL_DELETE_BY_FILERECORDBIRTHDATE]",
							"storedProcedureParameters": {
								"FileRecordBirthDate": {
									"value": {
										"value": "@pipeline().parameters.fileRecordBirthDate",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					}
				],
				"concurrency": 5,
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"processControls": {
						"type": "array"
					},
					"fileRecordBirthDate": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-09-08T11:05:57Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SftpDelimitedParam')]",
				"[concat(variables('factoryId'), '/datasets/SqlTableParam')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIPELINE_FOR_ALL_AGENCY_DATA_LOCK_APP_PROD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ABI_COMMISSION_ALL_SALES_REPORT_DETAIL",
						"description": "DATA MOVE IN HISTORY TABLE AFTER CLOSE CURRENT PERIOD",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select * from ABI_101.ABI_COMMISSION_ALL_SALES_REPORT_DETAIL \nwhere Period_Name='June 2025';",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Payee_AOR",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PAYEE_AOR",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Payee_AORName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PAYEE_AORNAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "WritingAgentName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "WRITINGAGENTNAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Carrier",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CARRIER",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Period_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PERIOD_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AccountingDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "ACCOUNTINGDATE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FB_CompType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FB_COMPTYPE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AgencyCompType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AGENCYCOMPTYPE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Prior_CompType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PRIOR_COMPTYPE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SubscriberName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SUBSCRIBERNAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ProductType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PRODUCTTYPE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MemberCount",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "MEMBERCOUNT",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ContractCount",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "CONTRACTCOUNT",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FBContractId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FBCONTRACTID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "OriginalEffectiveDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "ORIGINALEFFECTIVEDATE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CoverageFromDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "COVERAGEFROMDATE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CoverageToDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "COVERAGETODATE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CancelDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "CANCELDATE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "County",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "COUNTY",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agent_Number",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AGENT_NUMBER",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agent_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AGENT_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FBPaymentAmount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 19
										},
										"sink": {
											"name": "FBPAYMENTAMOUNT",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Frequency",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FREQUENCY",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FileType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FILETYPE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CommissionRate",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 19
										},
										"sink": {
											"name": "COMMISSIONRATE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RateType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "RATETYPE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agent_Commission",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 19
										},
										"sink": {
											"name": "AGENT_COMMISSION",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CommissionType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "COMMISSIONTYPE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "WritingAgentRole",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "WRITINGAGENTROLE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "WritingAgentPayrollId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "WRITINGAGENTPAYROLLID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ManualAdjComments",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MANUALADJCOMMENTS",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FB_Commission_Flat_Rate",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FB_COMMISSION_FLAT_RATE",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ABI_COMMISSION_ALL_SALES_REPORT_DETAIL_APP_PROD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ABI_COMMISSION_ALL_SALES_REPORT_HISTORY_APP_PROD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ABI_COMMISSION_ALL_SALES_SUMMARY",
						"description": "DATA MOVE IN HISTORY TABLE AFTER CLOSE CURRENT PERIOD",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "ABI_COMMISSION_ALL_SALES_REPORT_DETAIL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select * from ABI_101.ABI_COMMISSION_ALL_SALES_SUMMARY \nwhere Period_Name='June 2025';",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Payee_AOR",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PAYEE_AOR",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "WritingAgentName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "WRITINGAGENTNAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Payee_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PAYEE_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "WritingAgentPayrollId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "WRITINGAGENTPAYROLLID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agency_Payment",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 38
										},
										"sink": {
											"name": "AGENCY_PAYMENT",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 38
										}
									},
									{
										"source": {
											"name": "Agent_Stmt_Commission",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 38
										},
										"sink": {
											"name": "AGENT_STMT_COMMISSION",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 38
										}
									},
									{
										"source": {
											"name": "FBPaymentAmount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 38
										},
										"sink": {
											"name": "FBPAYMENTAMOUNT",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 38
										}
									},
									{
										"source": {
											"name": "Agent_Commission",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 38
										},
										"sink": {
											"name": "AGENT_COMMISSION",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 38
										}
									},
									{
										"source": {
											"name": "Override_Commission",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 38
										},
										"sink": {
											"name": "OVERRIDE_COMMISSION",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 38
										}
									},
									{
										"source": {
											"name": "Manual_Adjustments",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 38
										},
										"sink": {
											"name": "MANUAL_ADJUSTMENTS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 38
										}
									},
									{
										"source": {
											"name": "Payee_Count",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "PAYEE_COUNT",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "Primary_Indicator",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "PRIMARY_INDICATOR",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "Category",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CATEGORY",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Payroll_Sequence",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "PAYROLL_SEQUENCE",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "Period_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "COMPENSATION_MONTH",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ABI_COMMISSION_ALL_SALES_SUMMARY_APP_PROD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ABI_COMMISSION_ALL_SALES_SUMMARY_HISTORY_APP_PROD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ABI_MONTHLY_COMMISSION_CYCLE_CLOSURE",
						"description": "previous month data lock",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "ABI_COMMISSION_ALL_SALES_SUMMARY",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "ABI_MONTHLY_COMMISSION_CYCLE_CLOSURE"
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "MIA_BCBS_NCSC_COMISSIONS",
						"description": "MIA NC AND SC COMMISSION DATA LOCK EVERY MONTH CYCLE CLOSE",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "ABI_MONTHLY_COMMISSION_CYCLE_CLOSURE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "E2EIS_SEQ_NUMBER",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "E2EIS_SEQ_NUMBER",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "CARRIER",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CARRIER",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "INDIVIDUAL_GROUP",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "INDIVIDUAL_GROUP",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PRODUCER_CODE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PRODUCER_CODE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PRODUCER_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PRODUCER_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FB_COMPTYPE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FB_COMPTYPE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AGENCY_COMPTYPE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AGENCY_COMPTYPE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CUSTOMER_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CUSTOMER_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CUSTOMER_ID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CUSTOMER_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PRODUCT",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PRODUCT",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "COVERAGE_EFF_DATE",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "COVERAGE_EFF_DATE",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "COVERAGE_TO",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "COVERAGE_TO",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "PREMIUM_PERIOD",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "PREMIUM_PERIOD",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "ORIGINAL_EFF_DATE",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "ORIGINAL_EFF_DATE",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "BILLED_MEMBERS_AMOUNT",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "BILLED_MEMBERS_AMOUNT",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PREMIUM_AMOUNT",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PREMIUM_AMOUNT",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TERM",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TERM",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PERCENTAGE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PERCENTAGE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "COMPENSATION_DATE",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "COMPENSATION_DATE",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "CONTRACT_YEAR",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CONTRACT_YEAR",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "EMPLOYEE_TYPE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "EMPLOYEE_TYPE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EMPLOYEE_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "EMPLOYEE_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FULL_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FULL_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PAYROLL_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PAYROLL_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PAYEE_EMPLOYEE_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PAYEE_EMPLOYEE_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PAYEE_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PAYEE_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MAIN_UPLINE_EMPLOYEE_ID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MAIN_UPLINE_EMPLOYEE_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MAIN_UPLINE_FULL_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MAIN_UPLINE_FULL_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SECONDARY_UPLINE_EMPLOYEE_ID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SECONDARY_UPLINE_EMPLOYEE_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SECONDARY_UPLINE_FULL_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SECONDARY_UPLINE_FULL_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PRIMARY_ROLE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PRIMARY_ROLE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AGENCY_COMP_TYPE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AGENCY_COMP_TYPE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "COMMISSION_EARNED",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 14
										},
										"sink": {
											"name": "COMMISSION_EARNED",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 14
										}
									},
									{
										"source": {
											"name": "PERCENT_OF_FB_PAYMENT",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 18
										},
										"sink": {
											"name": "PERCENT_OF_FB_PAYMENT",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "AGENT_COMMISSION",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 33
										},
										"sink": {
											"name": "AGENT_COMMISSION",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 33
										}
									},
									{
										"source": {
											"name": "COMMISSIONTYPE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "COMMISSIONTYPE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTION_ID",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "TRANSACTION_ID",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "PATICIPANT_RELATION",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PATICIPANT_RELATION",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SECTION_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SECTION_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PERIOD_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PERIOD_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "COMMENTS",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "COMMENTS",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ADJ_COMMENTS",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ADJ_COMMENTS",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ADJ_ACTION",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ADJ_ACTION",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "E2E_PLAN_DESCRIPTION",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "E2E_PLAN_DESCRIPTION",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTION_COMMENTS",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TRANSACTION_COMMENTS",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "MIA_BCBS_NCSC_COMISSIONS_FINALIZED_APP_PROD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "MIA_BCBS_NCSC_COMISSIONS_HISTORY_PROD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "MIA_BCBS_FB_COMISSIONS",
						"description": "MIA FB COMMISSION DATA LOCK EVERY MONT CYCLE CLOSE",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "MIA_BCBS_NCSC_COMISSIONS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "E2EIS_SEQ_NUMBER",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "E2EIS_SEQ_NUMBER",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "AGENCY_CODE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AGENCY_CODE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AGENT_LAST_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AGENT_LAST_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AGENT_FIRST_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AGENT_FIRST_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AGENT_CODE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AGENT_CODE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PRODUCT_TYPE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PRODUCT_TYPE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "COMP_TYPE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "COMP_TYPE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SUBSCRIBER_LAST_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SUBSCRIBER_LAST_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SUBSCRIBER_FIRST_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SUBSCRIBER_FIRST_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SUBSCRIBER_MIDDLE_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SUBSCRIBER_MIDDLE_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FB_UID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FB_UID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MEMBER_CONTRACT_NO",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MEMBER_CONTRACT_NO",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "APP_ID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "APP_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ORIGINAL_EFFECTIVE_DATE",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "ORIGINAL_EFFECTIVE_DATE",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "BENEFIT_EFFECTIVE_DATE",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "BENEFIT_EFFECTIVE_DATE",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "ACCOUNTING_DATE",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "ACCOUNTING_DATE",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "COMPENSATION_DATE",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "COMPENSATION_DATE",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "CANCEL_DATE",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "CANCEL_DATE",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "INITIAL_PAYMENT_DATE",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "INITIAL_PAYMENT_DATE",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "COMP_YEAR",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "COMP_YEAR",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PRIOR_CARRIER_IND",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PRIOR_CARRIER_IND",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PRIOR_PLAN_TYPE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PRIOR_PLAN_TYPE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "EVENT_TYPE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "EVENT_TYPE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FLAT_RATE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 14
										},
										"sink": {
											"name": "FLAT_RATE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 14
										}
									},
									{
										"source": {
											"name": "COUNTY_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "COUNTY_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CMS_DATE",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "CMS_DATE",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "CYCLE_YEAR",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CYCLE_YEAR",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ADMIN_FEE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 14
										},
										"sink": {
											"name": "ADMIN_FEE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 14
										}
									},
									{
										"source": {
											"name": "AGE_IN_POLICY",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AGE_IN_POLICY",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "EMPLOYEE_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "EMPLOYEE_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "COVERAG_FROM_DATE",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "COVERAG_FROM_DATE",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "COVERAG_TO_DATE",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "COVERAG_TO_DATE",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "PAYROLL_ID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PAYROLL_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PAYEE_EMPLOYEE_ID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PAYEE_EMPLOYEE_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PAYEE_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PAYEE_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MAIN_UPLINE_EMPLOYEE_ID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MAIN_UPLINE_EMPLOYEE_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MAIN_UPLINE_FULL_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MAIN_UPLINE_FULL_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "GROUP_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "GROUP_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MEMBER_COUNT",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "MEMBER_COUNT",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "BILLING_PERIOD_FROM",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "BILLING_PERIOD_FROM",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "BILLING_PERIOD_TO",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "BILLING_PERIOD_TO",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "FILE_TYPE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FILE_TYPE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTION_ID",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "TRANSACTION_ID",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "AGENT_ROLE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AGENT_ROLE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "COMM_AMOUNT",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 14
										},
										"sink": {
											"name": "COMM_AMOUNT",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 14
										}
									},
									{
										"source": {
											"name": "PATICIPANT_RELATION",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PATICIPANT_RELATION",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PERCENT_OF_FB_PAYMENT",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 18
										},
										"sink": {
											"name": "PERCENT_OF_FB_PAYMENT",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 8,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "AGENT_COMMISSION",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 33
										},
										"sink": {
											"name": "AGENT_COMMISSION",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 10,
											"precision": 33
										}
									},
									{
										"source": {
											"name": "E2E_PLAN_DESCRIPTION",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "E2E_PLAN_DESCRIPTION",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "COMMENTS",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "COMMENTS",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "COMMISSION_TYPE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "COMMISSION_TYPE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SECTION_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SECTION_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "COMM_RATE_OR_FLAT_RATE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "COMM_RATE_OR_FLAT_RATE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AGENCY_COMP_TYPE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AGENCY_COMP_TYPE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FREQUENCY",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FREQUENCY",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PAYMENT_TYPE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PAYMENT_TYPE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AGENT_ASSIGNMENT",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AGENT_ASSIGNMENT",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PRODUCT_TYPE_CALC",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PRODUCT_TYPE_CALC",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ACCOUNTING_YEAR",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "ACCOUNTING_YEAR",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "ROLE_AS_EARNED_ELIGBLE_COUNT",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "ROLE_AS_EARNED_ELIGBLE_COUNT",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "OVERIDE_ROLE_AS_EARNED_1_ELIGBLE_COUNT",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "OVERIDE_ROLE_AS_EARNED_1_ELIGBLE_COUNT",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "OVERIDE_ROLE_2_AS_EARNED_ELIGBLE_COUNT",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "OVERIDE_ROLE_2_AS_EARNED_ELIGBLE_COUNT",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "REMAINING_AS_EARNED_MONTHS",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "REMAINING_AS_EARNED_MONTHS",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "REMAINING_AS_EARNED_COMMISSIONS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 14
										},
										"sink": {
											"name": "REMAINING_AS_EARNED_COMMISSIONS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 14
										}
									},
									{
										"source": {
											"name": "GROUP_WRITING_AGENT_COMP_TIER",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "GROUP_WRITING_AGENT_COMP_TIER",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ACTIVE_MONTHS",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "ACTIVE_MONTHS",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "NO_OF_MONTHS",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "NO_OF_MONTHS",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "AS_EARNED_END_DATE",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "AS_EARNED_END_DATE",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "PARTICIPANT_RELATION_1",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PARTICIPANT_RELATION_1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PARTICIPANT_RELATION_2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PARTICIPANT_RELATION_2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SEGMENT",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SEGMENT",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CARRIER_AGENTCODE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CARRIER_AGENTCODE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PERIOD_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PERIOD_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RELEASE_SCHEDULE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "RELEASE_SCHEDULE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PAY_RECOVERY",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PAY_RECOVERY",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "MIA_BCBS_FB_COMISSIONS_FINALIZED_APP_PROD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "MIA_BCBS_FB_COMISSIONS_HISTORY_PROD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "AIA_COMMISSION_HISTORY_FB",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "MIA_BCBS_FB_COMISSIONS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Agency_Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AGENCY_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Agent_Code",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AGENT_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Agent_Last",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AGENT_LAST",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Agent_First",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AGENT_FIRST",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FB_UID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "FB_UID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Member_Contract_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MEMBER_CONTRACT_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Comp_Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 14
										},
										"sink": {
											"name": "COMP_AMOUNT",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 14
										}
									},
									{
										"source": {
											"name": "Flat_Rate",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 14
										},
										"sink": {
											"name": "FLAT_RATE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 14
										}
									},
									{
										"source": {
											"name": "Member_Count",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MEMBER_COUNT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Percent_Of_Prem",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PERCENT_OF_PREM",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Prem_Paid_Amt",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PREM_PAID_AMT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Comp_Type",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "COMP_TYPE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Event_Type",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "EVENT_TYPE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Initial_Payment_Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "INITIAL_PAYMENT_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Owning_Agency_AOR_Effective_Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "OWNING_AGENCY_AOR_EFFECTIVE_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Accounting_Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ACCOUNTING_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Compensation_Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "COMPENSATION_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Original_Effective_Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ORIGINAL_EFFECTIVE_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Benefit_Effective_Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BENEFIT_EFFECTIVE_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Cancel_Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CANCEL_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Product_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PRODUCT_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Product_Type",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PRODUCT_TYPE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Product_Tier_Metal_Level",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PRODUCT_TIER_METAL_LEVEL",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "County_Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "COUNTY_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Bonus_County_Indicator",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BONUS_COUNTY_INDICATOR",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "App_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "APP_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Exchange_Ind",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "EXCHANGE_IND",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_Last",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SUBSCRIBER_LAST",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_First",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SUBSCRIBER_FIRST",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_Middle",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SUBSCRIBER_MIDDLE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Coverage_From_Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "COVERAGE_FROM_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Coverage_To_Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "COVERAGE_TO_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Transaction_Id",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "TRANSACTION_ID",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "EMPLOYEE_ID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "EMPLOYEE_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Department_Employee_Id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DEPARTMENT_EMPLOYEE_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SECONDARY_ROLE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SECONDARY_ROLE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PAYEE_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PAYEE_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ALIGNED_AGENT_CODE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ALIGNED_AGENT_CODE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Payment_Rate",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PAYMENT_RATE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Depart_Rate",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 7,
											"precision": 18
										},
										"sink": {
											"name": "DEPART_RATE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 7,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Department_Commission",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 7,
											"precision": 38
										},
										"sink": {
											"name": "DEPARTMENT_COMMISSION",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 7,
											"precision": 38
										}
									},
									{
										"source": {
											"name": "Comments",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "COMMENTS",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "section_name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SECTION_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Adj_Description",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ADJ_DESCRIPTION",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PERIOD_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PERIOD_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "date_paid",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "DATE_PAID",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "FOR_PERIOD",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "FOR_PERIOD",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "ADVANCE_USED",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ADVANCE_USED",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ADVANCE_AMOUNT",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 14
										},
										"sink": {
											"name": "ADVANCE_AMOUNT",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 14
										}
									},
									{
										"source": {
											"name": "ADVANCE_REMAINING",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 14
										},
										"sink": {
											"name": "ADVANCE_REMAINING",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 14
										}
									},
									{
										"source": {
											"name": "IMS_TRANSACTION_ID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "IMS_TRANSACTION_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AIA_FB_Commissions_PROD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AIA_FB_COMMISSION_HISTORY_PROD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "AIA_COMMISSION_HISTORY_OOS",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "AIA_COMMISSION_HISTORY_FB",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Carrier_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CARRIER_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agency_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AGENCY_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agent_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AGENT_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agent_ID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AGENT_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agent_Number",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AGENT_NUMBER",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agent_Commission_Note",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AGENT_COMMISSION_NOTE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Effective_Date",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "EFFECTIVE_DATE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Client_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CLIENT_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Policy_ID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "POLICY_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Policy_Number",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "POLICY_NUMBER",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Stmt_Coverage_Type",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "STMT_COVERAGE_TYPE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Bill_From_Date",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "BILL_FROM_DATE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Month_of_Bill_From_Date",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MONTH_OF_BILL_FROM_DATE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Lives",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LIVES",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Premium_Amount",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PREMIUM_AMOUNT",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Commission_Amount",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "COMMISSION_AMOUNT",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Commission_Entry_Note",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "COMMISSION_ENTRY_NOTE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Revenue_Type",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "REVENUE_TYPE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Balance_Forwarded",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "BALANCE_FORWARDED",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agency_Code",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AGENCY_CODE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Broker_Start_Date",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "BROKER_START_DATE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Broker_End_Date",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "BROKER_END_DATE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Product_Type",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PRODUCT_TYPE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Product_Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PRODUCT_DESCRIPTION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IMS_Transaction_ID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "IMS_TRANSACTION_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Policy_Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "POLICY_STATUS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Member_Count",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 14
										},
										"sink": {
											"name": "MEMBER_COUNT",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 14
										}
									},
									{
										"source": {
											"name": "On/Off_Exchange",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ON/OFF_EXCHANGE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BOB_Coverage_Type",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "BOB_COVERAGE_TYPE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Coverage_Start__Date",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "COVERAGE_START__DATE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Coverage_End_Date",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "COVERAGE_END_DATE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Paid_Through_Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PAID_THROUGH_DATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_First_Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SUBSCRIBER_FIRST_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_Middle_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SUBSCRIBER_MIDDLE_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_Last_Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SUBSCRIBER_LAST_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_Full_Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SUBSCRIBER_FULL_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "STATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CITY",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "County",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "COUNTY",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Ims_Agent_Id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "IMS_AGENT_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Runner_Full_Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RUNNER_FULL_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Runner_Role",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RUNNER_ROLE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Override_Employee_Id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "OVERRIDE_EMPLOYEE_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Override_Payee_Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "OVERRIDE_PAYEE_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Override_Payee_Role",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "OVERRIDE_PAYEE_ROLE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Department_Employee_Id",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DEPARTMENT_EMPLOYEE_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Department_Full_Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DEPARTMENT_FULL_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Department_Role",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DEPARTMENT_ROLE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Payment_Rate",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PAYMENT_RATE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Rate",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 7,
											"precision": 18
										},
										"sink": {
											"name": "RATE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 7,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Rate_Type",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "RATE_TYPE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Depart_Rate",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 7,
											"precision": 18
										},
										"sink": {
											"name": "DEPART_RATE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 7,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Depart_Rate_Type",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DEPART_RATE_TYPE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agent_Commission",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 14,
											"precision": 37
										},
										"sink": {
											"name": "AGENT_COMMISSION",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 14,
											"precision": 37
										}
									},
									{
										"source": {
											"name": "Department_Commission",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 14,
											"precision": 37
										},
										"sink": {
											"name": "DEPARTMENT_COMMISSION",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 14,
											"precision": 37
										}
									},
									{
										"source": {
											"name": "COMPENSATION_TYPE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "COMPENSATION_TYPE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agent_Statement_Date",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AGENT_STATEMENT_DATE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Comments",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "COMMENTS",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "E2eis_Seq_Number",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "E2EIS_SEQ_NUMBER",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "PERIOD_NAME",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PERIOD_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Department_PayeeName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DEPARTMENT_PAYEENAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Section_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SECTION_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Adj_Description",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ADJ_DESCRIPTION",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "date_paid",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "DATE_PAID",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "FOR_PERIOD",
											"type": "Date",
											"physicalType": "date"
										},
										"sink": {
											"name": "FOR_PERIOD",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "ADVANCE_USED",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ADVANCE_USED",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ADVANCE_AMOUNT",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 18
										},
										"sink": {
											"name": "ADVANCE_AMOUNT",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "ADVANCE_REMAINING",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 18
										},
										"sink": {
											"name": "ADVANCE_REMAINING",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Payee_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PAYEE_NAME",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transaction_id",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "TRANSACTION_ID",
											"type": "Int64",
											"physicalType": "bigint"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AIA_Commission_Payment_PROD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AIA_OOS_COMMISSION_HISTORY_PROD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-09-19T14:15:36Z"
			},
			"dependsOn": []
		}
	]
}