DFMSLALLPRD/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DFMSLALLPRD"
		},
		"LS_SFTP_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SFTP'"
		},
		"LS_SQL_PROD_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQL_PROD'"
		},
		"Sftp1_connections_ALL_FEED_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Sftp1_connections_ALL_FEED'"
		},
		"Sftp_outgoing_file_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Sftp_outgoing_file'"
		},
		"SqlServere2eis_PROD_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SqlServere2eis_PROD'"
		},
		"e2eiS_UAT_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'e2eiS_UAT'"
		},
		"e2eis_APP_PROD_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'e2eis_APP_PROD'"
		},
		"LS_SFTP_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "sftpprd.msusportal.com"
		},
		"LS_SFTP_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sftpprdadmin"
		},
		"LS_SQL_PROD_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "dbserver-e2eis-prod.database.windows.net"
		},
		"LS_SQL_PROD_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "E2EIS_APP_PROD"
		},
		"LS_SQL_PROD_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "MSLADMIN_APP_PRD"
		},
		"Sftp1_connections_ALL_FEED_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "sftpprd.msusportal.com"
		},
		"Sftp1_connections_ALL_FEED_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sftpprdadmin"
		},
		"Sftp_outgoing_file_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "mendssftp.blob.core.windows.net"
		},
		"Sftp_outgoing_file_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "mendssftp.sftpadmin"
		},
		"SqlServere2eis_PROD_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "dbserver-e2eis-prod.database.windows.net"
		},
		"SqlServere2eis_PROD_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "E2EIS_PROD"
		},
		"SqlServere2eis_PROD_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "mslprod"
		},
		"e2eiS_UAT_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "dbserver-e2eis-prod.database.windows.net"
		},
		"e2eiS_UAT_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "e2eis_UAT"
		},
		"e2eiS_UAT_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "msluat"
		},
		"e2eis_APP_PROD_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "dbserver-e2eis-prod.database.windows.net"
		},
		"e2eis_APP_PROD_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "E2EIS_APP_PROD"
		},
		"e2eis_APP_PROD_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Mslprod"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LS_SFTP')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "used for ETL automation as source",
				"annotations": [],
				"type": "Sftp",
				"typeProperties": {
					"host": "[parameters('LS_SFTP_properties_typeProperties_host')]",
					"port": 22,
					"skipHostKeyValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('LS_SFTP_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SFTP_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL_PROD')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "sink connection for ETL automation with production database",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_SQL_PROD_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQL_PROD_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQL_PROD_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQL_PROD_password')]"
					},
					"integratedSecurity": "false"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sftp1_connections_ALL_FEED')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Sftp",
				"typeProperties": {
					"host": "[parameters('Sftp1_connections_ALL_FEED_properties_typeProperties_host')]",
					"port": 22,
					"skipHostKeyValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('Sftp1_connections_ALL_FEED_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Sftp1_connections_ALL_FEED_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sftp_outgoing_file')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Sftp",
				"typeProperties": {
					"host": "[parameters('Sftp_outgoing_file_properties_typeProperties_host')]",
					"port": 22,
					"skipHostKeyValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('Sftp_outgoing_file_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Sftp_outgoing_file_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServere2eis_PROD')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('SqlServere2eis_PROD_properties_typeProperties_server')]",
					"database": "[parameters('SqlServere2eis_PROD_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('SqlServere2eis_PROD_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SqlServere2eis_PROD_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/e2eiS_UAT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('e2eiS_UAT_properties_typeProperties_server')]",
					"database": "[parameters('e2eiS_UAT_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('e2eiS_UAT_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('e2eiS_UAT_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/e2eis_APP_PROD')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('e2eis_APP_PROD_properties_typeProperties_server')]",
					"database": "[parameters('e2eis_APP_PROD_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('e2eis_APP_PROD_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('e2eis_APP_PROD_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ABI_COMMISSION_CALCULATION_APP_PROD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ABI_SP_PAYEE_RATE_DATA_TRANSFERS_STEP1",
						"description": "STEP 1",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[ABI_SP_PAYEE_RATE_DATA_TRANSFERS_STEP1]"
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ABI_SP_CONSOLIDATE_ALL_DATA_LOADS_STEP2",
						"description": "STEP 2",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ABI_SP_PAYEE_RATE_DATA_TRANSFERS_STEP1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[ABI_SP_CONSOLIDATE_ALL_DATA_LOADS_STEP2]",
							"storedProcedureParameters": {
								"Month": {
									"value": {
										"value": "'07'",
										"type": "Expression"
									},
									"type": "String"
								},
								"Year": {
									"value": {
										"value": "'2025'",
										"type": "Expression"
									},
									"type": "String"
								},
								"Week_Name": {
									"value": {
										"value": "@'Week1'",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ABI_SP_AGENT_COMMISSION_CALCULATION_STEP3",
						"description": "STEP 3",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ABI_SP_CONSOLIDATE_ALL_DATA_LOADS_STEP2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[ABI_SP_AGENT_COMMISSION_CALCULATION_STEP3]",
							"storedProcedureParameters": {
								"Month": {
									"value": {
										"value": "'07'",
										"type": "Expression"
									},
									"type": "String"
								},
								"Year": {
									"value": {
										"value": "'2025'",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ABI_SP_AGENT_GROUP_COMMISSION_CALCULATION_STEP4",
						"description": "STEP 4",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ABI_SP_AGENT_COMMISSION_CALCULATION_STEP3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[ABI_SP_AGENT_GROUP_COMMISSION_CALCULATION_STEP4]",
							"storedProcedureParameters": {
								"Month": {
									"value": {
										"value": "'07'",
										"type": "Expression"
									},
									"type": "String"
								},
								"Year": {
									"value": {
										"value": "'2025'",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ABI_SP_AGENT_OVERRIDE_COMMISSION_CALCULATION_STEP5",
						"description": "STEP 5",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ABI_SP_AGENT_GROUP_COMMISSION_CALCULATION_STEP4",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[ABI_SP_AGENT_OVERRIDE_COMMISSION_CALCULATION_STEP5]",
							"storedProcedureParameters": {
								"Month": {
									"value": {
										"value": "'07'",
										"type": "Expression"
									},
									"type": "String"
								},
								"Year": {
									"value": {
										"value": "'2025'",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ABI_SP_AGENT_MANUAL_ADJUSTMENT_CALCULATION_STEP6",
						"description": "STEP 6",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ABI_SP_AGENT_OVERRIDE_COMMISSION_CALCULATION_STEP5",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[ABI_SP_AGENT_MANUAL_ADJUSTMENT_CALCULATION_STEP6]",
							"storedProcedureParameters": {
								"Month": {
									"value": {
										"value": "'07'",
										"type": "Expression"
									},
									"type": "String"
								},
								"Year": {
									"value": {
										"value": "'2025'",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ABI_SP_COMMISSION_ALL_SALES_REPORT_STEP7",
						"description": "STEP 7",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ABI_SP_AGENT_MANUAL_ADJUSTMENT_CALCULATION_STEP6",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[ABI_SP_COMMISSION_ALL_SALES_REPORT_STEP7]",
							"storedProcedureParameters": {
								"Month": {
									"value": {
										"value": "'07'",
										"type": "Expression"
									},
									"type": "String"
								},
								"Year": {
									"value": {
										"value": "'2025'",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ABI_SP_ALL_COMMISSIONS_SALES_DETAIL_SUMMARY_STEP8",
						"description": "STEP 8",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ABI_SP_COMMISSION_ALL_SALES_REPORT_STEP7",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[ABI_SP_ALL_COMMISSIONS_SALES_DETAIL_SUMMARY_STEP8]",
							"storedProcedureParameters": {
								"Month": {
									"value": {
										"value": "'06'",
										"type": "Expression"
									},
									"type": "String"
								},
								"Year": {
									"value": {
										"value": "'2025'",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ABI_SP_AGENT_COMMISSION_STATEMENT_DATA_PREP_STEP9",
						"description": "STEP 9",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ABI_SP_ALL_COMMISSIONS_SALES_DETAIL_SUMMARY_STEP8",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[ABI_SP_AGENT_COMMISSION_STATEMENT_DATA_PREP_STEP9]",
							"storedProcedureParameters": {
								"Month": {
									"value": {
										"value": "'07'",
										"type": "Expression"
									},
									"type": "String"
								},
								"Year": {
									"value": {
										"value": "'2025'",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-09-19T14:15:36Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/e2eis_APP_PROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIPELINE_FOR_ALL_AGENCY_KPI_DASHBOARD_PROD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AIA_SP_WEEKLY_DOMO_KPI_BOB_REFRESH_PRD",
						"description": "Weekly Run store procedure for AIA kpi dasboard data refresh",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "ABI_SP_KPI_ACTIVE_ENROLLMENT_BYCARRIER",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AIA_102].[AIA_SP_WEEKLY_DOMO_KPI_BOB_REFRESH]"
						},
						"linkedServiceName": {
							"referenceName": "SqlServere2eis_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "AIA_SP_WEEKLY_DOMO_KPI_BOB_REFRESH_1_PRD",
						"description": "Weekly Run store procedure for AIA kpi dasboard data refresh",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "AIA_SP_WEEKLY_DOMO_KPI_BOB_REFRESH_PRD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AIA_102].[AIA_SP_WEEKLY_DOMO_KPI_BOB_REFRESH_1]"
						},
						"linkedServiceName": {
							"referenceName": "SqlServere2eis_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "AIA_SP_WEEKLY_DOMO_KPI_BOB_REFRESH_2_PRD",
						"description": "Weekly Run store procedure for AIA kpi dasboard data refresh",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "AIA_SP_WEEKLY_DOMO_KPI_BOB_REFRESH_1_PRD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AIA_102].[AIA_SP_WEEKLY_DOMO_KPI_BOB_REFRESH_2]"
						},
						"linkedServiceName": {
							"referenceName": "SqlServere2eis_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SIM_SP_KPI_DATA_POPULATE_PRD",
						"description": "STEP 4 DASBOARD REFRESH Weekly Run store procedure for SIM kpi dasboard data refresh",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "AIA_SP_WEEKLY_DOMO_KPI_BOB_REFRESH_2_PRD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "SIM_103.SIM_SP_KPI_DATA_POPULATE"
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SIM_SP_KPI_DATA_POPULATE_WEEKLY_PRD",
						"description": "STEP 5 DASBOARD REFRESH Weekly Run store procedure for SIM kpi dasboard data refresh",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SIM_SP_KPI_DATA_POPULATE_PRD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "SIM_103.SIM_SP_KPI_DATA_POPULATE_WEEKLY"
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SIM_SP_KPI_DATA_POPULATE_MONTHLY_NEWDS",
						"description": "STEP 6 DASBOARD DATA REFRESH",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SIM_SP_KPI_DATA_POPULATE_WEEKLY_PRD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "SIM_103.SIM_SP_KPI_DATA_POPULATE_MONTHLY_NEWDS"
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SIM_SP_KPI_DATA_POPULATE_WEEKLY_NEWDS",
						"description": "STEP 7 DASBOARD DATA REFRESH",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SIM_SP_KPI_DATA_POPULATE_MONTHLY_NEWDS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "SIM_103.SIM_SP_KPI_DATA_POPULATE_WEEKLY_NEWDS"
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SIM_SP_KPI_DATA_POPULATE_MONTHLYATTRITION_PRD",
						"description": "Run after dashboard refresh SP completed",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SIM_SP_KPI_DATA_POPULATE_WEEKLY_NEWDS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_KPI_DATA_POPULATE_MONTHLYATTRITION_DNU]"
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ABI_SP_KPI_DATA_POPULATE",
						"description": "ABI dashboard refresh step 1",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "ABI_101.ABI_SP_KPI_DATA_POPULATE"
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ABI_SP_KPI_DATA_POPULATE_WEEKLY_PRD",
						"description": "ABI dashboard refresh step 2",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "ABI_SP_KPI_DATA_POPULATE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "ABI_101.ABI_SP_KPI_DATA_POPULATE_WEEKLY 'MURRAY INSURANCE AGENCY INC",
							"storedProcedureParameters": {
								"@Agency_Name": {
									"value": "MURRAY INSURANCE AGENCY INC",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ABI_SP_KPI_DATA_POPULATE_MONTHLY_NEWDS_PRD",
						"description": "ABI dashboard refresh step 3",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "ABI_SP_KPI_DATA_POPULATE_WEEKLY_PRD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "ABI_101.ABI_SP_KPI_DATA_POPULATE_WEEKLY",
							"storedProcedureParameters": {
								"@Agency_Name": {
									"value": "A AND B FINANCIAL SERVICES",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ABI_SP_KPI_DATA_POPULATE_WEEKLY_NEWDS_PRD",
						"description": "ABI dashboard refresh step 4",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "ABI_SP_KPI_DATA_POPULATE_MONTHLY_NEWDS_PRD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "ABI_101.ABI_SP_KPI_DATA_POPULATE_MONTHLY_NEWDS"
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SIM_SP_KPI_DATA_POPULATE_MONTHLYATTRITION_HISTORY",
						"description": "Run after dashboard refresh SP completed",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SIM_SP_KPI_DATA_POPULATE_MONTHLYATTRITION_PRD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_KPI_ACTIVE_ENROLLMENT_BYCARRIER]"
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ABI_SP_KPI_DATA_POPULATE_WEEKLY_NEWDS",
						"description": "ABI dashboard refresh step 5",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "ABI_SP_KPI_DATA_POPULATE_WEEKLY_NEWDS_PRD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "ABI_101.ABI_SP_KPI_DATA_POPULATE_WEEKLY_NEWDS"
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ABI_SP_KPI_DATA_POPULATE_MONTHLY_ATTRITION",
						"description": "ABI dashboard refresh step 6",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "ABI_SP_KPI_DATA_POPULATE_WEEKLY_NEWDS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "ABI_101.ABI_SP_KPI_DATA_POPULATE_MONTHLY_ATTRITION"
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ABI_SP_KPI_ACTIVE_ENROLLMENT_BYCARRIER",
						"description": "ABI dashboard refresh step 7",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "ABI_SP_KPI_DATA_POPULATE_MONTHLY_ATTRITION",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "ABI_101.ABI_SP_KPI_ACTIVE_ENROLLMENT_BYCARRIER"
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-09-17T09:28:32Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServere2eis_PROD')]",
				"[concat(variables('factoryId'), '/linkedServices/e2eis_APP_PROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIPELINE_FOR_SIM_BOB_GENERATION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "UpdateStatusInProgress",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "IN PROGRESS",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ExecuteBOBProcess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusInProgress",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@if(equals(pipeline().parameters.State, 'OOS'), '[SIM_103].[SIM_SP_BOB_PROCESS_OOS]', '[SIM_103].[SIM_SP_BOB_PROCESS_FL]')\n\n",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"PreviousPeriodName": {
									"value": {
										"value": "@pipeline().parameters.PreviousPeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"IsRegeneration": {
									"value": {
										"value": "@pipeline().parameters.IsRegeneration",
										"type": "Expression"
									},
									"type": "Boolean"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExecuteBOBProcess",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "COMPLETED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExecuteBOBProcess",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "FAILED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					}
				],
				"concurrency": 2,
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"PeriodName": {
						"type": "string"
					},
					"PreviousPeriodName": {
						"type": "string"
					},
					"State": {
						"type": "string"
					},
					"IsRegeneration": {
						"type": "bool",
						"defaultValue": false
					},
					"AuditID": {
						"type": "int",
						"defaultValue": 0
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-09-01T21:26:44Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/e2eis_APP_PROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIPELINE_FOR_SIM_FL_BOB_GENERATION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "UpdateStatusInProgress",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "IN PROGRESS",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ExecuteBobProcess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateAuditWithRunID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@if(equals(pipeline().parameters.State, 'OOS'), '[SIM_103].[SIM_SP_BOB_PROCESS_OOS]', '[SIM_103].[SIM_SP_BOB_PROCESS_FL]')",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"PeriodName ": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"PreviousPeriodName ": {
									"value": {
										"value": "@pipeline().parameters.PreviousPeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"IsRegeneration ": {
									"value": {
										"value": "@pipeline().parameters.IsRegeneration",
										"type": "Expression"
									},
									"type": "Boolean"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExecuteBobProcess",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "COMPLETED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExecuteBobProcess",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "FAILED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateAuditWithRunID",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusInProgress",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_BOB_AUDIT]",
							"storedProcedureParameters": {
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "IN PROGRESS",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateAuditSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusSuccess",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_BOB_AUDIT]",
							"storedProcedureParameters": {
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"DateTime_Completed": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Error_Message": {
									"value": "The Audit Captured with No Errors",
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "COMPLETED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateAuditFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusFailure",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_BOB_AUDIT]",
							"storedProcedureParameters": {
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"DateTime_Completed": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Error_Message": {
									"value": "An Error Occurred or The BOB Generation Failed  ",
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "FAILED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"PeriodName": {
						"type": "string"
					},
					"PreviousPeriodName": {
						"type": "string"
					},
					"State": {
						"type": "string"
					},
					"IsRegeneration": {
						"type": "bool",
						"defaultValue": false
					},
					"AuditID": {
						"type": "int"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-09-07T12:20:39Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/e2eis_APP_PROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIPELINE_FOR_SIM_OOS_BOB_GENERATION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "UpdateStatusInProgress",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "IN PROGRESS",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ExecuteBobProcess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateAuditWithRunID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@if(equals(pipeline().parameters.State, 'OOS'), '[SIM_103].[SIM_SP_BOB_PROCESS_OOS]', '[SIM_103].[SIM_SP_BOB_PROCESS_FL]')",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"PeriodName ": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"PreviousPeriodName ": {
									"value": {
										"value": "@pipeline().parameters.PreviousPeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"IsRegeneration ": {
									"value": {
										"value": "@pipeline().parameters.IsRegeneration",
										"type": "Expression"
									},
									"type": "Boolean"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExecuteBobProcess",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "COMPLETED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExecuteBobProcess",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "FAILED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateAuditWithRunID",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusInProgress",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_BOB_AUDIT]",
							"storedProcedureParameters": {
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "IN PROGRESS",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateAuditSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusSuccess",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_BOB_AUDIT]",
							"storedProcedureParameters": {
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"DateTime_Completed": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Error_Message": {
									"value": "The Audit Captured with No Errors",
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "COMPLETED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateAuditFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusFailure",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_BOB_AUDIT]",
							"storedProcedureParameters": {
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"DateTime_Completed": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Error_Message": {
									"value": "An Error Occurred or The BOB Generation Failed  ",
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "FAILED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "e2eis_APP_PROD",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"PeriodName": {
						"type": "string"
					},
					"PreviousPeriodName": {
						"type": "string"
					},
					"State": {
						"type": "string"
					},
					"IsRegeneration": {
						"type": "bool",
						"defaultValue": false
					},
					"AuditID": {
						"type": "int"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-09-01T21:26:44Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/e2eis_APP_PROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ABI_AGENCY_ADMIN_CONTACT_DETAILS_PRD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServere2eis_PROD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "E2eis_Seq_Number",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Agency_Code",
						"type": "varchar"
					},
					{
						"name": "Agency_Name",
						"type": "varchar"
					},
					{
						"name": "Agency_Address",
						"type": "varchar"
					},
					{
						"name": "Agency_Phone",
						"type": "varchar"
					},
					{
						"name": "Agency_Email",
						"type": "varchar"
					},
					{
						"name": "Agency_Primary_Contact_Name",
						"type": "varchar"
					},
					{
						"name": "Agency_Secondary_Contact_Name",
						"type": "varchar"
					},
					{
						"name": "Agency_Role",
						"type": "varchar"
					},
					{
						"name": "Agency_E2EDS_Application_Access_Status",
						"type": "varchar"
					},
					{
						"name": "Agency_Contract_Start_Date",
						"type": "varchar"
					},
					{
						"name": "Agency_Contract_End_Date",
						"type": "varchar"
					},
					{
						"name": "Agency_Contract_Renewal_Date",
						"type": "varchar"
					},
					{
						"name": "Agency_Contract_Termination_Date",
						"type": "varchar"
					},
					{
						"name": "Agency_Contract_Signed_By",
						"type": "varchar"
					},
					{
						"name": "Agency_Primary_Login_Id",
						"type": "varchar"
					},
					{
						"name": "Agency_Primary_Login_Password",
						"type": "varchar"
					},
					{
						"name": "Agency_Logo",
						"type": "image"
					},
					{
						"name": "Agency_Web_URL_Address",
						"type": "varchar"
					},
					{
						"name": "Agency_ID",
						"type": "nvarchar"
					},
					{
						"name": "Record_Load_Date",
						"type": "date"
					},
					{
						"name": "Record_Loaded_By",
						"type": "char"
					},
					{
						"name": "Record_Data_Source",
						"type": "char"
					},
					{
						"name": "Record_Flag_Status",
						"type": "char"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ABI_AGENCY_ADMIN_CONTACT_DETAILS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServere2eis_PROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ABI_AGENCY_ANNUAL_RATE_DETAILS_APP_PROD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "e2eis_APP_PROD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "E2EIS_SEQ_NUMBER",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "YEAR",
						"type": "varchar"
					},
					{
						"name": "SEGMENT",
						"type": "varchar"
					},
					{
						"name": "AGENT_CONTRACT_TYPE",
						"type": "varchar"
					},
					{
						"name": "FB_COMP_STATEMENT",
						"type": "varchar"
					},
					{
						"name": "FB_PRODUCT_ID",
						"type": "varchar"
					},
					{
						"name": "FB_COMP_TYPE",
						"type": "varchar"
					},
					{
						"name": "AGENCY_COMP_TYPE",
						"type": "varchar"
					},
					{
						"name": "CONTRACT_STARTS_WITH",
						"type": "varchar"
					},
					{
						"name": "E2E_PLAN_DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "FREQUENCY",
						"type": "varchar"
					},
					{
						"name": "FB_COMMISSION_FLAT_RATE",
						"type": "varchar"
					},
					{
						"name": "STANDARD_AMOUNT",
						"type": "varchar"
					},
					{
						"name": "PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "OVERRIDE_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "PAYMENT_TYPE",
						"type": "varchar"
					},
					{
						"name": "TIER1_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "TIER2_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "TIER3_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "TIER4_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "ENROLLMENT_YEAR_START",
						"type": "varchar"
					},
					{
						"name": "ENROLLMENT_YEAR_END",
						"type": "varchar"
					},
					{
						"name": "GROUP_SIZE_RANGE_START",
						"type": "varchar"
					},
					{
						"name": "GROUP_SIZE_RANGE_END",
						"type": "varchar"
					},
					{
						"name": "GROUP_COUNTY",
						"type": "varchar"
					},
					{
						"name": "TIER1_AMOUNT",
						"type": "varchar"
					},
					{
						"name": "TIER2_AMOUNT",
						"type": "varchar"
					},
					{
						"name": "TIER3_AMOUNT",
						"type": "varchar"
					},
					{
						"name": "CARRIER",
						"type": "varchar"
					},
					{
						"name": "AGENCY_NAME",
						"type": "varchar"
					},
					{
						"name": "TIER5_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "TIER6_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "TIER7_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "TIER8_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "TIER9_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "TIER10_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "ORIGINAL_EFFECTIVE_DATE_START_DATE",
						"type": "varchar"
					},
					{
						"name": "ORIGINAL_EFFECTIVE_DATE_END_DATE",
						"type": "varchar"
					},
					{
						"name": "AGENCY_ID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "RECORD_LOAD_DATE",
						"type": "date"
					},
					{
						"name": "RECORD_LOADED_BY",
						"type": "char"
					},
					{
						"name": "RECORD_DATA_SOURCE",
						"type": "char"
					},
					{
						"name": "RECORD_FLAG_STATUS",
						"type": "char"
					}
				],
				"typeProperties": {
					"schema": "ABI_101",
					"table": "ABI_AGENCY_ANNUAL_RATE_DETAILS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/e2eis_APP_PROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ABI_AGENCY_ANNUAL_RATE_DETAILS_HISTORY_APP_PROD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "e2eis_APP_PROD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "E2EIS_SEQ_NUMBER",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "YEAR",
						"type": "varchar"
					},
					{
						"name": "SEGMENT",
						"type": "varchar"
					},
					{
						"name": "AGENT_CONTRACT_TYPE",
						"type": "varchar"
					},
					{
						"name": "FB_COMP_STATEMENT",
						"type": "varchar"
					},
					{
						"name": "FB_PRODUCT_ID",
						"type": "varchar"
					},
					{
						"name": "FB_COMP_TYPE",
						"type": "varchar"
					},
					{
						"name": "AGENCY_COMP_TYPE",
						"type": "varchar"
					},
					{
						"name": "CONTRACT_STARTS_WITH",
						"type": "varchar"
					},
					{
						"name": "E2E_PLAN_DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "FREQUENCY",
						"type": "varchar"
					},
					{
						"name": "FB_COMMISSION_FLAT_RATE",
						"type": "varchar"
					},
					{
						"name": "STANDARD_AMOUNT",
						"type": "varchar"
					},
					{
						"name": "PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "OVERRIDE_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "PAYMENT_TYPE",
						"type": "varchar"
					},
					{
						"name": "TIER1_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "TIER2_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "TIER3_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "TIER4_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "ENROLLMENT_YEAR_START",
						"type": "varchar"
					},
					{
						"name": "ENROLLMENT_YEAR_END",
						"type": "varchar"
					},
					{
						"name": "GROUP_SIZE_RANGE_START",
						"type": "varchar"
					},
					{
						"name": "GROUP_SIZE_RANGE_END",
						"type": "varchar"
					},
					{
						"name": "GROUP_COUNTY",
						"type": "varchar"
					},
					{
						"name": "TIER1_AMOUNT",
						"type": "varchar"
					},
					{
						"name": "TIER2_AMOUNT",
						"type": "varchar"
					},
					{
						"name": "TIER3_AMOUNT",
						"type": "varchar"
					},
					{
						"name": "CARRIER",
						"type": "varchar"
					},
					{
						"name": "AGENCY_NAME",
						"type": "varchar"
					},
					{
						"name": "TIER5_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "TIER6_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "TIER7_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "TIER8_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "TIER9_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "TIER10_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "ORIGINAL_EFFECTIVE_DATE_START_DATE",
						"type": "varchar"
					},
					{
						"name": "ORIGINAL_EFFECTIVE_DATE_END_DATE",
						"type": "varchar"
					},
					{
						"name": "AGENCY_ID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "RECORD_LOAD_DATE",
						"type": "date"
					},
					{
						"name": "RECORD_LOADED_BY",
						"type": "char"
					},
					{
						"name": "RECORD_DATA_SOURCE",
						"type": "char"
					},
					{
						"name": "RECORD_FLAG_STATUS",
						"type": "char"
					}
				],
				"typeProperties": {
					"schema": "ABI_101",
					"table": "ABI_AGENCY_ANNUAL_RATE_DETAILS_HISTORY"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/e2eis_APP_PROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ABI_AGENCY_ANNUAL_RATE_DETAILS_HISTORY_PROD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServere2eis_PROD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "E2EIS_SEQ_NUMBER",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "YEAR",
						"type": "varchar"
					},
					{
						"name": "SEGMENT",
						"type": "varchar"
					},
					{
						"name": "AGENT_CONTRACT_TYPE",
						"type": "varchar"
					},
					{
						"name": "FB_COMP_STATEMENT",
						"type": "varchar"
					},
					{
						"name": "FB_PRODUCT_ID",
						"type": "varchar"
					},
					{
						"name": "FB_COMP_TYPE",
						"type": "varchar"
					},
					{
						"name": "AGENCY_COMP_TYPE",
						"type": "varchar"
					},
					{
						"name": "CONTRACT_STARTS_WITH",
						"type": "varchar"
					},
					{
						"name": "E2E_PLAN_DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "FREQUENCY",
						"type": "varchar"
					},
					{
						"name": "FB_COMMISSION_FLAT_RATE",
						"type": "varchar"
					},
					{
						"name": "STANDARD_AMOUNT",
						"type": "varchar"
					},
					{
						"name": "PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "OVERRIDE_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "PAYMENT_TYPE",
						"type": "varchar"
					},
					{
						"name": "TIER1_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "TIER2_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "TIER3_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "TIER4_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "ENROLLMENT_YEAR_START",
						"type": "varchar"
					},
					{
						"name": "ENROLLMENT_YEAR_END",
						"type": "varchar"
					},
					{
						"name": "GROUP_SIZE_RANGE_START",
						"type": "varchar"
					},
					{
						"name": "GROUP_SIZE_RANGE_END",
						"type": "varchar"
					},
					{
						"name": "GROUP_COUNTY",
						"type": "varchar"
					},
					{
						"name": "TIER1_AMOUNT",
						"type": "varchar"
					},
					{
						"name": "TIER2_AMOUNT",
						"type": "varchar"
					},
					{
						"name": "TIER3_AMOUNT",
						"type": "varchar"
					},
					{
						"name": "CARRIER",
						"type": "varchar"
					},
					{
						"name": "AGENCY_NAME",
						"type": "varchar"
					},
					{
						"name": "TIER5_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "TIER6_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "TIER7_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "TIER8_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "TIER9_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "TIER10_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "ORIGINAL_EFFECTIVE_DATE_START_DATE",
						"type": "varchar"
					},
					{
						"name": "ORIGINAL_EFFECTIVE_DATE_END_DATE",
						"type": "varchar"
					},
					{
						"name": "AGENCY_ID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "RECORD_LOAD_DATE",
						"type": "date"
					},
					{
						"name": "RECORD_LOADED_BY",
						"type": "char"
					},
					{
						"name": "RECORD_DATA_SOURCE",
						"type": "char"
					},
					{
						"name": "RECORD_FLAG_STATUS",
						"type": "char"
					}
				],
				"typeProperties": {
					"schema": "ABI_101",
					"table": "ABI_AGENCY_ANNUAL_RATE_DETAILS_HISTORY"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServere2eis_PROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ABI_AGENCY_ANNUAL_RATE_DETAILS_PROD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServere2eis_PROD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "E2EIS_SEQ_NUMBER",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "YEAR",
						"type": "varchar"
					},
					{
						"name": "SEGMENT",
						"type": "varchar"
					},
					{
						"name": "AGENT_CONTRACT_TYPE",
						"type": "varchar"
					},
					{
						"name": "FB_COMP_STATEMENT",
						"type": "varchar"
					},
					{
						"name": "FB_PRODUCT_ID",
						"type": "varchar"
					},
					{
						"name": "FB_COMP_TYPE",
						"type": "varchar"
					},
					{
						"name": "AGENCY_COMP_TYPE",
						"type": "varchar"
					},
					{
						"name": "CONTRACT_STARTS_WITH",
						"type": "varchar"
					},
					{
						"name": "E2E_PLAN_DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "FREQUENCY",
						"type": "varchar"
					},
					{
						"name": "FB_COMMISSION_FLAT_RATE",
						"type": "varchar"
					},
					{
						"name": "STANDARD_AMOUNT",
						"type": "varchar"
					},
					{
						"name": "PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "OVERRIDE_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "PAYMENT_TYPE",
						"type": "varchar"
					},
					{
						"name": "TIER1_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "TIER2_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "TIER3_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "TIER4_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "ENROLLMENT_YEAR_START",
						"type": "varchar"
					},
					{
						"name": "ENROLLMENT_YEAR_END",
						"type": "varchar"
					},
					{
						"name": "GROUP_SIZE_RANGE_START",
						"type": "varchar"
					},
					{
						"name": "GROUP_SIZE_RANGE_END",
						"type": "varchar"
					},
					{
						"name": "GROUP_COUNTY",
						"type": "varchar"
					},
					{
						"name": "TIER1_AMOUNT",
						"type": "varchar"
					},
					{
						"name": "TIER2_AMOUNT",
						"type": "varchar"
					},
					{
						"name": "TIER3_AMOUNT",
						"type": "varchar"
					},
					{
						"name": "CARRIER",
						"type": "varchar"
					},
					{
						"name": "AGENCY_NAME",
						"type": "varchar"
					},
					{
						"name": "TIER5_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "TIER6_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "TIER7_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "TIER8_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "TIER9_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "TIER10_PERCENT_OF_FB_PAYMENT",
						"type": "varchar"
					},
					{
						"name": "ORIGINAL_EFFECTIVE_DATE_START_DATE",
						"type": "varchar"
					},
					{
						"name": "ORIGINAL_EFFECTIVE_DATE_END_DATE",
						"type": "varchar"
					},
					{
						"name": "AGENCY_ID",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "RECORD_LOAD_DATE",
						"type": "date"
					},
					{
						"name": "RECORD_LOADED_BY",
						"type": "char"
					},
					{
						"name": "RECORD_DATA_SOURCE",
						"type": "char"
					},
					{
						"name": "RECORD_FLAG_STATUS",
						"type": "char"
					}
				],
				"typeProperties": {
					"schema": "ABI_101",
					"table": "ABI_AGENCY_ANNUAL_RATE_DETAILS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServere2eis_PROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ABI_AGENCY_NEWSALE_RENEWALS_PRIOR_YEAR_DETAILS_APP_PROD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "e2eis_APP_PROD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "E2eis_Seq_Number",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Agency_Code",
						"type": "varchar"
					},
					{
						"name": "Agent_Code",
						"type": "varchar"
					},
					{
						"name": "Agent_Last_Name",
						"type": "varchar"
					},
					{
						"name": "Agent_First_Name",
						"type": "varchar"
					},
					{
						"name": "FB_UID",
						"type": "varchar"
					},
					{
						"name": "Member_Contract_ID",
						"type": "varchar"
					},
					{
						"name": "Comp_Amount",
						"type": "varchar"
					},
					{
						"name": "Flat_Rate",
						"type": "varchar"
					},
					{
						"name": "Member_Count",
						"type": "varchar"
					},
					{
						"name": "Percent_Of_Prem",
						"type": "varchar"
					},
					{
						"name": "Prem_Paid_Amt",
						"type": "varchar"
					},
					{
						"name": "Comp_Type",
						"type": "varchar"
					},
					{
						"name": "Event_Type",
						"type": "varchar"
					},
					{
						"name": "Initial_Payment_Date",
						"type": "varchar"
					},
					{
						"name": "Owning_Agency_AOR_Effective_Date",
						"type": "varchar"
					},
					{
						"name": "Accounting_Date",
						"type": "varchar"
					},
					{
						"name": "Compensation_Date",
						"type": "varchar"
					},
					{
						"name": "Original_Effective_Date",
						"type": "varchar"
					},
					{
						"name": "Benefit_Effective_Date",
						"type": "varchar"
					},
					{
						"name": "Cancel_Date",
						"type": "varchar"
					},
					{
						"name": "Product_ID",
						"type": "varchar"
					},
					{
						"name": "Product_Type",
						"type": "varchar"
					},
					{
						"name": "Product_Tier_Metal_Level",
						"type": "varchar"
					},
					{
						"name": "Count_Name",
						"type": "varchar"
					},
					{
						"name": "Bonus_County_Indicator",
						"type": "varchar"
					},
					{
						"name": "App_ID",
						"type": "varchar"
					},
					{
						"name": "Exchange_Ind",
						"type": "varchar"
					},
					{
						"name": "Subscriber_Last_Name",
						"type": "varchar"
					},
					{
						"name": "Subscriber_First_Name",
						"type": "varchar"
					},
					{
						"name": "Subscriber_Middle_Name",
						"type": "varchar"
					},
					{
						"name": "Coverage_From_Date",
						"type": "varchar"
					},
					{
						"name": "Coverage_To_Date",
						"type": "varchar"
					},
					{
						"name": "Agency_ID",
						"type": "varchar"
					},
					{
						"name": "Record_Load_Date",
						"type": "date"
					},
					{
						"name": "Record_Loaded_By",
						"type": "char"
					},
					{
						"name": "Record_Data_Source",
						"type": "char"
					},
					{
						"name": "Record_Flag_Status",
						"type": "char"
					}
				],
				"typeProperties": {
					"schema": "ABI_101",
					"table": "ABI_AGENCY_NEWSALE_RENEWALS_PRIOR_YEAR_DETAILS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/e2eis_APP_PROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ABI_AGENCY_NEWSALE_RENEWALS_PRIOR_YEAR_DETAILS_PROD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServere2eis_PROD",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "E2eis_Seq_Number",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Agency_Code",
						"type": "varchar"
					},
					{
						"name": "Agent_Code",
						"type": "varchar"
					},
					{
						"name": "Agent_Last_Name",
						"type": "varchar"
					},
					{
						"name": "Agent_First_Name",
						"type": "varchar"
					},
					{
						"name": "FB_UID",
						"type": "varchar"
					},
					{
						"name": "Member_Contract_ID",
						"type": "varchar"
					},
					{
						"name": "Comp_Amount",
						"type": "varchar"
					},
					{
						"name": "Flat_Rate",
						"type": "varchar"
					},
					{
						"name": "Member_Count",
						"type": "varchar"
					},
					{
						"name": "Percent_Of_Prem",
						"type": "varchar"
					},
					{
						"name": "Prem_Paid_Amt",
						"type": "varchar"
					},
					{
						"name": "Comp_Type",
						"type": "varchar"
					},
					{
						"name": "Event_Type",
						"type": "varchar"
					},
					{
						"name": "Initial_Payment_Date",
						"type": "varchar"
					},
					{
						"name": "Owning_Agency_AOR_Effective_Date",
						"type": "varchar"
					},
					{
						"name": "Accounting_Date",
						"type": "varchar"
					},
					{
						"name": "Compensation_Date",
						"type": "varchar"
					},
					{
						"name": "Original_Effective_Date",
						"type": "varchar"
					},
					{
						"name": "Benefit_Effective_Date",
						"type": "varchar"
					},
					{
						"name": "Cancel_Date",
						"type": "varchar"
					},
					{
						"name": "Product_ID",
						"type": "varchar"
					},
					{
						"name": "Product_Type",
						"type": "varchar"
					},
					{
						"name": "Product_Tier_Metal_Level",
						"type": "varchar"
					},
					{
						"name": "Count_Name",
						"type": "varchar"
					},
					{
						"name": "Bonus_County_Indicator",
						"type": "varchar"
					},
					{
						"name": "App_ID",
						"type": "varchar"
					},
					{
						"name": "Exchange_Ind",
						"type": "varchar"
					},
					{
						"name": "Subscriber_Last_Name",
						"type": "varchar"
					},
					{
						"name": "Subscriber_First_Name",
						"type": "varchar"
					},
					{
						"name": "Subscriber_Middle_Name",
						"type": "varchar"
					},
					{
						"name": "Coverage_From_Date",
						"type": "varchar"
					},
					{
						"name": "Coverage_To_Date",
						"type": "varchar"
					},
					{
						"name": "Agency_ID",
						"type": "varchar"
					},
					{
						"name": "Record_Load_Date",
						"type": "date"
					},
					{
						"name": "Record_Loaded_By",
						"type": "char"
					},
					{
						"name": "Record_Data_Source",
						"type": "char"
					},
					{
						"name": "Record_Flag_Status",
						"type": "char"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ABI_AGENCY_NEWSALE_RENEWALS_PRIOR_YEAR_DETAILS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServere2eis_PROD')]"
			]
		}
	]
}