e2eis-adf1/linkedTemplates/ArmTemplate_16.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "e2eis-adf1"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DF_Monthly_Extracts_for_ABI_Agency')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ABI_COMMISSION_ALL_SALES_SUMMARY_HISTORY_PRD",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ABI_SALES_MONTHLY_SUMMARY_REPORT",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          E2eis_Seq_Number as long,",
						"          Payee_AOR as string,",
						"          WritingAgentName as string,",
						"          WritingAgentPayrollId as string,",
						"          FBPaymentAmount as string,",
						"          Agent_Commission as string,",
						"          Override_Commission as string,",
						"          Agency_ID as string,",
						"          Record_Load_Date as date,",
						"          Record_Loaded_By as string,",
						"          Record_Data_Source as string,",
						"          Record_Flag_Status as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: '   SELECT *\\n FROM [dbo].[ABI_COMMISSION_ALL_SALES_SUMMARY_HISTORY]\\n WHERE [Record_Load_Date] IN (SELECT max([Record_Load_Date]) \\n FROM [dbo].[ABI_COMMISSION_ALL_SALES_SUMMARY_HISTORY])',",
						"     format: 'query') ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['ABI_ALL_SALES_SUMMARY_REPORT.csv'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_Monthly_Extracts_for_ABI_Agency1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ABI_COMMISSION_ALL_SALES_REPORT_HISTORY_PRD",
								"type": "DatasetReference"
							},
							"name": "Source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ABI_ALL_SALES_DETAILS_REPORT",
								"type": "DatasetReference"
							},
							"name": "Sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          E2eis_Seq_Number as long,",
						"          Payee_AOR as string,",
						"          Payee_AORName as string,",
						"          WritingAgentName as string,",
						"          Carrier as string,",
						"          Period_Name as string,",
						"          AccountingDate as string,",
						"          FB_CompType as string,",
						"          AgencyCompType as string,",
						"          Prior_CompType as string,",
						"          SubscriberName as string,",
						"          ProductType as string,",
						"          MemberCount as string,",
						"          ContractCount as string,",
						"          FBContractId as string,",
						"          OriginalEffectiveDate as string,",
						"          CoverageFromDate as string,",
						"          CoverageToDate as string,",
						"          CancelDate as string,",
						"          County as string,",
						"          Agent_Number as string,",
						"          Agent_Name as string,",
						"          FBPaymentAmount as string,",
						"          Frequency as string,",
						"          FileType as string,",
						"          CommissionRate as string,",
						"          RateType as string,",
						"          Agent_Commission as string,",
						"          CommissionType as string,",
						"          WritingAgentRole as string,",
						"          WritingAgentPayrollId as string,",
						"          ManualAdjComments as string,",
						"          FB_Commission_Flat_Rate as string,",
						"          Agency_ID as string,",
						"          Record_Load_Date as date,",
						"          Record_Loaded_By as string,",
						"          Record_Data_Source as string,",
						"          Record_Flag_Status as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: ' SELECT *\\n FROM [dbo].[ABI_COMMISSION_ALL_SALES_REPORT_HISTORY]\\n WHERE [Record_Load_Date] IN (SELECT max([Record_Load_Date]) \\n FROM [dbo].[ABI_COMMISSION_ALL_SALES_REPORT_HISTORY])',",
						"     format: 'query') ~> Source1",
						"Source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          E2eis_Seq_Number as string,",
						"          Payee_AOR as string,",
						"          WritingAgentName as string,",
						"          WritingAgentPayrollId as string,",
						"          FBPaymentAmount as string,",
						"          Agent_Commission as string,",
						"          Override_Commission as string,",
						"          Agency_ID as string,",
						"          Record_Load_Date as string,",
						"          Record_Loaded_By as string,",
						"          Record_Data_Source as string,",
						"          Record_Flag_Status as string",
						"     ),",
						"     partitionFileNames:['ABI_ALL_SALES_DETAILS_REPORT.csv'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> Sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ABI_COMMISSION_ALL_SALES_SUMMARY_HISTORY_PRD",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "All_Sales_Summary_Report",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          E2eis_Seq_Number as long,",
						"          Payee_AOR as string,",
						"          WritingAgentName as string,",
						"          WritingAgentPayrollId as string,",
						"          FBPaymentAmount as string,",
						"          Agent_Commission as string,",
						"          Override_Commission as string,",
						"          Agency_ID as string,",
						"          Record_Load_Date as date,",
						"          Record_Loaded_By as string,",
						"          Record_Data_Source as string,",
						"          Record_Flag_Status as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: '   SELECT *\\n FROM [dbo].[ABI_COMMISSION_ALL_SALES_SUMMARY_HISTORY]\\n WHERE [Record_Load_Date] IN (SELECT max([Record_Load_Date]) \\n FROM [dbo].[ABI_COMMISSION_ALL_SALES_SUMMARY_HISTORY])',",
						"     format: 'query') ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow_AIA_Weekly_Extracts')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "AIA_BOB_ALL_AGENCY_ALL_POLICY_ALL_TRANSACTION_ID_HISTORY1_PRD",
								"type": "DatasetReference"
							},
							"name": "AIAWEEKLYEXTRACT2",
							"description": "Import data from AIA_BOB_ALL_AGENCY_ALL_POLICY_ALL_TRANSACTION_ID_HISTORY"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DelimitedText2",
								"type": "DatasetReference"
							},
							"name": "Sink"
						}
					],
					"transformations": [
						{
							"name": "Source"
						}
					],
					"scriptLines": [
						"source(output(",
						"          E2eis_Seq_Number as long,",
						"          Carrier as string,",
						"          Owning_Agent_of_Record as string,",
						"          Assigned_Agent_Number as string,",
						"          Broker_Start_Date as string,",
						"          Broker_End_Date as string,",
						"          Product_Type as string,",
						"          Product_Description as string,",
						"          IMS_Transaction_ID as string,",
						"          Policy_Status as string,",
						"          Policy_ID as string,",
						"          Group_Name as string,",
						"          Member_Count as string,",
						"          {On/Off_Exchange} as string,",
						"          Exchange_Subscriber_ID as string,",
						"          Coverage_Type as string,",
						"          Subscriber_Original_Effective_Date as string,",
						"          Coverage_Start__Date as string,",
						"          Coverage_End_Date as string,",
						"          Paid_Through_Date as string,",
						"          Subscriber_First_Name as string,",
						"          Subscriber_Middle_Name as string,",
						"          Subscriber_Last_Name as string,",
						"          Subscriber_Full_Name as string,",
						"          Subscriber_DOB as string,",
						"          Subscriber_Email as string,",
						"          Address as string,",
						"          Address_2 as string,",
						"          Zip_Code as string,",
						"          City as string,",
						"          State as string,",
						"          County as string,",
						"          App_Submit_Date as string,",
						"          Member_Phone_Number_1 as string,",
						"          Member_Phone_Number_2 as string,",
						"          Compensation_Type as string,",
						"          Compensation_Period as string,",
						"          Compensation_Amount as string,",
						"          HS_Aligned as string,",
						"          Main_Upline_Agent as string,",
						"          Group_Team_Sales as string,",
						"          Transition_Date as string,",
						"          Assigned_Agent_Name as string,",
						"          Agency_ID as string,",
						"          Record_Load_Date as date,",
						"          Record_Loaded_By as string,",
						"          Record_Data_Source as string,",
						"          Record_Flag_Status as string",
						"     ),",
						"     allowSchemaDrift: false,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT  [E2eis_Seq_Number]\\n      ,[Carrier]\\n      ,[Owning_Agent_of_Record]\\n      ,[Assigned_Agent_Number]\\n      ,[Broker_Start_Date]\\n      ,[Broker_End_Date]\\n      ,[Product_Type]\\n      ,[Product_Description]\\n      ,[IMS_Transaction_ID]\\n      ,[Policy_Status]\\n      ,[Policy_ID]\\n      ,[Group_Name]\\n      ,[Member_Count]\\n      ,[On/Off_Exchange]\\n      ,[Exchange_Subscriber_ID]\\n      ,[Coverage_Type]\\n      ,[Subscriber_Original_Effective_Date]\\n      ,[Coverage_Start__Date]\\n      ,[Coverage_End_Date]\\n      ,[Paid_Through_Date]\\n      ,[Subscriber_First_Name]\\n      ,[Subscriber_Middle_Name]\\n      ,[Subscriber_Last_Name]\\n      ,[Subscriber_Full_Name]\\n      ,cast([Subscriber_DOB] as  DATE) as [Subscriber_DOB]\\n      ,[Subscriber_Email]\\n      ,[Address]\\n      ,[Address_2]\\n      ,[Zip_Code]\\n      ,[City]\\n      ,[State]\\n      ,[County]\\n      ,[App_Submit_Date]\\n      ,[Member_Phone_Number_1]\\n      ,[Member_Phone_Number_2]\\n      ,[Compensation_Type]\\n      ,[Compensation_Period]\\n      ,[Compensation_Amount]\\n      ,[HS_Aligned]\\n      ,[Main_Upline_Agent]\\n      ,[Group_Team_Sales]\\n      ,[Transition_Date]\\n      ,[Assigned_Agent_Name]\\n      ,[Agency_ID]\\n      ,[Record_Load_Date]\\n      ,[Record_Loaded_By]\\n      ,[Record_Data_Source]\\n      ,[Record_Flag_Status]\\n  FROM [dbo].[AIA_BOB_ALL_AGENCY_ALL_POLICY_ALL_TRANSACTION_ID_HISTORY]\\n   WHERE [Record_Load_Date] IN (SELECT max([Record_Load_Date]) \\n FROM [dbo].[AIA_BOB_ALL_AGENCY_ALL_POLICY_ALL_TRANSACTION_ID_HISTORY]) \\n',",
						"     format: 'query') ~> AIAWEEKLYEXTRACT2",
						"AIAWEEKLYEXTRACT2 select(skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> Source",
						"Source sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          E2eis_Seq_Number as string,",
						"          Carrier as string,",
						"          Owning_Agent_of_Record as string,",
						"          Assigned_Agent_Number as string,",
						"          Broker_Start_Date as string,",
						"          Broker_End_Date as string,",
						"          Product_Type as string,",
						"          Product_Description as string,",
						"          IMS_Transaction_ID as string,",
						"          Policy_Status as string,",
						"          Policy_ID as string,",
						"          Group_Name as string,",
						"          Member_Count as string,",
						"          {On/Off_Exchange} as string,",
						"          Exchange_Subscriber_ID as string,",
						"          Coverage_Type as string,",
						"          Subscriber_Original_Effective_Date as string,",
						"          Coverage_Start__Date as string,",
						"          Coverage_End_Date as string,",
						"          Paid_Through_Date as string,",
						"          Subscriber_First_Name as string,",
						"          Subscriber_Middle_Name as string,",
						"          Subscriber_Last_Name as string,",
						"          Subscriber_Full_Name as string,",
						"          Subscriber_DOB as string,",
						"          Subscriber_Email as string,",
						"          Address as string,",
						"          Address_2 as string,",
						"          Zip_Code as string,",
						"          City as string,",
						"          State as string,",
						"          County as string,",
						"          App_Submit_Date as string,",
						"          Member_Phone_Number_1 as string,",
						"          Member_Phone_Number_2 as string,",
						"          Compensation_Type as string,",
						"          Compensation_Period as string,",
						"          Compensation_Amount as string,",
						"          HS_Aligned as string,",
						"          Main_Upline_Agent as string,",
						"          Group_Team_Sales as string,",
						"          Transition_Date as string,",
						"          Assigned_Agent_Name as string,",
						"          Agency_ID as string,",
						"          Record_Load_Date as string,",
						"          Record_Loaded_By as string,",
						"          Record_Data_Source as string,",
						"          Record_Flag_Status as string",
						"     ),",
						"     partitionFileNames:['AIA_BOB_ALL_AGENCY_ALL_POLICY_ALL_TRANSACTIONS.csv'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> Sink"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIPELINE_FOR_AIA_ABI_KPI_PRD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "VIEW TO AIA_BOB_ALL_POLICY_DETAILS_HISTORY_PRD",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Carrier",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Carrier",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Owning_Agent_of_Record",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Owning_Agent_of_Record",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Assigned_Agent_Number",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Assigned_Agent_Number",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Broker_Start_Date",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Broker_Start_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Broker_End_Date",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Broker_End_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Product_Type",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Product_Type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Product_Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Product_Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "IMS_Transaction_ID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "IMS_Transaction_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Policy_Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Policy_Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Policy_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Policy_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Group_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Group_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Member_Count",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Member_Count",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "On/Off_Exchange",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "On/Off_Exchange",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Exchange_Subscriber_ID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Exchange_Subscriber_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Coverage_Type",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Coverage_Type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_Original_Effective_Date",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Subscriber_Original_Effective_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Coverage_Start__Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Coverage_Start__Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Coverage_End_Date",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Coverage_End_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Paid_Through_Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Paid_Through_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_First_Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Subscriber_First_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_Middle_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Subscriber_Middle_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_Last_Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Subscriber_Last_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_Full_Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Subscriber_Full_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_DOB",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Subscriber_DOB",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_Email",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Subscriber_Email",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Address",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Address",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Address_2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Address_2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zip_Code",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zip_Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "County",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "County",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "App_Submit_Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "App_Submit_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Member_Phone_Number_1",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Member_Phone_Number_1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Member_Phone_Number_2",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Member_Phone_Number_2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Compensation_Type",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Compensation_Type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Compensation_Period",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Compensation_Period",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Compensation_Amount",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Compensation_Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "HS_Aligned",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "HS_Aligned",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Main_Upline_Agent",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Main_Upline_Agent",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Group_Team_Sales",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Group_Team_Sales",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transition_Date",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Transition_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Assigned_Agent_Name",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Assigned_Agent_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AIA_BOB_ALL_POLICY_DETAILS_VIEW_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AIA_BOB_ALL_POLICY_DETAILS_HISTORY_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "VIEW TO AIA_BOB_ALL_AGENCY_ALLLICY_ALL_TRANS_HISTORY_PO",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "VIEW TO AIA_BOB_ALL_POLICY_DETAILS_HISTORY_PRD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Carrier",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Carrier",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Owning_Agent_of_Record",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Owning_Agent_of_Record",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Assigned_Agent_Number",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Assigned_Agent_Number",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Broker_Start_Date",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Broker_Start_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Broker_End_Date",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Broker_End_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Product_Type",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Product_Type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Product_Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Product_Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "IMS_Transaction_ID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "IMS_Transaction_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Policy_Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Policy_Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Policy_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Policy_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Group_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Group_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Member_Count",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Member_Count",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "On/Off_Exchange",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "On/Off_Exchange",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Exchange_Subscriber_ID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Exchange_Subscriber_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Coverage_Type",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Coverage_Type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_Original_Effective_Date",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Subscriber_Original_Effective_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Coverage_Start__Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Coverage_Start__Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Coverage_End_Date",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Coverage_End_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Paid_Through_Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Paid_Through_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_First_Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Subscriber_First_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_Middle_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Subscriber_Middle_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_Last_Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Subscriber_Last_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_Full_Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Subscriber_Full_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_DOB",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Subscriber_DOB",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_Email",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Subscriber_Email",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Address",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Address",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Address_2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Address_2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zip_Code",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zip_Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "County",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "County",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "App_Submit_Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "App_Submit_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Member_Phone_Number_1",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Member_Phone_Number_1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Member_Phone_Number_2",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Member_Phone_Number_2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Compensation_Type",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Compensation_Type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Compensation_Period",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Compensation_Period",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Compensation_Amount",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Compensation_Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "HS_Aligned",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "HS_Aligned",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Main_Upline_Agent",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Main_Upline_Agent",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Group_Team_Sales",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Group_Team_Sales",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transition_Date",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Transition_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Assigned_Agent_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Assigned_Agent_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AIA_IMS_BOB_WITH_POLICY_ID_AND_IMS_TRANSACTION_ID_WEEKLY_VIEW_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AIA_BOB_ALL_AGENCY_ALL_POLICY_ALL_TRANSACTION_ID_HISTORY_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ONE_TIME_DAY2",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "VIEW TO AIA_BOB_ALL_AGENCY_ALLLICY_ALL_TRANS_HISTORY_PO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false,
									"disableChunking": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Carrier",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Carrier",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Owning_Agent_of_Record",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Owning_Agent_of_Record",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Assigned_Agent_Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Assigned_Agent_Number",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Broker_Start_Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Broker_Start_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Broker_End_Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Broker_End_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Product_Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Product_Type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Product_Description",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Product_Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "IMS_Transaction_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IMS_Transaction_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Policy_Status",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Policy_Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Policy_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Policy_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Group_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Group_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Member_Count",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Member_Count",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "On/Off_Exchange",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "On/Off_Exchange",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Exchange_Subscriber_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Exchange_Subscriber_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Coverage_Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Coverage_Type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_Original_Effective_Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Subscriber_Original_Effective_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Coverage_Start__Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Coverage_Start__Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Coverage_End_Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Coverage_End_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Paid_Through_Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Paid_Through_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_First_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Subscriber_First_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_Middle_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Subscriber_Middle_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_Last_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Subscriber_Last_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_Full_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Subscriber_Full_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_DOB",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Subscriber_DOB",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_Email",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Subscriber_Email",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Address",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Address_2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zip_Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Zip_Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "County",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "County",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "App_Submit_Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "App_Submit_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Member_Phone_Number_1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Member_Phone_Number_1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Member_Phone_Number_2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Member_Phone_Number_2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Compensation_Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Compensation_Type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Compensation_Period",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Compensation_Period",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Compensation_Amount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Compensation_Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "HS_Aligned",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "HS_Aligned",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Main_Upline_Agent",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Main_Upline_Agent",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Group_Team_Sales",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Group_Team_Sales",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transition_Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Transition_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Assigned_Agent_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Assigned_Agent_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AIA_BOB_ALL_AGENCY_ALL_POLICY_ALL_TRANSACTION_ID_HISTORY_ONETIME_DAY2_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AIA_BOB_ALL_AGENCY_ALL_POLICY_ALL_TRANSACTION_ID_HISTORY_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "DF_AIA_Weekly_Extracts_for_Agency",
						"type": "ExecuteDataFlow",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "ONE_TIME_DAY2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow_AIA_Weekly_Extracts",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"AIAWEEKLYEXTRACT2": {},
									"Sink": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "View to ABI_COMMISSION_ALL_SALES_REPORT_HISTORY",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "DF_AIA_Weekly_Extracts_for_Agency",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Payee_AOR",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Payee_AOR",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "WritingAgentName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "WritingAgentName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "WritingAgentPayrollId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "WritingAgentPayrollId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FBPaymentAmount",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										},
										"sink": {
											"name": "FBPaymentAmount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agent_Commission",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 38
										},
										"sink": {
											"name": "Agent_Commission",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Override_Commission",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 38
										},
										"sink": {
											"name": "Override_Commission",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "VW_ABI_Commision_All_Sales_Report_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ABI_COMMISSION_ALL_SALES_SUMMARY_HISTORY_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "VIEW to ABI_COMMISSION_ALL_SALES_REPORT_HISTORY_DATA",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "View to ABI_COMMISSION_ALL_SALES_REPORT_HISTORY",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Payee_AOR",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Payee_AOR",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Payee_AORName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Payee_AORName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "WritingAgentName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "WritingAgentName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Carrier",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Carrier",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Period_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Period_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AccountingDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "AccountingDate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FB_CompType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FB_CompType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AgencyCompType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AgencyCompType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Prior_CompType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Prior_CompType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SubscriberName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SubscriberName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ProductType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ProductType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MemberCount",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "MemberCount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ContractCount",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ContractCount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FBContractId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FBContractId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "OriginalEffectiveDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "OriginalEffectiveDate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CoverageFromDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "CoverageFromDate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CoverageToDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "CoverageToDate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CancelDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "CancelDate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "County",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "County",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agent_Number",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Agent_Number",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agent_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Agent_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FBPaymentAmount",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										},
										"sink": {
											"name": "FBPaymentAmount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Frequency",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Frequency",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FileType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FileType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CommissionRate",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 10
										},
										"sink": {
											"name": "CommissionRate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RateType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "RateType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agent_Commission",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 4,
											"precision": 10
										},
										"sink": {
											"name": "Agent_Commission",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CommissionType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CommissionType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "WritingAgentRole",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "WritingAgentRole",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "WritingAgentPayrollId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "WritingAgentPayrollId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ManualAdjComments",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ManualAdjComments",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FB_Commission_Flat_Rate",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FB_Commission_Flat_Rate",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "VW_ABI_Commision_All_Sales_Report_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ABI_COMMISSION_ALL_SALES_REPORT_HISTORY_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "DF_Monthly_Extracts_for_ABI_Agency",
						"type": "ExecuteDataFlow",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "VIEW to ABI_COMMISSION_ALL_SALES_REPORT_HISTORY_DATA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Monthly_Extracts_for_ABI_Agency",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DF_Monthly_Extracts_for_ABI_Agency1",
						"type": "ExecuteDataFlow",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "DF_Monthly_Extracts_for_ABI_Agency",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Monthly_Extracts_for_ABI_Agency1",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Source1": {},
									"Sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "ABI_COMM_RPT_COMMISSIONS_STATEMENT",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "DF_Monthly_Extracts_for_ABI_Agency1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AgencyId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AgencyId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AgencyName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AgencyName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Comp_Period",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Comp_Period",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ReportSectionSeq",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 10
										},
										"sink": {
											"name": "ReportSectionSeq",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 10
										}
									},
									{
										"source": {
											"name": "ReportSections",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ReportSections",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AgentType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AgentType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Carrier",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Carrier",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AgentNumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AgentNumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AgentName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AgentName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Compensation_Type",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Compensation_Type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Commission_Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 14
										},
										"sink": {
											"name": "Commission_Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 14
										}
									},
									{
										"source": {
											"name": "Subscriber_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Subscriber_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Comp_Type",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Comp_Type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Plan_Type",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Plan_Type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Plan_Description",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Plan_Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Member_Count",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 10
										},
										"sink": {
											"name": "Member_Count",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 10
										}
									},
									{
										"source": {
											"name": "Member_Contract_ID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Member_Contract_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Accounting_Date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Accounting_Date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "OrigEffDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "OrigEffDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Cov_From_Date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Cov_From_Date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Cov_To_Date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Cov_To_Date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Cancel_Date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Cancel_Date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "County",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "County",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Writing_Agent",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Writing_Agent",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agent_Comm",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 14
										},
										"sink": {
											"name": "Agent_Comm",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 14
										}
									},
									{
										"source": {
											"name": "Sub_Category",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Sub_Category",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PayrollId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PayrollId",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ReportGroupSeq",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "ReportGroupSeq",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "LOA_AgentNumber",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LOA_AgentNumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LOA_AgentName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LOA_AgentName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CompType_PriorCompType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CompType_PriorCompType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LOA_CompeType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LOA_CompeType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AgentNumber_HEADER",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AgentNumber_HEADER",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AgentName_HEADER",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "AgentName_HEADER",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ManualAdj_Comments",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ManualAdj_Comments",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "COMM_RPT_COMMISSIONS_STATEMENT_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ABI_COMM_RPT_COMMISSIONS_STATEMENT_HISTORY_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-04-26T14:12:30Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflow_AIA_Weekly_Extracts')]",
				"[concat(variables('factoryId'), '/dataflows/DF_Monthly_Extracts_for_ABI_Agency')]",
				"[concat(variables('factoryId'), '/dataflows/DF_Monthly_Extracts_for_ABI_Agency1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIPELINE_FOR_AIA_IMS_WEEKLY_LOADS_PRD')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AIA_IMS_POLICY_DETAILS_STG_PRD",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "AIA_AGENCY_EMP_HIER_DETAILS_HISTORY_PRD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false,
									"disableChunking": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "IMS_DATA_EXP_FILE1_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AIA_IMS_POLICY_DETAILS_STG_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "AIA_IMS_POLICY_DETAILS_STG1_PRD",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "AIA_IMS_POLICY_DETAILS_STG_PRD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false,
									"disableChunking": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "IMS_DATA_EXP_FILE2_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AIA_IMS_POLICY_DETAILS_STG_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "AIA_IMS_POLICY_DETAILS_STG2_PRD",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "AIA_IMS_POLICY_DETAILS_STG1_PRD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false,
									"disableChunking": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "IMS_DATA_EXP_FILE3_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AIA_IMS_POLICY_DETAILS_STG_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "AIA_IMS_POLICY_DETAILS_STG4_",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "AIA_IMS_POLICY_DETAILS_STG3_PRD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false,
									"disableChunking": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "IMS_DATA_EXP_FILE5_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AIA_IMS_POLICY_DETAILS_STG_PRD1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "AIA_IMS_POLICY_DETAILS_HISTORY_PRD",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "AIA_IMS_POLICY_DETAILS_STG4_",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "E2eis_Seq_Number",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "E2eis_Seq_Number",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "Id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "IMS_Transaction_Id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Submitter_ID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Submitter_Id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SubmitterFirstName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Submitter_First_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SubmitterLastName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Submitter_Last_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Florida_Blue_Response",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Florida_Blue_Response",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DateTime_Submitted",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Date_Time_Submitted",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agent_Id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Agent_Id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AgentFirstName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Agent_First_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AgentLastName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Agent_Last_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Runner_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Runner_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "UplineFirstName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Upline_First_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "UplineLastName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Upline_Last_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DepartmentName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Department_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DepartmentDesignation",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Department_Designation",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Client_First_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Client_First_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Client_Last_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Client_Last_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Client_DOB",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Client_DOB",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Client_Phone",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Client_Phone",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Client_Email",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Client_Email",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Client_Address_1",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Client_Address_1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Client_Address_2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Client_Address_2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Client_City",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Client_City",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Client_State",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Client_State",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Client_Zip",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Client_Zip",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Member_Count_Enrolled",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Member_Count_Enrolled",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Assigned_Id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Assigned_Id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Status",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "App_Submitted_Date",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "App_Submitted_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Policy_Effective_Date",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Policy_Effective_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agent_Login_Used",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Agent_Login_Used",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Carrier",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Carrier",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FederallyFacilitatedMarketplaceId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FFM_Id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SubscriberId",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Subscriber_Id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Client_Sex",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Client_Sex",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Married",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Married",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Pregnant",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Pregnant",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Smoker",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Smoker",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "American_Native",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "American_Native",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Client_Income",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Client_Income",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Client_Income_Freq",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Client_Income_Freq",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Tax_Credit_Amount",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Tax_Credit_Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Plan_Premium",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Plan_Premium",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Payment_Amount",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Payment_Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Plan_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Plan_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Plan_ID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Plan_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Insurance_Company",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Insurance_Company",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Plan_Selected",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Plan_Selected",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DateTime_Assigned",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DateTime_Assigned",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LastStatusChange",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Last_Status_Change",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AIA_IMS_POLICY_DETAILS_STG_VIEW_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AIA_IMS_POLICY_HISTORY_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "VIEW TO AIA_BOB_ALL_POLICY_DETAILS_HISTORY_PRD",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "AIA_IMS_POLICY_DETAILS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Carrier",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Carrier",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Owning_Agent_of_Record",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Owning_Agent_of_Record",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Assigned_Agent_Number",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Assigned_Agent_Number",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Broker_Start_Date",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Broker_Start_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Broker_End_Date",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Broker_End_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Product_Type",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Product_Type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Product_Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Product_Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "IMS_Transaction_ID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "IMS_Transaction_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Policy_Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Policy_Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Policy_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Policy_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Group_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Group_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Member_Count",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Member_Count",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "On/Off_Exchange",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "On/Off_Exchange",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Exchange_Subscriber_ID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Exchange_Subscriber_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Coverage_Type",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Coverage_Type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_Original_Effective_Date",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Subscriber_Original_Effective_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Coverage_Start__Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Coverage_Start__Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Coverage_End_Date",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Coverage_End_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Paid_Through_Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Paid_Through_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_First_Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Subscriber_First_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_Middle_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Subscriber_Middle_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_Last_Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Subscriber_Last_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_Full_Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Subscriber_Full_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_DOB",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Subscriber_DOB",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_Email",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Subscriber_Email",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Address",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Address",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Address_2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Address_2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zip_Code",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zip_Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "County",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "County",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "App_Submit_Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "App_Submit_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Member_Phone_Number_1",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Member_Phone_Number_1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Member_Phone_Number_2",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Member_Phone_Number_2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Compensation_Type",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Compensation_Type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Compensation_Period",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Compensation_Period",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Compensation_Amount",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Compensation_Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "HS_Aligned",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "HS_Aligned",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Main_Upline_Agent",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Main_Upline_Agent",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Group_Team_Sales",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Group_Team_Sales",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transition_Date",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Transition_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Assigned_Agent_Name",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Assigned_Agent_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AIA_BOB_ALL_POLICY_DETAILS_VIEW_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AIA_BOB_ALL_POLICY_DETAILS_HISTORY_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "AIA_AGENCY_EMP_HIER_DETAILS1",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "AIA_AGENCY_EMP_HER_DETAILS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false,
									"disableChunking": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "IMS_HIER_EXP_FILE2_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AIA_AGENCY_EMP_HIER_DETAILS_STG_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "AIA_AGENCY_EMP_HIER_DETAILS2",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "AIA_AGENCY_EMP_HIER_DETAILS1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false,
									"disableChunking": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "IMS_HIER_EXP_FILE3_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AIA_AGENCY_EMP_HIER_DETAILS_STG_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "AIA_AGENCY_EMP_HER_DETAILS",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false,
									"disableChunking": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "UserId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UserId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FirstName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FirstName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LastName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LastName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Email",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Email",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Terminated",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Terminated",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Department",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Department",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NpnGrouping",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NpnGrouping",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UplineId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UplineId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UplineFirstName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UplineFirstName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UplineLastName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UplineLastName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Level",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Level",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "IMS_HIER_EXP_FILE1_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AIA_AGENCY_EMP_HIER_DETAILS_STG_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "VIEW TO AIA_BOB_ALL_AGENCY_ALLLICY_ALL_TRANS_HISTORY_PO",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "VIEW TO AIA_BOB_ALL_POLICY_DETAILS_HISTORY_PRD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Carrier",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Carrier",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Owning_Agent_of_Record",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Owning_Agent_of_Record",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Assigned_Agent_Number",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Assigned_Agent_Number",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Broker_Start_Date",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Broker_Start_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Broker_End_Date",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Broker_End_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Product_Type",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Product_Type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Product_Description",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Product_Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "IMS_Transaction_ID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "IMS_Transaction_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Policy_Status",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Policy_Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Policy_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Policy_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Group_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Group_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Member_Count",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Member_Count",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "On/Off_Exchange",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "On/Off_Exchange",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Exchange_Subscriber_ID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Exchange_Subscriber_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Coverage_Type",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Coverage_Type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_Original_Effective_Date",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Subscriber_Original_Effective_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Coverage_Start__Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Coverage_Start__Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Coverage_End_Date",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Coverage_End_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Paid_Through_Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Paid_Through_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_First_Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Subscriber_First_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_Middle_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Subscriber_Middle_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_Last_Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Subscriber_Last_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_Full_Name",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Subscriber_Full_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_DOB",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Subscriber_DOB",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_Email",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Subscriber_Email",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Address",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Address",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Address_2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Address_2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zip_Code",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zip_Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "County",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "County",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "App_Submit_Date",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "App_Submit_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Member_Phone_Number_1",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Member_Phone_Number_1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Member_Phone_Number_2",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Member_Phone_Number_2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Compensation_Type",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Compensation_Type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Compensation_Period",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Compensation_Period",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Compensation_Amount",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Compensation_Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "HS_Aligned",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "HS_Aligned",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Main_Upline_Agent",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Main_Upline_Agent",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Group_Team_Sales",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Group_Team_Sales",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transition_Date",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Transition_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Assigned_Agent_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Assigned_Agent_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AIA_IMS_BOB_WITH_POLICY_ID_AND_IMS_TRANSACTION_ID_WEEKLY_VIEW_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AIA_BOB_ALL_AGENCY_ALL_POLICY_ALL_TRANSACTION_ID_HISTORY_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "AIA_AGENCY_EMP_HIER_DETAILS3",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "AIA_AGENCY_EMP_HIER_DETAILS2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false,
									"disableChunking": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "IMS_HIER_EXP_FILE4_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AIA_AGENCY_EMP_HIER_DETAILS_STG_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "AIA_AGENCY_EMP_HIER_DETAILS4",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "AIA_AGENCY_EMP_HIER_DETAILS3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false,
									"disableChunking": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "IMS_HIER_EXP_FILE5_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AIA_AGENCY_EMP_HIER_DETAILS_STG_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "AIA_AGENCY_EMP_HIER_DETAILS_HISTORY_PRD",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "AIA_AGENCY_EMP_HIER_DETAILS4",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "E2eis_Seq_Number",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "E2eis_Seq_Number",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "UserId",
											"type": "nvarchar"
										},
										"sink": {
											"name": "User_Id",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FirstName",
											"type": "nvarchar"
										},
										"sink": {
											"name": "First_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LastName",
											"type": "nvarchar"
										},
										"sink": {
											"name": "Last_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Email",
											"type": "nvarchar"
										},
										"sink": {
											"name": "Email_Address",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Terminated",
											"type": "nvarchar"
										},
										"sink": {
											"name": "Termination_Flag",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Department",
											"type": "nvarchar"
										},
										"sink": {
											"name": "Department_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NpnGrouping",
											"type": "nvarchar"
										},
										"sink": {
											"name": "NPN_Grouping",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UplineId",
											"type": "nvarchar"
										},
										"sink": {
											"name": "Upline_Id",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UplineFirstName",
											"type": "nvarchar"
										},
										"sink": {
											"name": "Upline_First_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UplineLastName",
											"type": "nvarchar"
										},
										"sink": {
											"name": "Upline_Last_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Level",
											"type": "nvarchar"
										},
										"sink": {
											"name": "Level_Seq",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Agency_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Agency_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Record_Load_Date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Record_Load_Date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Record_Loaded_By",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Record_Loaded_By",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "Record_Data_Source",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Record_Data_Source",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "Record_Flag_Status",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Record_Flag_Status",
											"type": "String",
											"physicalType": "char"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AIA_AGENCY_EMP_HIER_DETAILS_STG_PRD1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AIA_AGENCY_EMP_HIER_DETAILS_HISTORY_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "AIA_IMS_POLICY_DETAILS",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "AIA_IMS_POLICY_DETAILS_HISTORY_PRD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "E2eis_Seq_Number",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "E2eis_Seq_Number",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "IMS_Transaction_Id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "IMS_Transaction_Id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Submitter_Id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Submitter_Id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Submitter_First_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Submitter_First_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Submitter_Last_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Submitter_Last_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Florida_Blue_Response",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Florida_Blue_Response",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Date_Time_Submitted",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Date_Time_Submitted",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agent_Id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Agent_Id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agent_First_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Agent_First_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agent_Last_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Agent_Last_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Runner_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Runner_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Upline_First_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Upline_First_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Upline_Last_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Upline_Last_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Department_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Department_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Department_Designation",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Department_Designation",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Client_First_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Client_First_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Client_Last_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Client_Last_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Client_DOB",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Client_DOB",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Client_Phone",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Client_Phone",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Client_Email",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Client_Email",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Client_Address_1",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Client_Address_1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Client_Address_2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Client_Address_2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Client_City",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Client_City",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Client_State",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Client_State",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Client_Zip",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Client_Zip",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Member_Count_Enrolled",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Member_Count_Enrolled",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Assigned_Id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Assigned_Id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Status",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "App_Submitted_Date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "App_Submitted_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Policy_Effective_Date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Policy_Effective_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agent_Login_Used",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Agent_Login_Used",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Carrier",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Carrier",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FFM_Id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FFM_Id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_Id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Subscriber_Id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Client_Sex",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Client_Sex",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Married",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Married",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Pregnant",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Pregnant",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Smoker",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Smoker",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "American_Native",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "American_Native",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Client_Income",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Client_Income",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Client_Income_Freq",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Client_Income_Freq",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Tax_Credit_Amount",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Tax_Credit_Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Plan_Premium",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Plan_Premium",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Payment_Amount",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Payment_Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Plan_Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Plan_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Plan_ID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Plan_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Insurance_Company",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Insurance_Company",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Plan_Selected",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Plan_Selected",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DateTime_Assigned",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DateTime_Assigned",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Last_Status_Change",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Last_Status_Change",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Agency_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Agency_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Record_Load_Date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Record_Load_Date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Record_Loaded_By",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Record_Loaded_By",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "Record_Data_Source",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Record_Data_Source",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "Record_Flag_Status",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Record_Flag_Status",
											"type": "String",
											"physicalType": "char"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "IMS_POLICY_DETAILS_VIEW_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "IMS_POLICY_DETAILS_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ONE_TIME_DAY2",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "VIEW TO AIA_BOB_ALL_AGENCY_ALLLICY_ALL_TRANS_HISTORY_PO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false,
									"disableChunking": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Carrier",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Carrier",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Owning_Agent_of_Record",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Owning_Agent_of_Record",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Assigned_Agent_Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Assigned_Agent_Number",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Broker_Start_Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Broker_Start_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Broker_End_Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Broker_End_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Product_Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Product_Type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Product_Description",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Product_Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "IMS_Transaction_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IMS_Transaction_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Policy_Status",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Policy_Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Policy_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Policy_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Group_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Group_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Member_Count",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Member_Count",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "On/Off_Exchange",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "On/Off_Exchange",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Exchange_Subscriber_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Exchange_Subscriber_ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Coverage_Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Coverage_Type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_Original_Effective_Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Subscriber_Original_Effective_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Coverage_Start__Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Coverage_Start__Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Coverage_End_Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Coverage_End_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Paid_Through_Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Paid_Through_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_First_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Subscriber_First_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_Middle_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Subscriber_Middle_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_Last_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Subscriber_Last_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_Full_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Subscriber_Full_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_DOB",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Subscriber_DOB",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Subscriber_Email",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Subscriber_Email",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Address",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Address_2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Zip_Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Zip_Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "County",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "County",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "App_Submit_Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "App_Submit_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Member_Phone_Number_1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Member_Phone_Number_1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Member_Phone_Number_2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Member_Phone_Number_2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Compensation_Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Compensation_Type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Compensation_Period",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Compensation_Period",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Compensation_Amount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Compensation_Amount",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "HS_Aligned",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "HS_Aligned",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Main_Upline_Agent",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Main_Upline_Agent",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Group_Team_Sales",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Group_Team_Sales",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transition_Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Transition_Date",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Assigned_Agent_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Assigned_Agent_Name",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AIA_BOB_ALL_AGENCY_ALL_POLICY_ALL_TRANSACTION_ID_HISTORY_ONETIME_DAY2_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AIA_BOB_ALL_AGENCY_ALL_POLICY_ALL_TRANSACTION_ID_HISTORY_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "AIA_IMS_POLICY_DETAILS_STG3_PRD",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "AIA_IMS_POLICY_DETAILS_STG2_PRD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false,
									"disableChunking": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "IMS_DATA_EXP_FILE4_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AIA_IMS_POLICY_DETAILS_STG_PRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "DF_Weekly_Extracts_for_Agency",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "ONE_TIME_DAY2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow_AIA_Weekly_Extracts",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"AIAWEEKLYEXTRACT2": {},
									"Sink": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"IMS_WEEKLY_LOAD_THURS": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2024-04-26T14:12:30Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflow_AIA_Weekly_Extracts')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger_AIA_FIles_Data_Loads')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PIPELINE_FOR_ALL_AIA_DATA_FEEDS_DEV",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-03-05T10:40:00",
						"timeZone": "Eastern Standard Time"
					}
				}
			},
			"dependsOn": []
		}
	]
}