e2eis-adf1/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "e2eis-adf1"
		},
		"SqlServer_mslbcpprd_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SqlServer_mslbcpprd'"
		},
		"SqlServer_msldev_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServer_msldev'"
		},
		"SqlServer_mslprd_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServer_mslprd'"
		},
		"SqlServer_msluat_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServer_msluat'"
		},
		"ls_logging store_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_logging store'"
		},
		"sftp_outgoing_file_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'sftp_outgoing_file'"
		},
		"SqlServer_mslbcpprd_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "dbserver-e2eis-prod.database.windows.net"
		},
		"SqlServer_mslbcpprd_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "E2EIS_PROD_BCP"
		},
		"SqlServer_mslbcpprd_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "MSLPRD"
		},
		"sftp_outgoing_file_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "mendssftp.blob.core.windows.net"
		},
		"sftp_outgoing_file_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "mendssftp.sftpadmin"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer_mslbcpprd')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This will be use for prd.msusportal.com",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('SqlServer_mslbcpprd_properties_typeProperties_server')]",
					"database": "[parameters('SqlServer_mslbcpprd_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('SqlServer_mslbcpprd_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SqlServer_mslbcpprd_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer_msldev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This connection will WRITE file data into Dev database.",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServer_msldev_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer_mslprd')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServer_mslprd_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer_msluat')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This will be used to connect with UAT database.",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServer_msluat_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_logging store')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ls_logging store_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sftp_outgoing_file')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Sftp",
				"typeProperties": {
					"host": "[parameters('sftp_outgoing_file_properties_typeProperties_host')]",
					"port": 22,
					"skipHostKeyValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('sftp_outgoing_file_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('sftp_outgoing_file_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1_inputdata2automation_test_varun')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This trigger would be used to load data into table automation_test_varun from sftp location AIA from the file inputdata.csv",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 2,
						"startTime": "2024-02-19T12:40:00",
						"endTime": "2024-02-19T13:15:00",
						"timeZone": "Pacific Standard Time"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger_AIA_FIles_Data_Loads')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-03-05T10:40:00",
						"timeZone": "Eastern Standard Time"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {
					"selfContainedInteractiveAuthoringEnabled": true
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIPELINE_FOR_ABI_BOB_GENERATION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "UpdateStatusInProgress",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[ABI_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "IN PROGRESS",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ExecuteBOBProcess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusInProgress",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@if(equals(pipeline().parameters.State, 'OOS'), '[ABI_101].[ABI_SP_BOB_PROCESS_OOS]', if(equals(pipeline().parameters.State, 'FL'), '[ABI_101].[ABI_SP_BOB_PROCESS_FL]', '[ABI_101].[ABI_SP_BOB_PROCESS_MEDICARE]'))",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"PreviousPeriodName": {
									"value": {
										"value": "@pipeline().parameters.PreviousPeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"IsRegeneration": {
									"value": {
										"value": "@pipeline().parameters.IsRegeneration",
										"type": "Expression"
									},
									"type": "Boolean"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExecuteBOBProcess",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[ABI_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "COMPLETED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExecuteBOBProcess",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[ABI_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "FAILED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlLinkedService",
							"type": "LinkedServiceReference"
						}
					}
				],
				"concurrency": 2,
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"PeriodName": {
						"type": "string"
					},
					"PreviousPeriodName": {
						"type": "string"
					},
					"State": {
						"type": "string"
					},
					"IsRegeneration": {
						"type": "bool",
						"defaultValue": false
					},
					"AuditID": {
						"type": "int",
						"defaultValue": 0
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-07-01T11:43:44Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIPELINE_FOR_ABI_COMMISSION_CALCULATION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "UpdateStatusInProgress",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateAuditStatusInProgress",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[ABI_CWKF_SP_UPDATE_COMMISSION_STATUS]",
							"storedProcedureParameters": {
								"Month": {
									"value": {
										"value": "@pipeline().parameters.Month",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Year": {
									"value": {
										"value": "@pipeline().parameters.Year",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Week": {
									"value": {
										"value": "@pipeline().parameters.Week",
										"type": "Expression"
									},
									"type": "String"
								},
								"Type": {
									"value": {
										"value": "@pipeline().parameters.CommissionType",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "IN PROGRESS",
									"type": "String"
								},
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msluat",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ExecuteCommissionProcess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusInProgress",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[ABI_CWKF_SP_COMMISSION_PROCESS_WRAPPER]",
							"storedProcedureParameters": {
								"Month": {
									"value": {
										"value": "@pipeline().parameters.Month",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Year": {
									"value": {
										"value": "@pipeline().parameters.Year",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Week": {
									"value": {
										"value": "@pipeline().parameters.Week",
										"type": "Expression"
									},
									"type": "String"
								},
								"Type": {
									"value": {
										"value": "@pipeline().parameters.CommissionType",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msluat",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExecuteCommissionProcess",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[ABI_CWKF_SP_UPDATE_COMMISSION_STATUS]",
							"storedProcedureParameters": {
								"Month": {
									"value": {
										"value": "@pipeline().parameters.Month",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Year": {
									"value": {
										"value": "@pipeline().parameters.Year",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Week": {
									"value": {
										"value": "@pipeline().parameters.Week",
										"type": "Expression"
									},
									"type": "String"
								},
								"Type": {
									"value": {
										"value": "@pipeline().parameters.CommissionType",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "COMPLETED",
									"type": "String"
								},
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msluat",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExecuteCommissionProcess",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[ABI_CWKF_SP_UPDATE_COMMISSION_STATUS]",
							"storedProcedureParameters": {
								"Month": {
									"value": {
										"value": "@pipeline().parameters.Month",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Year": {
									"value": {
										"value": "@pipeline().parameters.Year",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Week": {
									"value": {
										"value": "@pipeline().parameters.Week",
										"type": "Expression"
									},
									"type": "String"
								},
								"Type": {
									"value": {
										"value": "@pipeline().parameters.CommissionType",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "FAILED",
									"type": "String"
								},
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"ErrorMessage": {
									"value": {
										"value": "@activity('ExecuteCommissionProcess').error.message",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msluat",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateAuditStatusInProgress",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[SP_LOG_COMMISSION_WORKFLOW_ETL]",
							"storedProcedureParameters": {
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Period": {
									"value": {
										"value": "@concat(string(pipeline().parameters.Month), '/', string(pipeline().parameters.Year))",
										"type": "Expression"
									},
									"type": "String"
								},
								"CommissionType": {
									"value": {
										"value": "@pipeline().parameters.CommissionType",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "IN PROGRESS",
									"type": "String"
								},
								"StartDateTime": {
									"value": {
										"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'Eastern Standard Time'), 'MM:dd:yyyy HH:mm:ss')",
										"type": "Expression"
									},
									"type": "String"
								},
								"Week": {
									"value": {
										"value": "@pipeline().parameters.Week",
										"type": "Expression"
									},
									"type": "String"
								},
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msluat",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateAuditStatusSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusSuccess",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[SP_LOG_COMMISSION_WORKFLOW_ETL]",
							"storedProcedureParameters": {
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": {
										"value": "COMPLETED",
										"type": "Expression"
									},
									"type": "String"
								},
								"EndDateTime": {
									"value": {
										"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'Eastern Standard Time'), 'MM:dd:yyyy HH:mm:ss')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msluat",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateAuditStatusFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusFailure",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							},
							{
								"activity": "UpdateAuditStatusInProgress",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "UpdateStatusInProgress",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "ExecuteCommissionProcess",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "UpdateStatusSuccess",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "UpdateAuditStatusSuccess",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[ABI_101].[SP_LOG_COMMISSION_WORKFLOW_ETL]",
							"storedProcedureParameters": {
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "FAILED",
									"type": "String"
								},
								"EndDateTime": {
									"value": {
										"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'Eastern Standard Time'), 'MM:dd:yyyy HH:mm:ss')",
										"type": "Expression"
									},
									"type": "String"
								},
								"Error": {
									"value": {
										"value": "@concat(\n  'UASIP: ', coalesce(activity('UpdateAuditStatusInProgress')?.error?.message, 'NA'),\n  ' | USIP: ', coalesce(activity('UpdateStatusInProgress')?.error?.message, 'NA'),\n  ' | ECP: ', coalesce(activity('ExecuteCommissionProcess')?.error?.message, 'NA'),\n  ' | USS: ', coalesce(activity('UpdateStatusSuccess')?.error?.message, 'NA'),\n  ' | USF: ', coalesce(activity('UpdateStatusFailure')?.error?.message, 'NA'),\n  ' | UASS: ', coalesce(activity('UpdateAuditStatusSuccess')?.error?.message, 'NA')\n)\n",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msluat",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Month": {
						"type": "int"
					},
					"Year": {
						"type": "int"
					},
					"Week": {
						"type": "string"
					},
					"CommissionType": {
						"type": "string"
					},
					"AuditID": {
						"type": "int"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-05-22T10:56:48Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer_msluat')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIPELINE_FOR_AIA_COMMISSION_CALCULATION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "UpdateStatusInProgress",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateAuditStatusInProgress",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AIA_102].[AIA_CWKF_SP_UPDATE_COMMISSION_STATUS]",
							"storedProcedureParameters": {
								"Month": {
									"value": {
										"value": "@pipeline().parameters.Month",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Year": {
									"value": {
										"value": "@pipeline().parameters.Year",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Week": {
									"value": {
										"value": "@pipeline().parameters.Week",
										"type": "Expression"
									},
									"type": "String"
								},
								"Type": {
									"value": {
										"value": "@pipeline().parameters.CommissionType",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "IN PROGRESS",
									"type": "String"
								},
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msluat",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ExecuteCommissionProcess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusInProgress",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AIA_102].[AIA_CWKF_SP_COMMISSION_PROCESS_WRAPPER]",
							"storedProcedureParameters": {
								"Month": {
									"value": {
										"value": "@pipeline().parameters.Month",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Year": {
									"value": {
										"value": "@pipeline().parameters.Year",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Week": {
									"value": {
										"value": "@pipeline().parameters.Week",
										"type": "Expression"
									},
									"type": "String"
								},
								"Type": {
									"value": {
										"value": "@pipeline().parameters.CommissionType",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msluat",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExecuteCommissionProcess",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AIA_102].[AIA_CWKF_SP_UPDATE_COMMISSION_STATUS]",
							"storedProcedureParameters": {
								"Month": {
									"value": {
										"value": "@pipeline().parameters.Month",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Year": {
									"value": {
										"value": "@pipeline().parameters.Year",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Week": {
									"value": {
										"value": "@pipeline().parameters.Week",
										"type": "Expression"
									},
									"type": "String"
								},
								"Type": {
									"value": {
										"value": "@pipeline().parameters.CommissionType",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "COMPLETED",
									"type": "String"
								},
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msluat",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExecuteCommissionProcess",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AIA_102].[AIA_CWKF_SP_UPDATE_COMMISSION_STATUS]",
							"storedProcedureParameters": {
								"Month": {
									"value": {
										"value": "@pipeline().parameters.Month",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Year": {
									"value": {
										"value": "@pipeline().parameters.Year",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Week": {
									"value": {
										"value": "@pipeline().parameters.Week",
										"type": "Expression"
									},
									"type": "String"
								},
								"Type": {
									"value": {
										"value": "@pipeline().parameters.CommissionType",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "FAILED",
									"type": "String"
								},
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"ErrorMessage": {
									"value": {
										"value": "@activity('ExecuteCommissionProcess').error.message",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msluat",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateAuditStatusInProgress",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AIA_102].[SP_LOG_COMMISSION_WORKFLOW_ETL]",
							"storedProcedureParameters": {
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Period": {
									"value": {
										"value": "@concat(string(pipeline().parameters.Month), '/', string(pipeline().parameters.Year))",
										"type": "Expression"
									},
									"type": "String"
								},
								"CommissionType": {
									"value": {
										"value": "@pipeline().parameters.CommissionType",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "IN PROGRESS",
									"type": "String"
								},
								"StartDateTime": {
									"value": {
										"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'Eastern Standard Time'), 'MM:dd:yyyy HH:mm:ss')",
										"type": "Expression"
									},
									"type": "String"
								},
								"Week": {
									"value": {
										"value": "@pipeline().parameters.Week",
										"type": "Expression"
									},
									"type": "String"
								},
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msluat",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateAuditStatusSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusSuccess",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AIA_102].[SP_LOG_COMMISSION_WORKFLOW_ETL]",
							"storedProcedureParameters": {
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": {
										"value": "COMPLETED",
										"type": "Expression"
									},
									"type": "String"
								},
								"EndDateTime": {
									"value": {
										"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'Eastern Standard Time'), 'MM:dd:yyyy HH:mm:ss')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msluat",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateAuditStatusFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusFailure",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							},
							{
								"activity": "UpdateAuditStatusInProgress",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "UpdateStatusInProgress",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "ExecuteCommissionProcess",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "UpdateStatusSuccess",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "UpdateAuditStatusSuccess",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AIA_102].[SP_LOG_COMMISSION_WORKFLOW_ETL]",
							"storedProcedureParameters": {
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "FAILED",
									"type": "String"
								},
								"EndDateTime": {
									"value": {
										"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'Eastern Standard Time'), 'MM:dd:yyyy HH:mm:ss')",
										"type": "Expression"
									},
									"type": "String"
								},
								"Error": {
									"value": {
										"value": "@concat(\n  'UASIP: ', coalesce(activity('UpdateAuditStatusInProgress')?.error?.message, 'NA'),\n  ' | USIP: ', coalesce(activity('UpdateStatusInProgress')?.error?.message, 'NA'),\n  ' | ECP: ', coalesce(activity('ExecuteCommissionProcess')?.error?.message, 'NA'),\n  ' | USS: ', coalesce(activity('UpdateStatusSuccess')?.error?.message, 'NA'),\n  ' | USF: ', coalesce(activity('UpdateStatusFailure')?.error?.message, 'NA'),\n  ' | UASS: ', coalesce(activity('UpdateAuditStatusSuccess')?.error?.message, 'NA')\n)\n",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msluat",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Month": {
						"type": "int"
					},
					"Year": {
						"type": "int"
					},
					"Week": {
						"type": "string"
					},
					"CommissionType": {
						"type": "string"
					},
					"AuditID": {
						"type": "int"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-02-19T11:07:07Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer_msluat')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIPELINE_FOR_COMMISSION_WORKFLOW_MSL998_VIA_DOTNET')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "UpdateStatusInProgress",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MSL_998].[SP_LOG_COMMISSION_WORKFLOW_ETL]",
							"storedProcedureParameters": {
								"Period": {
									"value": {
										"value": "@concat(pipeline().parameters.MONTH, '/', pipeline().parameters.YEAR)\r\n",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "IN PROGRESS",
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"StartDateTime": {
									"value": {
										"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'Eastern Standard Time'), 'MM:dd:yyyy HH:mm:ss')\n",
										"type": "Expression"
									},
									"type": "String"
								},
								"Week": {
									"value": {
										"value": "@pipeline().parameters.WEEK",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msldev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ExeCommissionWorkflow",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusInProgress",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@if(equals(pipeline().parameters.State, 'OOS'), '[MSL_998].[MSL_COMMISSION_CALCULATION_OOS]', '[MSL_998].[MSL_COMMISSION_CALCULATION_FB]')\n\n",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"MONTH": {
									"value": {
										"value": "@pipeline().parameters.MONTH",
										"type": "Expression"
									},
									"type": "String"
								},
								"YEAR": {
									"value": {
										"value": "@pipeline().parameters.YEAR",
										"type": "Expression"
									},
									"type": "String"
								},
								"WEEK": {
									"value": {
										"value": "@pipeline().parameters.WEEK",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msldev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExeCommissionWorkflow",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MSL_998].[SP_LOG_COMMISSION_WORKFLOW_ETL]",
							"storedProcedureParameters": {
								"Period": {
									"value": {
										"value": "@concat(pipeline().parameters.MONTH, '/', pipeline().parameters.YEAR)",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "COMPLETED",
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"EndDateTime": {
									"value": {
										"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'Eastern Standard Time'), 'MM:dd:yyyy HH:mm:ss')",
										"type": "Expression"
									},
									"type": "String"
								},
								"Week": {
									"value": {
										"value": "@pipeline().parameters.WEEK",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msldev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExeCommissionWorkflow",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MSL_998].[SP_LOG_COMMISSION_WORKFLOW_ETL]",
							"storedProcedureParameters": {
								"Period": {
									"value": {
										"value": "@concat(pipeline().parameters.MONTH, '/', pipeline().parameters.YEAR)",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "FAILED",
									"type": "String"
								},
								"Error": {
									"value": {
										"value": "@activity('ExeCommissionWorkflow').error.message",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"EndDateTime": {
									"value": {
										"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'Eastern Standard Time'), 'MM:dd:yyyy HH:mm:ss')",
										"type": "Expression"
									},
									"type": "String"
								},
								"Week": {
									"value": {
										"value": "@pipeline().parameters.WEEK",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msldev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"concurrency": 2,
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"MONTH": {
						"type": "string"
					},
					"YEAR": {
						"type": "string"
					},
					"State": {
						"type": "string"
					},
					"WEEK": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-01-12T07:23:36Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer_msldev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIPELINE_FOR_MSL_COMMISSION_CALCULATION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "UpdateStatusInProgress",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateAuditStatusInProgress",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MSL_998].[MSL_SP_UPDATE_COMMISSION_STATUS]",
							"storedProcedureParameters": {
								"Month": {
									"value": {
										"value": "@pipeline().parameters.Month",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Year": {
									"value": {
										"value": "@pipeline().parameters.Year",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Week": {
									"value": {
										"value": "@pipeline().parameters.Week",
										"type": "Expression"
									},
									"type": "String"
								},
								"Type": {
									"value": {
										"value": "@pipeline().parameters.CommissionType",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "IN PROGRESS",
									"type": "String"
								},
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msldev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ExecuteCommissionProcess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusInProgress",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MSL_998].[MSL_SP_COMMISSION_PROCESS_WRAPPER]",
							"storedProcedureParameters": {
								"Month": {
									"value": {
										"value": "@pipeline().parameters.Month",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Year": {
									"value": {
										"value": "@pipeline().parameters.Year",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Week": {
									"value": {
										"value": "@pipeline().parameters.Week",
										"type": "Expression"
									},
									"type": "String"
								},
								"Type": {
									"value": {
										"value": "@pipeline().parameters.CommissionType",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msldev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExecuteCommissionProcess",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MSL_998].[MSL_SP_UPDATE_COMMISSION_STATUS]",
							"storedProcedureParameters": {
								"Month": {
									"value": {
										"value": "@pipeline().parameters.Month",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Year": {
									"value": {
										"value": "@pipeline().parameters.Year",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Week": {
									"value": {
										"value": "@pipeline().parameters.Week",
										"type": "Expression"
									},
									"type": "String"
								},
								"Type": {
									"value": {
										"value": "@pipeline().parameters.CommissionType",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "COMPLETED",
									"type": "String"
								},
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msldev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExecuteCommissionProcess",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MSL_998].[MSL_SP_UPDATE_COMMISSION_STATUS]",
							"storedProcedureParameters": {
								"Month": {
									"value": {
										"value": "@pipeline().parameters.Month",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Year": {
									"value": {
										"value": "@pipeline().parameters.Year",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Week": {
									"value": {
										"value": "@pipeline().parameters.Week",
										"type": "Expression"
									},
									"type": "String"
								},
								"Type": {
									"value": {
										"value": "@pipeline().parameters.CommissionType",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "FAILED",
									"type": "String"
								},
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"ErrorMessage": {
									"value": {
										"value": "@activity('ExecuteCommissionProcess').error.message",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msldev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateAuditStatusInProgress",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MSL_998].[SP_LOG_COMMISSION_WORKFLOW_ETL]",
							"storedProcedureParameters": {
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Period": {
									"value": {
										"value": "@concat(string(pipeline().parameters.Month), '/', string(pipeline().parameters.Year))",
										"type": "Expression"
									},
									"type": "String"
								},
								"CommissionType": {
									"value": {
										"value": "@pipeline().parameters.CommissionType",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "IN PROGRESS",
									"type": "String"
								},
								"StartDateTime": {
									"value": {
										"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'Eastern Standard Time'), 'MM:dd:yyyy HH:mm:ss')",
										"type": "Expression"
									},
									"type": "String"
								},
								"Week": {
									"value": {
										"value": "@pipeline().parameters.Week",
										"type": "Expression"
									},
									"type": "String"
								},
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msldev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateAuditStatusSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusSuccess",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MSL_998].[SP_LOG_COMMISSION_WORKFLOW_ETL]",
							"storedProcedureParameters": {
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": {
										"value": "COMPLETED",
										"type": "Expression"
									},
									"type": "String"
								},
								"EndDateTime": {
									"value": {
										"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'Eastern Standard Time'), 'MM:dd:yyyy HH:mm:ss')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msldev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateAuditStatusFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusFailure",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							},
							{
								"activity": "UpdateAuditStatusInProgress",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "UpdateStatusInProgress",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "ExecuteCommissionProcess",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "UpdateStatusSuccess",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "UpdateAuditStatusSuccess",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MSL_998].[SP_LOG_COMMISSION_WORKFLOW_ETL]",
							"storedProcedureParameters": {
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "FAILED",
									"type": "String"
								},
								"EndDateTime": {
									"value": {
										"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'Eastern Standard Time'), 'MM:dd:yyyy HH:mm:ss')",
										"type": "Expression"
									},
									"type": "String"
								},
								"Error": {
									"value": {
										"value": "@concat(\n  'UASIP: ', coalesce(activity('UpdateAuditStatusInProgress')?.error?.message, 'NA'),\n  ' | USIP: ', coalesce(activity('UpdateStatusInProgress')?.error?.message, 'NA'),\n  ' | ECP: ', coalesce(activity('ExecuteCommissionProcess')?.error?.message, 'NA'),\n  ' | USS: ', coalesce(activity('UpdateStatusSuccess')?.error?.message, 'NA'),\n  ' | USF: ', coalesce(activity('UpdateStatusFailure')?.error?.message, 'NA'),\n  ' | UASS: ', coalesce(activity('UpdateAuditStatusSuccess')?.error?.message, 'NA')\n)\n",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msldev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Month": {
						"type": "int"
					},
					"Year": {
						"type": "int"
					},
					"Week": {
						"type": "string"
					},
					"CommissionType": {
						"type": "string"
					},
					"AuditID": {
						"type": "int"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-01-27T18:27:13Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer_msldev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIPELINE_FOR_MSL_FL_BOB_GENERATION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "UpdateStatusInProgress",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MSL_998].[MSL_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "IN PROGRESS",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msldev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ExecuteBobProcess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateAuditWithRunID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@if(equals(pipeline().parameters.State, 'OOS'), '[MSL_998].[MSL_SP_BOB_PROCESS_OOS]', '[MSL_998].[MSL_SP_BOB_PROCESS_FL]')",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"PeriodName ": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"PreviousPeriodName ": {
									"value": {
										"value": "@pipeline().parameters.PreviousPeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"IsRegeneration ": {
									"value": {
										"value": "@pipeline().parameters.IsRegeneration",
										"type": "Expression"
									},
									"type": "Boolean"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msldev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExecuteBobProcess",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MSL_998].[MSL_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "COMPLETED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msldev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExecuteBobProcess",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MSL_998].[MSL_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "FAILED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msldev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateAuditWithRunID",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusInProgress",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MSL_998].[MSL_SP_UPDATE_BOB_AUDIT]",
							"storedProcedureParameters": {
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "IN PROGRESS",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msldev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateAuditSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusSuccess",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MSL_998].[MSL_SP_UPDATE_BOB_AUDIT]",
							"storedProcedureParameters": {
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"DateTime_Completed": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Error_Message": {
									"value": "The Audit Captured with No Errors",
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "COMPLETED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msldev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateAuditFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusFailure",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MSL_998].[MSL_SP_UPDATE_BOB_AUDIT]",
							"storedProcedureParameters": {
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"DateTime_Completed": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Error_Message": {
									"value": "An Error Occurred or The BOB Generation Failed  ",
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "FAILED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msldev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"PeriodName": {
						"type": "string"
					},
					"PreviousPeriodName": {
						"type": "string"
					},
					"State": {
						"type": "string"
					},
					"IsRegeneration": {
						"type": "bool",
						"defaultValue": false
					},
					"AuditID": {
						"type": "int"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-11-13T11:36:58Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer_msldev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIPELINE_FOR_MSL_OOS_BOB_GENERATION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "UpdateStatusInProgress",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MSL_998].[MSL_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "IN PROGRESS",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msldev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ExecuteBobProcess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateAuditWithRunID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@if(equals(pipeline().parameters.State, 'OOS'), '[MSL_998].[MSL_SP_BOB_PROCESS_OOS]', '[MSL_998].[MSL_SP_BOB_PROCESS_FL]')",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"PeriodName ": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"PreviousPeriodName ": {
									"value": {
										"value": "@pipeline().parameters.PreviousPeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"IsRegeneration ": {
									"value": {
										"value": "@pipeline().parameters.IsRegeneration",
										"type": "Expression"
									},
									"type": "Boolean"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msldev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExecuteBobProcess",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MSL_998].[MSL_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "COMPLETED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msldev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExecuteBobProcess",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MSL_998].[MSL_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "FAILED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msldev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateAuditWithRunID",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusInProgress",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MSL_998].[MSL_SP_UPDATE_BOB_AUDIT]",
							"storedProcedureParameters": {
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "IN PROGRESS",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msldev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateAuditSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusSuccess",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MSL_998].[MSL_SP_UPDATE_BOB_AUDIT]",
							"storedProcedureParameters": {
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"DateTime_Completed": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Error_Message": {
									"value": "The Audit Captured with No Errors",
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "COMPLETED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msldev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateAuditFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusFailure",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[MSL_998].[MSL_SP_UPDATE_BOB_AUDIT]",
							"storedProcedureParameters": {
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"DateTime_Completed": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Error_Message": {
									"value": "An Error Occurred or The BOB Generation Failed  ",
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "FAILED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msldev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"PeriodName": {
						"type": "string"
					},
					"PreviousPeriodName": {
						"type": "string"
					},
					"State": {
						"type": "string"
					},
					"IsRegeneration": {
						"type": "bool",
						"defaultValue": false
					},
					"AuditID": {
						"type": "int"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-11-13T11:50:45Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer_msldev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIPELINE_FOR_PAG_BOB_GENERATION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "UpdateStatusInProgress",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PAG_105].[PAG_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "IN PROGRESS",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ExecuteBOBProcess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusInProgress",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@if(equals(pipeline().parameters.State, 'OOS'), '[PAG_105].[PAG_SP_BOB_PROCESS_OOS]', if(equals(pipeline().parameters.State, 'FL'), '[PAG_105].[PAG_SP_BOB_PROCESS_FL]', '[PAG_105].[PAG_SP_BOB_PROCESS_MEDICARE]'))",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"PreviousPeriodName": {
									"value": {
										"value": "@pipeline().parameters.PreviousPeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"IsRegeneration": {
									"value": {
										"value": "@pipeline().parameters.IsRegeneration",
										"type": "Expression"
									},
									"type": "Boolean"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExecuteBOBProcess",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PAG_105].[PAG_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "COMPLETED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExecuteBOBProcess",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PAG_105].[PAG_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "FAILED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlLinkedService",
							"type": "LinkedServiceReference"
						}
					}
				],
				"concurrency": 2,
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"PeriodName": {
						"type": "string"
					},
					"PreviousPeriodName": {
						"type": "string"
					},
					"State": {
						"type": "string"
					},
					"IsRegeneration": {
						"type": "bool",
						"defaultValue": false
					},
					"AuditID": {
						"type": "int",
						"defaultValue": 0
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-07-01T11:43:44Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIPELINE_FOR_PAG_COMMISSION_CALCULATION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "UpdateStatusInProgress",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateAuditStatusInProgress",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PAG_105].[PAG_CWKF_SP_UPDATE_COMMISSION_STATUS]",
							"storedProcedureParameters": {
								"Month": {
									"value": {
										"value": "@pipeline().parameters.Month",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Year": {
									"value": {
										"value": "@pipeline().parameters.Year",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Week": {
									"value": {
										"value": "@pipeline().parameters.Week",
										"type": "Expression"
									},
									"type": "String"
								},
								"Type": {
									"value": {
										"value": "@pipeline().parameters.CommissionType",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "IN PROGRESS",
									"type": "String"
								},
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msluat",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ExecuteCommissionProcess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusInProgress",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PAG_105].[PAG_CWKF_SP_COMMISSION_PROCESS_WRAPPER]",
							"storedProcedureParameters": {
								"Month": {
									"value": {
										"value": "@pipeline().parameters.Month",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Year": {
									"value": {
										"value": "@pipeline().parameters.Year",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Week": {
									"value": {
										"value": "@pipeline().parameters.Week",
										"type": "Expression"
									},
									"type": "String"
								},
								"Type": {
									"value": {
										"value": "@pipeline().parameters.CommissionType",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msluat",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExecuteCommissionProcess",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PAG_105].[PAG_CWKF_SP_UPDATE_COMMISSION_STATUS]",
							"storedProcedureParameters": {
								"Month": {
									"value": {
										"value": "@pipeline().parameters.Month",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Year": {
									"value": {
										"value": "@pipeline().parameters.Year",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Week": {
									"value": {
										"value": "@pipeline().parameters.Week",
										"type": "Expression"
									},
									"type": "String"
								},
								"Type": {
									"value": {
										"value": "@pipeline().parameters.CommissionType",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "COMPLETED",
									"type": "String"
								},
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msluat",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExecuteCommissionProcess",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PAG_105].[PAG_CWKF_SP_UPDATE_COMMISSION_STATUS]",
							"storedProcedureParameters": {
								"Month": {
									"value": {
										"value": "@pipeline().parameters.Month",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Year": {
									"value": {
										"value": "@pipeline().parameters.Year",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Week": {
									"value": {
										"value": "@pipeline().parameters.Week",
										"type": "Expression"
									},
									"type": "String"
								},
								"Type": {
									"value": {
										"value": "@pipeline().parameters.CommissionType",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "FAILED",
									"type": "String"
								},
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"ErrorMessage": {
									"value": {
										"value": "@activity('ExecuteCommissionProcess').error.message",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msluat",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateAuditStatusInProgress",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PAG_105].[SP_LOG_COMMISSION_WORKFLOW_ETL]",
							"storedProcedureParameters": {
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Period": {
									"value": {
										"value": "@concat(string(pipeline().parameters.Month), '/', string(pipeline().parameters.Year))",
										"type": "Expression"
									},
									"type": "String"
								},
								"CommissionType": {
									"value": {
										"value": "@pipeline().parameters.CommissionType",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "IN PROGRESS",
									"type": "String"
								},
								"StartDateTime": {
									"value": {
										"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'Eastern Standard Time'), 'MM:dd:yyyy HH:mm:ss')",
										"type": "Expression"
									},
									"type": "String"
								},
								"Week": {
									"value": {
										"value": "@pipeline().parameters.Week",
										"type": "Expression"
									},
									"type": "String"
								},
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msluat",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateAuditStatusSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusSuccess",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PAG_105].[SP_LOG_COMMISSION_WORKFLOW_ETL]",
							"storedProcedureParameters": {
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": {
										"value": "COMPLETED",
										"type": "Expression"
									},
									"type": "String"
								},
								"EndDateTime": {
									"value": {
										"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'Eastern Standard Time'), 'MM:dd:yyyy HH:mm:ss')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msluat",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateAuditStatusFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusFailure",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							},
							{
								"activity": "UpdateAuditStatusInProgress",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "UpdateStatusInProgress",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "ExecuteCommissionProcess",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "UpdateStatusSuccess",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "UpdateAuditStatusSuccess",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[PAG_105].[SP_LOG_COMMISSION_WORKFLOW_ETL]",
							"storedProcedureParameters": {
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "FAILED",
									"type": "String"
								},
								"EndDateTime": {
									"value": {
										"value": "@formatDateTime(convertTimeZone(utcNow(), 'UTC', 'Eastern Standard Time'), 'MM:dd:yyyy HH:mm:ss')",
										"type": "Expression"
									},
									"type": "String"
								},
								"Error": {
									"value": {
										"value": "@concat(\n  'UASIP: ', coalesce(activity('UpdateAuditStatusInProgress')?.error?.message, 'NA'),\n  ' | USIP: ', coalesce(activity('UpdateStatusInProgress')?.error?.message, 'NA'),\n  ' | ECP: ', coalesce(activity('ExecuteCommissionProcess')?.error?.message, 'NA'),\n  ' | USS: ', coalesce(activity('UpdateStatusSuccess')?.error?.message, 'NA'),\n  ' | USF: ', coalesce(activity('UpdateStatusFailure')?.error?.message, 'NA'),\n  ' | UASS: ', coalesce(activity('UpdateAuditStatusSuccess')?.error?.message, 'NA')\n)\n",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer_msluat",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Month": {
						"type": "int"
					},
					"Year": {
						"type": "int"
					},
					"Week": {
						"type": "string"
					},
					"CommissionType": {
						"type": "string"
					},
					"AuditID": {
						"type": "int"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-05-22T10:56:48Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer_msluat')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIPELINE_FOR_SIM_BOB_GENERATION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "UpdateStatusInProgress",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "IN PROGRESS",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ExecuteBOBProcess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusInProgress",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@if(equals(pipeline().parameters.State, 'OOS'), '[SIM_103].[SIM_SP_BOB_PROCESS_OOS]', if(equals(pipeline().parameters.State, 'FL'), '[SIM_103].[SIM_SP_BOB_PROCESS_FL]', '[SIM_103].[SIM_SP_BOB_PROCESS_MEDICARE]'))",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"PreviousPeriodName": {
									"value": {
										"value": "@pipeline().parameters.PreviousPeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"IsRegeneration": {
									"value": {
										"value": "@pipeline().parameters.IsRegeneration",
										"type": "Expression"
									},
									"type": "Boolean"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExecuteBOBProcess",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "COMPLETED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExecuteBOBProcess",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "FAILED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlLinkedService",
							"type": "LinkedServiceReference"
						}
					}
				],
				"concurrency": 2,
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"PeriodName": {
						"type": "string"
					},
					"PreviousPeriodName": {
						"type": "string"
					},
					"State": {
						"type": "string"
					},
					"IsRegeneration": {
						"type": "bool",
						"defaultValue": false
					},
					"AuditID": {
						"type": "int",
						"defaultValue": 0
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-10T15:33:00Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIPELINE_FOR_SIM_FL_BOB_GENERATION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "UpdateStatusInProgress",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "IN PROGRESS",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ExecuteBobProcess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateAuditWithRunID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@if(equals(pipeline().parameters.State, 'OOS'), '[SIM_103].[SIM_SP_BOB_PROCESS_OOS]', '[SIM_103].[SIM_SP_BOB_PROCESS_FL]')",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"PeriodName ": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"PreviousPeriodName ": {
									"value": {
										"value": "@pipeline().parameters.PreviousPeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"IsRegeneration ": {
									"value": {
										"value": "@pipeline().parameters.IsRegeneration",
										"type": "Expression"
									},
									"type": "Boolean"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExecuteBobProcess",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "COMPLETED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateStatusFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ExecuteBobProcess",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_STATUS]",
							"storedProcedureParameters": {
								"PeriodName": {
									"value": {
										"value": "@pipeline().parameters.PeriodName",
										"type": "Expression"
									},
									"type": "String"
								},
								"State": {
									"value": {
										"value": "@pipeline().parameters.State",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "FAILED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateAuditWithRunID",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusInProgress",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_BOB_AUDIT]",
							"storedProcedureParameters": {
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "IN PROGRESS",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateAuditSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusSuccess",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_BOB_AUDIT]",
							"storedProcedureParameters": {
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"DateTime_Completed": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Error_Message": {
									"value": "The Audit Captured with No Errors",
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "COMPLETED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "UpdateAuditFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "UpdateStatusFailure",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[SIM_103].[SIM_SP_UPDATE_BOB_AUDIT]",
							"storedProcedureParameters": {
								"AuditID": {
									"value": {
										"value": "@pipeline().parameters.AuditID",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"DateTime_Completed": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"Error_Message": {
									"value": "An Error Occurred or The BOB Generation Failed  ",
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": "FAILED",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureSqlLinkedService",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"PeriodName": {
						"type": "string"
					},
					"PreviousPeriodName": {
						"type": "string"
					},
					"State": {
						"type": "string"
					},
					"IsRegeneration": {
						"type": "bool",
						"defaultValue": false
					},
					"AuditID": {
						"type": "int"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-10-13T18:30:45Z"
			},
			"dependsOn": []
		}
	]
}